.customers {
  padding: 55px 0 110px;

  &__title {
    margin-bottom: var(--gap-20);
  }

  &__block {
    position: relative;
  }

  &__swiper {
    margin-right: 1px;
    margin-bottom: var(--gap-30);
    &-btn {
      @include btnArray(var(--green), var(--white));
    }

  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-img {
      border-radius: 4px;
      height: 139px;
      border: .5px solid var(--black);
      padding: var(--gap-20);
      box-sizing: border-box;
      margin-bottom: var(--gap-12);
      img {
        object-fit: contain;
      }
    }

    &-text {
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__pagination {
    @include pagination(512px, var(--green));
    padding: 0 50px;
  }
}

@media screen and (max-width: 767px) {
  .customers {
    padding: 35px 0 70px;

    &__swiper {
      &-btn {
        display: none;
      }
    }

    &__navigation {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 575px) {
  .customers {
    &__slide {
      &-img {
        height: 79px;
        padding: var(--gap-12);
        margin-bottom: 8px;
      }
    }
  }
}