.main-news {
  padding: 70px 0;

  &__top {
    margin-bottom: 20px;
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-30);
  }

  &__link {
    @include btn;
    max-width: 287px;
    width: 100%;
  }

  &__item {
    border: none;
    &-wrap {
      gap: var(--gap-30);
    }
    &-img {
      width: calc((100% - 30px) / 2);
      img {
        height: 100%;
      }
    }

    &-right {
      width: calc((100% - 30px) / 2);
    }

    &-date {
      margin-bottom: 16px;
      color: var(--black-transporent-50);
    }

    &-title {
      margin-bottom: 10px;
      text-transform: uppercase;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &-text {
      overflow: hidden;
      margin-bottom: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    &-more {
      @include btnMore;

      &-wrap {
        display: flex;
      }
    }
  }

}

@media screen and (max-width: 1110px) {
  .main-news {
    &__bottom {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 992px) {
  .main-news {
    &__item {
      &-wrap {
        gap: var(--gap-12);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main-news {
    padding: 35px 0 35px;

    &__top {
      margin-bottom: var(--gap-12);
    }

    &__content {
      padding-bottom: 78px;
    }

    &__link {
      position: absolute;
      bottom: 0;
      top: calc(100% - 48px);
      width: 100%;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 575px) {
  .main-news {
    &__item {
      &-wrap {
        flex-direction: column;
        gap: var(--gap-16);
      }

      &-img {
        width: 100%;
        max-height: 195px;
      }

      &-right {
        width: 100%;
      }

      &-text {
        display: none;
      }
    }
  }
}