.main-news {
  padding: 55px 0;

  &__top {
    margin-bottom: 36px;
    gap: 54px;
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-30);
  }

  &__link {
    @include btn;
    padding: 8.5px 20px;
    max-width: 154px;
    width: 100%;
    font-size: var(--text-size-12);
    line-height: var(--text-height-135);
  }

  &__item {
    border: none;
    &-wrap {
      gap: var(--gap-30);
    }
    &-img {
      border-radius: 4px;
      width: calc((100% - 30px) / 2);
      img {
        border-radius: 4px;
      }
    }

    &-right {
      width: calc((100% - 30px) / 2);
    }

    &-date {
      font-size: var(--text-size-14);
      line-height: var(--text-height-135);
      margin-bottom: 16px;
      color: var(--black-transporent-50);
    }

    &-title {
      color: var(--black);
      margin-bottom: 8px;
      text-transform: uppercase;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &-text {
      font-size: var(--text-size-14);
      line-height: var(--text-height-145);
      color: var(--black);
      opacity: 70%;
      overflow: hidden;
      margin-bottom: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    &-more {
      @include btnMore;
      &-wrap {
        display: flex;
      }
    }
  }

}

@media screen and (max-width: 992px) {
  .main-news {
    &__item {
      &-wrap {
        gap: var(--gap-12);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main-news {
    padding: 30px 0;

    &__top {
      margin-bottom: var(--gap-20);
      justify-content: space-between;
    }

    &__bottom {
      grid-template-columns: 1fr;
    }

    &__content {
      padding-bottom: 78px;
    }

    &__item {
      &-date {
        font-size: var(--text-size-12);
        margin-bottom: var(--gap-12);
      }

      &-title {
        margin-bottom: 4px;
      }

      &-text {
        font-size: 11px;
        margin-bottom: 21px;
      }

      &-more {
        span {
          font-size: var(--text-size-10);
        }
      }
    }
  }
}