<div class="qp__left-block">
  <h1 class="text-h2 text-h2-1 qp__title text-uppercase">
    Основные механизмы безопасности
  </h1>
  <div class="qp__descr">
    <p class="descr1">
      При проектировании и разработке операционной системы QP ОС особое внимание уделено защищенности, безопасности и контролю доступа к данным.
    </p>
  </div>
  <div class="qp__accordion">
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Управление доступом
          </h3>
          <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            В составе QP ОС разработано приложение для управления пользователями и группами. Приложение позволяет настраивать права доступа, устанавливать привилегии, добавлять и удалять пользователей/группы, а также редактировать их данные.
          </p>
          <div class="qp__accordion-img">
            <img src="./img/26. Управление пользователями.png">
          </div>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Контроль целостности
          </h3>
          <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            Средство контроля целостности предназначено для надежного восстановления файлов и каталогов, зарегистрированных в системе контроля целостности и установленных на предстартовый и/или периодический контроль, а также предоставляет функционал контроля оборудования.
          </p>
          <div class="qp__accordion-img">
            <img src="./img/27. Контроль целостности.png">
          </div>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Резервное копирование
          </h3>
          <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            Приложение BackupControl предназначено для резервного копирования и восстановления данных на жестком диске.
          </p>
          <div class="qp__accordion-img">
            <img src="./img/28. BackupControl.png">
          </div>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Управление аудитом
          </h3>
          <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            Приложение AuditControl предназначено для просмотра журналов, формируемых в процессе работы системы и управления ими.
          </p>
          <p class="qp__accordion-descr-2 descr1">
            Приложение позволяет:
          </p>
          <div class="qp__accordion-descr">
            <ul class="qp__roles-list list-reset d-flex flex-column">
              <li class="qp__item descr1">
                Просматривать и сохранять события;
              </li>
              <li class="qp__item descr1">
                Просматривать события дистанционно;
              </li>
              <li class="qp__item descr1">
                Изменять тип ведения журнала;
              </li>
              <li class="qp__item descr1">
                Производить фильтрацию ведения и поиска событий;
              </li>
              <li class="qp__item descr1">
                Проводить настройку автоматической архивации журналов;
              </li>
              <li class="qp__item descr1">
                Устанавливать собственные библиотеки сообщений;
              </li>
              <li class="qp__item descr1">
                Устанавливать правила безопасности для каждого журнала отдельно.
              </li>
            </ul>
          </div>
          <div class="qp__accordion-img">
            <img src="./img/29. Управление аудитом.png">
          </div>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Межсетевой экран
          </h3>
          <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            Межсетевой экран осуществляет фильтрацию сетевых пакетов и защиту от сетевых атак.
            Правила фильтрации создаются для каждого сетевого адаптера системы при помощи специального приложения.
          </p>
          <div class="qp__accordion-img">
            <img src="./img/30. Межсетевой экран.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>