<section class="licenses">
  <div class="container-fluid custom-container">
    <div class="licenses__content">
      <div class="pages-header licenses__pages-header">
        <div class="pages-links">
          <nav class="pages-links-nav">
            <ul class="pages-links-list d-flex flex-wrap align-items-center list-reset">
              <li class="pages-links-item">
                <a href="activity.html" class="pages-links-link">
                  направления деятельности
                </a>
              </li>
              <li class="pages-links-item">
                <a href="history.html" class="pages-links-link">
                  история
                </a>
              </li>
              <li class="pages-links-item">
                <a href="licenses.html" class="pages-links-link active">
                  Лицензии
                </a>
              </li>
              <li class="pages-links-item">
                <a href="events.html" class="pages-links-link">
                  мероприятия
                </a>
              </li>
              <li class="pages-links-item">
                <a href="contacts.html" class="pages-links-link">
                  Контакты
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <h1 class="pages-title text-h2 text-uppercase">
          лицензии
        </h1>
      </div>
      <div class="licenses__box">
        <div class="licenses__filter">
          <ul class="licenses__filter-list list-reset">
            <li class="licenses__filter-item">
              <label class="licenses__filter-checkbox">
                <input class="licenses__filter-input" type="checkbox" name="FSB" value="ФСБ России">
                <span>ФСБ РОССИИ</span>
              </label>
            </li>
            <li class="licenses__filter-item">
              <label class="licenses__filter-checkbox">
                <input class="licenses__filter-input" type="checkbox" name="FSB" value="ФСтэк РОССИИ">
                <span>ФСтэк РОССИИ</span>
              </label>
            </li>
            <li class="licenses__filter-item">
              <label class="licenses__filter-checkbox">
                <input class="licenses__filter-input" type="checkbox" name="FSB" value="Минпромторг россии">
                <span>Минпромторг россии</span>
              </label>
            </li>
            <li class="licenses__filter-item">
              <label class="licenses__filter-checkbox">
                <input class="licenses__filter-input" type="checkbox" name="FSB" value="Минобороны">
                <span>Минобороны</span>
              </label>
            </li>
            <li class="licenses__filter-item">
              <label class="licenses__filter-checkbox">
                <input class="licenses__filter-input" type="checkbox" name="FSB" value="МЧС России">
                <span>МЧС России</span>
              </label>
            </li>
            <li class="licenses__filter-item">
              <label class="licenses__filter-checkbox">
                <input class="licenses__filter-input" type="checkbox" name="FSB" value="Роскомнадзор">
                <span>Роскомнадзор</span>
              </label>
            </li>
            <li class="licenses__filter-item">
              <label class="licenses__filter-checkbox">
                <input class="licenses__filter-input" type="checkbox" name="FSB" value="Остальные">
                <span>Остальные</span>
              </label>
            </li>
          </ul>
          <div class="licenses__filter-btns">
            <button class="licenses__filter-btn btn-reset licenses__filter-btn-all">
              Выбрать все
            </button>
            <button disabled class="licenses__filter-btn btn-reset licenses__filter-btn-reset">
              сбросить
            </button>
          </div>
        </div>
        <div class="licenses__list d-flex flex-column">
          <div class="licenses__item">
            <div class="licenses__item-left">
              <div class="licenses__item-filter">ФСБ РОССИИ</div>
              <h3 class="licenses__item-name">
                Лицензия ФСБ РОССИИ № 0131563 ОТ 05.06.2021
              </h3>
              <div class="licenses__item-date">
                срок действия:
                <span class="licenses__item-date-span">
                  10.08.2024
                </span>
              </div>
            </div>
            <div class="licenses__item-right">
              <a class="licenses__item-link">
                Скачать
                <span class="licenses__item-link-svg">
                  <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.27614 2 8.5 2.22386 8.5 2.5V10.2929L10.6464 8.14645C10.8417 7.95118 11.1583 7.95118 11.3536 8.14645C11.5488 8.34171 11.5488 8.65829 11.3536 8.85355L8.35355 11.8536C8.15829 12.0488 7.84171 12.0488 7.64645 11.8536L4.64645 8.85355C4.45118 8.65829 4.45118 8.34171 4.64645 8.14645C4.84171 7.95118 5.15829 7.95118 5.35355 8.14645L7.5 10.2929V2.5C7.5 2.22386 7.72386 2 8 2ZM2 11C2.27614 11 2.5 11.2239 2.5 11.5V13C2.5 13.5523 2.94772 14 3.5 14H12.5C13.0523 14 13.5 13.5523 13.5 13V11.5C13.5 11.2239 13.7239 11 14 11C14.2761 11 14.5 11.2239 14.5 11.5V13C14.5 14.1046 13.6046 15 12.5 15H3.5C2.39543 15 1.5 14.1046 1.5 13V11.5C1.5 11.2239 1.72386 11 2 11Z" fill="white"/>
                    </svg>
                </span>
              </a>
            </div>
          </div>
          <div class="licenses__item">
            <div class="licenses__item-left">
              <div class="licenses__item-filter">ФСБ РОССИИ</div>
              <h3 class="licenses__item-name">
                Лицензия ФСБ РОССИИ № 0131563 ОТ 05.06.2021
              </h3>
              <div class="licenses__item-date">
                срок действия:
                <span class="licenses__item-date-span">
                  10.08.2024
                </span>
              </div>
            </div>
            <div class="licenses__item-right">
              <a class="licenses__item-link">
                Скачать
                <span class="licenses__item-link-svg">
                  <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.27614 2 8.5 2.22386 8.5 2.5V10.2929L10.6464 8.14645C10.8417 7.95118 11.1583 7.95118 11.3536 8.14645C11.5488 8.34171 11.5488 8.65829 11.3536 8.85355L8.35355 11.8536C8.15829 12.0488 7.84171 12.0488 7.64645 11.8536L4.64645 8.85355C4.45118 8.65829 4.45118 8.34171 4.64645 8.14645C4.84171 7.95118 5.15829 7.95118 5.35355 8.14645L7.5 10.2929V2.5C7.5 2.22386 7.72386 2 8 2ZM2 11C2.27614 11 2.5 11.2239 2.5 11.5V13C2.5 13.5523 2.94772 14 3.5 14H12.5C13.0523 14 13.5 13.5523 13.5 13V11.5C13.5 11.2239 13.7239 11 14 11C14.2761 11 14.5 11.2239 14.5 11.5V13C14.5 14.1046 13.6046 15 12.5 15H3.5C2.39543 15 1.5 14.1046 1.5 13V11.5C1.5 11.2239 1.72386 11 2 11Z" fill="white"/>
                    </svg>
                </span>
              </a>
            </div>
          </div>
          <div class="licenses__item">
            <div class="licenses__item-left">
              <div class="licenses__item-filter">ФСБ РОССИИ</div>
              <h3 class="licenses__item-name">
                Лицензия ФСБ РОССИИ № 0131563 ОТ 05.06.2021
              </h3>
              <div class="licenses__item-date">
                срок действия:
                <span class="licenses__item-date-span">
                  10.08.2024
                </span>
              </div>
            </div>
            <div class="licenses__item-right">
              <a class="licenses__item-link">
                Скачать
                <span class="licenses__item-link-svg">
                  <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.27614 2 8.5 2.22386 8.5 2.5V10.2929L10.6464 8.14645C10.8417 7.95118 11.1583 7.95118 11.3536 8.14645C11.5488 8.34171 11.5488 8.65829 11.3536 8.85355L8.35355 11.8536C8.15829 12.0488 7.84171 12.0488 7.64645 11.8536L4.64645 8.85355C4.45118 8.65829 4.45118 8.34171 4.64645 8.14645C4.84171 7.95118 5.15829 7.95118 5.35355 8.14645L7.5 10.2929V2.5C7.5 2.22386 7.72386 2 8 2ZM2 11C2.27614 11 2.5 11.2239 2.5 11.5V13C2.5 13.5523 2.94772 14 3.5 14H12.5C13.0523 14 13.5 13.5523 13.5 13V11.5C13.5 11.2239 13.7239 11 14 11C14.2761 11 14.5 11.2239 14.5 11.5V13C14.5 14.1046 13.6046 15 12.5 15H3.5C2.39543 15 1.5 14.1046 1.5 13V11.5C1.5 11.2239 1.72386 11 2 11Z" fill="white"/>
                    </svg>
                </span>
              </a>
            </div>
          </div>
          <div class="licenses__item">
            <div class="licenses__item-left">
              <div class="licenses__item-filter">ФСБ РОССИИ</div>
              <h3 class="licenses__item-name">
                Лицензия ФСБ РОССИИ № 0131563 ОТ 05.06.2021
              </h3>
              <div class="licenses__item-date">
                срок действия:
                <span class="licenses__item-date-span">
                  10.08.2024
                </span>
              </div>
            </div>
            <div class="licenses__item-right">
              <a class="licenses__item-link">
                Скачать
                <span class="licenses__item-link-svg">
                  <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.27614 2 8.5 2.22386 8.5 2.5V10.2929L10.6464 8.14645C10.8417 7.95118 11.1583 7.95118 11.3536 8.14645C11.5488 8.34171 11.5488 8.65829 11.3536 8.85355L8.35355 11.8536C8.15829 12.0488 7.84171 12.0488 7.64645 11.8536L4.64645 8.85355C4.45118 8.65829 4.45118 8.34171 4.64645 8.14645C4.84171 7.95118 5.15829 7.95118 5.35355 8.14645L7.5 10.2929V2.5C7.5 2.22386 7.72386 2 8 2ZM2 11C2.27614 11 2.5 11.2239 2.5 11.5V13C2.5 13.5523 2.94772 14 3.5 14H12.5C13.0523 14 13.5 13.5523 13.5 13V11.5C13.5 11.2239 13.7239 11 14 11C14.2761 11 14.5 11.2239 14.5 11.5V13C14.5 14.1046 13.6046 15 12.5 15H3.5C2.39543 15 1.5 14.1046 1.5 13V11.5C1.5 11.2239 1.72386 11 2 11Z" fill="white"/>
                    </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="licenses__list d-flex flex-column">
          <h2 class="licenses__list-title">
            сертификаты
          </h2>
          <div class="licenses__item">
            <div class="licenses__item-left">
              <div class="licenses__item-filter">ФСБ РОССИИ</div>
              <h3 class="licenses__item-name">
                Лицензия ФСБ РОССИИ № 0131563 ОТ 05.06.2021
              </h3>
              <div class="licenses__item-date">
                срок действия:
                <span class="licenses__item-date-span">
                  10.08.2024
                </span>
              </div>
            </div>
            <div class="licenses__item-right">
              <a class="licenses__item-link">
                Скачать
                <span class="licenses__item-link-svg">
                  <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.27614 2 8.5 2.22386 8.5 2.5V10.2929L10.6464 8.14645C10.8417 7.95118 11.1583 7.95118 11.3536 8.14645C11.5488 8.34171 11.5488 8.65829 11.3536 8.85355L8.35355 11.8536C8.15829 12.0488 7.84171 12.0488 7.64645 11.8536L4.64645 8.85355C4.45118 8.65829 4.45118 8.34171 4.64645 8.14645C4.84171 7.95118 5.15829 7.95118 5.35355 8.14645L7.5 10.2929V2.5C7.5 2.22386 7.72386 2 8 2ZM2 11C2.27614 11 2.5 11.2239 2.5 11.5V13C2.5 13.5523 2.94772 14 3.5 14H12.5C13.0523 14 13.5 13.5523 13.5 13V11.5C13.5 11.2239 13.7239 11 14 11C14.2761 11 14.5 11.2239 14.5 11.5V13C14.5 14.1046 13.6046 15 12.5 15H3.5C2.39543 15 1.5 14.1046 1.5 13V11.5C1.5 11.2239 1.72386 11 2 11Z" fill="white"/>
                    </svg>
                </span>
              </a>
            </div>
          </div>
          <div class="licenses__item">
            <div class="licenses__item-left">
              <div class="licenses__item-filter">ФСБ РОССИИ</div>
              <h3 class="licenses__item-name">
                Лицензия ФСБ РОССИИ № 0131563 ОТ 05.06.2021
              </h3>
              <div class="licenses__item-date">
                срок действия:
                <span class="licenses__item-date-span">
                  10.08.2024
                </span>
              </div>
            </div>
            <div class="licenses__item-right">
              <a class="licenses__item-link">
                Скачать
                <span class="licenses__item-link-svg">
                  <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.27614 2 8.5 2.22386 8.5 2.5V10.2929L10.6464 8.14645C10.8417 7.95118 11.1583 7.95118 11.3536 8.14645C11.5488 8.34171 11.5488 8.65829 11.3536 8.85355L8.35355 11.8536C8.15829 12.0488 7.84171 12.0488 7.64645 11.8536L4.64645 8.85355C4.45118 8.65829 4.45118 8.34171 4.64645 8.14645C4.84171 7.95118 5.15829 7.95118 5.35355 8.14645L7.5 10.2929V2.5C7.5 2.22386 7.72386 2 8 2ZM2 11C2.27614 11 2.5 11.2239 2.5 11.5V13C2.5 13.5523 2.94772 14 3.5 14H12.5C13.0523 14 13.5 13.5523 13.5 13V11.5C13.5 11.2239 13.7239 11 14 11C14.2761 11 14.5 11.2239 14.5 11.5V13C14.5 14.1046 13.6046 15 12.5 15H3.5C2.39543 15 1.5 14.1046 1.5 13V11.5C1.5 11.2239 1.72386 11 2 11Z" fill="white"/>
                    </svg>
                </span>
              </a>
            </div>
          </div>
          <div class="licenses__item">
            <div class="licenses__item-left">
              <div class="licenses__item-filter">ФСБ РОССИИ</div>
              <h3 class="licenses__item-name">
                Лицензия ФСБ РОССИИ № 0131563 ОТ 05.06.2021
              </h3>
              <div class="licenses__item-date">
                срок действия:
                <span class="licenses__item-date-span">
                  10.08.2024
                </span>
              </div>
            </div>
            <div class="licenses__item-right">
              <a class="licenses__item-link">
                Скачать
                <span class="licenses__item-link-svg">
                  <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.27614 2 8.5 2.22386 8.5 2.5V10.2929L10.6464 8.14645C10.8417 7.95118 11.1583 7.95118 11.3536 8.14645C11.5488 8.34171 11.5488 8.65829 11.3536 8.85355L8.35355 11.8536C8.15829 12.0488 7.84171 12.0488 7.64645 11.8536L4.64645 8.85355C4.45118 8.65829 4.45118 8.34171 4.64645 8.14645C4.84171 7.95118 5.15829 7.95118 5.35355 8.14645L7.5 10.2929V2.5C7.5 2.22386 7.72386 2 8 2ZM2 11C2.27614 11 2.5 11.2239 2.5 11.5V13C2.5 13.5523 2.94772 14 3.5 14H12.5C13.0523 14 13.5 13.5523 13.5 13V11.5C13.5 11.2239 13.7239 11 14 11C14.2761 11 14.5 11.2239 14.5 11.5V13C14.5 14.1046 13.6046 15 12.5 15H3.5C2.39543 15 1.5 14.1046 1.5 13V11.5C1.5 11.2239 1.72386 11 2 11Z" fill="white"/>
                    </svg>
                </span>
              </a>
            </div>
          </div>
          <div class="licenses__item">
            <div class="licenses__item-left">
              <div class="licenses__item-filter">ФСБ РОССИИ</div>
              <h3 class="licenses__item-name">
                Лицензия ФСБ РОССИИ № 0131563 ОТ 05.06.2021
              </h3>
              <div class="licenses__item-date">
                срок действия:
                <span class="licenses__item-date-span">
                  10.08.2024
                </span>
              </div>
            </div>
            <div class="licenses__item-right">
              <a class="licenses__item-link">
                Скачать
                <span class="licenses__item-link-svg">
                  <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.27614 2 8.5 2.22386 8.5 2.5V10.2929L10.6464 8.14645C10.8417 7.95118 11.1583 7.95118 11.3536 8.14645C11.5488 8.34171 11.5488 8.65829 11.3536 8.85355L8.35355 11.8536C8.15829 12.0488 7.84171 12.0488 7.64645 11.8536L4.64645 8.85355C4.45118 8.65829 4.45118 8.34171 4.64645 8.14645C4.84171 7.95118 5.15829 7.95118 5.35355 8.14645L7.5 10.2929V2.5C7.5 2.22386 7.72386 2 8 2ZM2 11C2.27614 11 2.5 11.2239 2.5 11.5V13C2.5 13.5523 2.94772 14 3.5 14H12.5C13.0523 14 13.5 13.5523 13.5 13V11.5C13.5 11.2239 13.7239 11 14 11C14.2761 11 14.5 11.2239 14.5 11.5V13C14.5 14.1046 13.6046 15 12.5 15H3.5C2.39543 15 1.5 14.1046 1.5 13V11.5C1.5 11.2239 1.72386 11 2 11Z" fill="white"/>
                    </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="licenses__more">
        <button class="licenses__more-btn btn-reset">
          показать все
        </button>
      </div>
    </div>
  </div>
</section>