<div class="qp__left-block">
  <h1 class="text-h2 text-h2-1 qp__title text-uppercase">
    Защищенный мессенджер QP Криптофон
  </h1>
  <div class="qp__descr">
    <p class="descr1">
      Защищенный мессенджер QP Криптофон предназначен для защиты конфиденциальной информации, не содержащей государственной тайны, от несанкционированного доступа при обмене мультимедийными данными (файлы, голосовые и текстовые сообщения) между устройствами, функционирующими под управлением операционных систем QP OC, Windows и Android.    </p>
  </div>
  <div class="qp__left-send d-block d-lg-none">
    <h2 class="text-uppercase text-h8 text-h8-2 qp__right-title">
      ОТправьте запрос на последнюю версию операционной системы
    </h2>
    <button class="qp__button btn-reset">
      отправить
    </button>
  </div>
  <div class="qp__advantages d-flex flex-column">
    <div class="qp__advantages-top">
      <h2 class="qp__title-second text-h8 text-h8-2 text-uppercase">
        Функции:
      </h2>
      <ul class="list-reset qp__advantages-list d-flex flex-column">
        <li class="qp__item descr1">
          Обмен зашифрованными мгновенными (текстовыми) сообщениями
        </li>
        <li class="qp__item descr1">
          Организацию защищенных конференций (многопользовательских сессий) мгновенных сообщений        </li>
        <li class="qp__item descr1">
          Передачу зашифрованных файлов
        </li>
        <li class="qp__item descr1">
          Создание защищенной голосовой беседы (передача голосовых сообщений абонентов в режиме реального времени)
        </li>
      </ul>
    </div>
  </div>
  <div class="qp__examples">
    <div class="qp__example-block">
      <div class="qp__example-swiper swiper">
        <div class="swiper-wrapper qp__example-wrapper">
          <div class="qp__example-slide swiper-slide">
            <img src="./img/4. Криптофон - ПК.png">
          </div>
          <div class="qp__example-slide swiper-slide">
            <img src="./img/5. Криптофон - телефон.png">
          </div>
        </div>
        <div class="qp__example-pagination"></div>
      </div>
      <button class="btn-reset qp__swiper-btn qp__swiper-prev">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.5 12L4.5 12M4.5 12L11.25 18.75M4.5 12L11.25 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <button class="btn-reset qp__swiper-btn qp__swiper-next">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.5 12.5664L19.5 12.5664M19.5 12.5664L12.75 19.3164M19.5 12.5664L12.75 5.81641" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>
</div>