.footer {
  background: linear-gradient(176.58deg, #009A6D -4.58%, #027755 50.28%);

  &__content {
    padding: 40px 0 40px;
  }

  &__link {
    color: white;
    text-transform: uppercase;
    font-size: var(--text-size-16);
    line-height: var(--text-height-125);
    font-family: "Sofia Sans Condensed";
    font-weight: 500;
    @include hoverUnderling(var(--white));
    &-second {
      text-transform: none;
      font-family: "Sofia Sans";
      font-size: 1.4rem;
      line-height: 120%;
      font-weight: 300;
    }
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    row-gap: 55px;
    margin-bottom: 50px;


    &-item {
      &:first-child {
        grid-column: 1 / 9;
      }

      &:nth-child(2) {
        grid-column: 1 / 3;
      }

      &:nth-child(3) {
        grid-column: 3/6;
      }

      &:nth-child(4) {
        grid-column: 6/9;
      }

      &:last-child {
        margin-top: 11px;
        grid-column: 9/ 13;
        grid-row: 1 / 4;
      }
    }
  }

  &__block {
    &-first {
      justify-content: space-between;
      gap: 50px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 46px;
  }

  &__call {
    @include btn;
    border-color: var(--white);
    color: var(--white);
    width: auto;
    padding: 9px 20px;
    &:hover {
      color: var(--green);
      background-color: var(--white);
    }
  }

  &__address {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &-title {
      color: var(--white);
      font-size: 2rem;
      line-height: 130%;
      margin-bottom: 4px;
      font-weight: 500;
      text-transform: uppercase;
    }

    &-descr {
      color: var(--white);
      margin-bottom: 12px;
      font-weight: 300;
      font-size: var(--text-size-14);
      line-height: var(--text-height-120);

      a {
        color: var(--white);
      }
    }
  }

  &__map {
    max-width: none;
    width: 100%;
    height: 175px;
    border-radius: 4px;
  }

  &__moose {
    width: 115px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__moose.active-mobile {
    display: none;
  }

  &__list {
    gap: var(--gap-16);
  }

  &__copyright {
    text-align: center;
    color: var(--white);
    font-weight: 300;
    font-size: 1.4rem;
    line-height: var(--text-height-120);
  }

}

@media screen and (max-width: 1110px) {
  .footer {
    &__box {
      &-item {
        &:first-child {
          grid-column: 1 / 13;
        }

        &:nth-child(2) {
          grid-column: 1 / 4;
        }

        &:nth-child(3) {
          grid-column: 4 / 8;
        }

        &:nth-child(4) {
          grid-column: 8 / 13;
        }

        &:last-child {
          grid-column: 1 / 6;
          grid-row: auto;
        }

      }
    }
  }
}

@media screen and (max-width: 992px) {
  .footer {
    &__box {
      &-item {

        &:nth-child(2) {
          grid-column: 1 / 4;
        }

        &:nth-child(3) {
          grid-column: 4 / 9;
        }

        &:nth-child(4) {
          grid-column: 9/13;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    &__content {
      padding: 20px 0 24px;
    }

    &__logo {
      svg {
        width: 155px;
        height: 48px;
      }
    }

    &__call {
      padding: 5.5px 24px;
    }

    &__address {
      max-width: 100%;
      &-title {
        margin-bottom: 4px;
      }
      &-descr {
        margin-bottom: 12px;
      }
    }

    &__link {
      &-second {
        font-size: 1.4rem;
      }
    }

    &__social {
      &-link {
        width: 40px;
        height: 40px;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    &__box {
      gap: 30px;
      &-item {
        &:first-child {
          grid-column: 1 / 13;
        }
        &:nth-child(2) {
          grid-column: 1 / 5;
        }

        &:nth-child(3) {
          grid-column: 5/13;
        }

        &:nth-child(4) {
          grid-column: 1 / 13;
          grid-row: 4 / auto;
        }

        &:last-child {
          grid-column: 1 / 8;
          grid-row: auto;
        }
      }
    }

  }
}

@media screen and (max-width: 575px) {
  .footer {
    &__map {
      max-width: 100%;
      width: 100%;
      overflow: hidden;
    }

    &__top {
      flex-direction: column;
      align-items: start;
      gap: 30px;
    }

    &__box {
      column-gap: 0;
      row-gap: 40px;
      margin-bottom: 30px;
      &-item {
        &:nth-child(2) {
          grid-column: 1 /13;
        }

        &:nth-child(3) {
          grid-column: 1 /13;
        }

        &:last-child {
          grid-column: 1 / 13;
        }
      }
    }

    &__block {
      &-first {
        flex-direction: column;
        position: relative;
        gap: 30px;
      }

      &-nav {
        margin-right: 90px;
      }

    }

    &__list {
      &-second {
        align-items: start;
      }
    }

    &__moose.not-active-mobile {
      display: none;
    }

    &__moose {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 79px;
      height: 82px;
      svg {
        width: 79px;
        height: 82px;
      }
    }

    &__moose.active-mobile {
      display: inline-block;
    }

    &__map {
      height: 139px;
    }
  }

}

.ymaps-2-1-79-map ymaps {
  border-radius: 4px;
}