<div class="qp__left-block">
  <h1 class="text-h2 text-h2-1 qp__title text-uppercase">
    Средство защиты информации на основе технологии виртуализации
  </h1>
  <div class="qp__descr">
    <p class="descr1">
      Применение виртуальных машин (ВМ) в информационных технологиях (ИТ) предоставляет многочисленные преимущества в потребительском плане:
    </p>
    <div class="qp__accordion-descr">
      <ul class="list-reset qp__advantages-list d-flex flex-column">
        <li class="qp__item descr1">
          Удобство использования
        </li>
        <li class="qp__item descr1">
          Повышение гибкости
        </li>
        <li class="qp__item descr1">
          Удобство развертывания компонентов вычислительной системы
        </li>
      </ul>
    </div>
    <p class="descr1">
      При этом технология виртуализации способна существенно повысить безопасность ИТ.
    </p>
    <p class="descr1">
      Если в системе не используется технология виртуализации, то для получения контроля над системой злоумышленнику необходимо:
    </p>
    <div class="qp__accordion-descr">
      <ul class="list-reset qp__advantages-list d-flex flex-column">
        <li class="qp__item descr1">
          Проникнуть в структуру прикладного ПО
        </li>
        <li class="qp__item descr1">
          Получить контроль над ядром ОС
        </li>
      </ul>
    </div>
  </div>
  <div class="qp__left-send d-block d-lg-none">
    <h2 class="text-uppercase text-h8 text-h8-2 qp__right-title">
      ОТправьте запрос на последнюю версию операционной системы
    </h2>
    <button class="qp__button btn-reset">
      отправить
    </button>
  </div>

  <div class="qp__descr">
    <p class="descr1">
      При использовании технологии виртуализации первые две задачи злоумышленника по проникновению в систему не изменяются. Последовательность действий по получению контроля над системой остаётся такой же. Однако у злоумышленника появляются новые цели для атаки. К ним относится гипервизор и ядро хостовой ОС при её наличии. В том случае, если целью злоумышленника является получение контроля над хостовой ОС, то ему необходимо выполнить следующие шаги:
    </p>
    <div class="qp__accordion-descr">
      <ul class="list-reset qp__advantages-list d-flex flex-column">
        <li class="qp__item descr1">
          Проникновение в структуру прикладного ПО ВМ
        </li>
        <li class="qp__item descr1">
          Проникновение в ядро гостевой ОС ВМ
        </li>
        <li class="qp__item descr1">
          Проникновение в гипервизор
        </li>
        <li class="qp__item descr1">
          Получение контроля над ОС хоста
        </li>
      </ul>
    </div>

    <div class="qp__roles-img">
      <img src="./img/34. Виртуализация.png">
    </div>

    <p class="descr1">
      В представленной последовательности шагов по проникновению в систему наиболее сложным является шаг 3. Злоумышленнику необходимо найти такую последовательность управляющих команд и данных, которая заставит виртуальную аппаратуру исполнить код, написанный злоумышленником. Трудоемкость такого проникновения очень велика, поэтому его вероятность очень мала, хотя и отлична от нуля.    </p>
    <p class="descr1">
      Относительно проникновения в систему на шагах 3 и 4 можно значительно усложнить задачу злоумышленника, выделив исполнение кода виртуальной аппаратуры в отдельный процесс в составе ОС хоста. В этом случае даже после проникновения в виртуальную аппаратуру злоумышленнику придется решать задачу проникновения в состав ядра ОС хоста.
    </p>
    <p class="descr1">
      Основывая на анализе действий злоумышленника можно сформулировать требования, которым должен соответствовать гипервизор для обеспечения безопасного функционирования ВМ в его составе. Перечень требований представлен ниже:
    </p>
    <div class="qp__accordion-descr">
      <ul class="list-reset qp__advantages-list d-flex flex-column">
        <li class="qp__item descr1">
          Раздельные физические страницы разных виртуальных машин
        </li>
        <li class="qp__item descr1">
          Адекватность реализации всех инструкций процессора, исполняемых гипервизором
        </li>
        <li class="qp__item descr1">
          Раздельное функционирование гипервизора и виртуальной аппаратуры
        </li>
        <li class="qp__item descr1">
          «Живучесть» виртуальной аппаратуры
        </li>
        <li class="qp__item descr1">
          Невозможность прямой передачи информации между разными ВМ
        </li>
      </ul>
    </div>
    <p class="descr1">
      Основывая на анализе действий злоумышленника можно сформулировать требования, которым должен соответствовать гипервизор для обеспечения безопасного функционирования ВМ в его составе. Перечень требований представлен ниже:
    </p>
  </div>

  <div class="qp__descr">
    <p class="descr1">
      В составе сервера-шлюза на базе операционной системы QP ОС функционирует гипервизор QP VMM. Под управлением QP VMM работают две виртуальные машины (ВМ). ВМ 1 имеет подключение только к конфиденциальной ЛВС, перенос данных из ВМ 1 в ВМ 2 осуществляется по специальному защищенному каналу, обеспечивающему контролируемую передачу файловых ресурсов, что предотвращает утечку категорированной информации. ВМ 2 имеет подключение только к открытой сети. Копирование данных из ВМ 2 в ВМ 1 осуществляется по аналогичному каналу, в котором происходит мониторинг передаваемой информации. Атаки из открытой сети на конфиденциальную сеть предотвращаются средствами QP ОС и QP VMM.
    </p>
    <p class="descr1">
      11.3. Защищенное автоматизированное рабочее место сетей передачи данных
    </p>
  </div>

  <div class="qp__descr">
    <p class="descr1">
      В составе защищенного АРМ на базе операционной системы QP ОС функционирует гипервизор QP VMM. Под управлением QP VMM работают две виртуальные машины (ВМ). ВМ 1 имеет подключение только к ЛВС с категорированной информацией, перенос данных из ВМ 1 в ВМ 2 технически невозможен, что предотвращает утечку информации. ВМ 2 имеет подключение только к сети «Интернет». Копирование данных из ВМ 2 в ВМ 1 осуществляется по защищенному каналу, в котором происходит мониторинг передаваемой информации. Интернет-атаки из открытой сети на сеть с категорированной информацией предотвращаются средствами QP ОС и QP VMM.
    </p>
  </div>
</div>