<div class="quantum__left-block">
  <h1 class="quantum__title text-h2 text-h2-1 text-uppercase">
    Лаборатория квантовой оптики
  </h1>
  <p class="quantum__descr descr1">
    На базе ООО НТП «Криптософт» создано структурное подразделение, сотрудниками которого выполняются НИР и ОКР, направленные на создание двухпроходных и однопроходных ККС ВРК с фазовым и поляризационным кодированием квантовых состояний. Проводится анализ современной зарубежной и отечественной научной литературы с целью выявления новых атак на техническую реализацию ККС ВРК, а также атак, направленных непосредственно на передаваемые квантовые состояния. Разрабатываются методы и подходы по защите ККС ВРК, как от известных, так и от прогнозируемых атак.
  </p>
  <p class="quantum__descr descr1">
    В рамках лаборатории квантовой оптики реализуются эксперименты по совместной передаче квантовых состояний и классической информации в различных типах оптического волокна. Выполняются инициативные работы в области детерминированной квантовой связи, в том числе проверяются фундаментальные основы квантовой физии с использованием несепарабельных состояний многокубитных квантовых систем.
  </p>

  <div class="quantum__accordion">
    <div class="quantum__accordion-item">
      <div class="quantum__accordion-item-head">
        <h3 class="text-h4">
          Патенты и уникальные разработки
        </h3>
        <span class="quantum__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
      </div>
      <div class="quantum__accordion-item-body">
        <div class="quantum__accordion-item-body-wrap">
          <div class="quantum__accordion-block">
            <p class="quantum__accordion-descr descr1">
              Номер патента. Применение технологии. Описание технологии с точки зрения решения проблемы.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="quantum__accordion-item">
      <div class="quantum__accordion-item-head">
        <h3 class="text-h4">
          Компетенции
        </h3>
        <span class="quantum__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
      </div>
      <div class="quantum__accordion-item-body">
        <div class="quantum__accordion-item-body-wrap">
          <ul class="qp__roles-list list-reset d-flex flex-column">
            <li class="qp__item descr1">
              Разработка двухпроходных и однопроходных квантовых криптографических систем выработки и распределения ключей (ККС ВРК) и их интеграция в сети защищенной связи
            </li>
            <li class="qp__item descr1">
              Обеспечение защиты ККС ВРК от PNS-атаки, а также атак на техническую реализацию, включая оптическое зондирование и ослепление детекторов одиночных фотонов.
            </li>
            <li class="qp__item descr1">
              Разработка методов и подходов, обеспечивающих совместную передачу квантовых состояний и классической информации в одном оптическом волокне.
            </li>
            <li class="qp__item descr1">
              Проектирование многоуровневой архитектуры квантовых коммуникационных сетей, обеспечивающей передачу ключевой информации между конечными узлами связи через промежуточные узлы без перешифрования (решение защищено патентом РФ на изобретение № 2792414).
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="quantum__accordion-item">
      <div class="quantum__accordion-item-head">
        <h3 class="text-h4">
          Система криптографической защиты информации cryptosoft-Q
        </h3>
        <span class="quantum__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
      </div>
      <div class="quantum__accordion-item-body">
        <div class="quantum__accordion-item-body-wrap">
          <p class="quantum__accordion-descr descr1">
            предоставим, если это возможно, если нет, то пока скроем раздел
          </p>
        </div>
      </div>
    </div>
  </div>
</div>