.qp {
  margin-top: 83px;
  padding: 10px 0 140px;

  &__breadcrumb {
    margin-bottom: var(--gap-30);
  }

  &__left {
    padding-right: 10px;

    &-send {
      margin-bottom: 70px;
    }
  }

  &__title {
    margin-bottom: var(--gap-30);
    &-second {
      margin-bottom: var(--gap-20);
    }
    &-three {
      margin-bottom: var(--gap-20);
    }
  }

  &__descr {
    max-width: 712px;
    width: 100%;
    margin-bottom: 70px;
    p:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__item {
    position: relative;
    padding-left: 22px;
    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-color: var(--green);
      position: absolute;
      left: 0;
      top: 6.5px;
    }
  }

  &__advantages {
    margin-bottom: 70px;
    gap: 30px;
    &-list {
      gap: var(--gap-12);

    }
  }

  &__roles {
    &-img {
      max-width: 711px;
      margin-bottom: var(--gap-20);
    }

    &-list {
      gap: var(--gap-12);
    }
  }

  &__example {
    &-block {
      position: relative;
      max-width: 711px;
      margin-bottom: var(--gap-30);
    }
    &-pagination {
      //@include pagination;
      display: none;
    }

  }

  &__swiper {
    &-btn {
      @include switching;
      position: absolute;
      top: calc(50% - 25px);
      z-index: 1;
    }

    &-prev {
      left: calc(0% - 25px);
    }
    &-next {
      right: calc(0% - 25px);
    }
  }

  &__right {
    padding-left: 20px;

    &-block {
      position: sticky;
      top: 83px;
    }
    &-list {
      background-color: var(--gray-light);
      padding: var(--gap-30);
      gap: var(--gap-12);
      margin-bottom: var(--gap-40);
    }

    &-item {
      color: var(--green);
      text-transform: uppercase;
    }

    &-link {
      color: var(--black);
      text-transform: uppercase;
    }

    &-title {
      margin-bottom: var(--gap-30);
    }

  }
  &__button {
    width: 100%;
    @include btnBorder;
  }

  &__modal {
    &-dialog {
      max-width: 725px;
    }
    &-content {
      border-radius: 0;
      border: none;
    }
    &-header {
      padding: 20px 20px 10px;
      border-bottom: 0;
    }

    &-body {
      padding: 8px 60px 60px;
    }

    &-title {
      margin-bottom: var(--gap-20);
    }

    &-form {
      gap: var(--gap-20);
    }

    &-descr {
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  &__form {
    &-inputs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
      row-gap: 20px;
      margin-bottom: 20px;
    }

    &-send {
      gap: var(--gap-12);
    }

    &-btn {
      @include btn;
      min-width: 177px;
    }

    &-check {
      display: flex;
      align-items: center;

      &-input {
        background-color: transparent;
        border: 1px solid var(--black);
        width: 20px;
        height: 20px;
        margin: 0 12px 0 0;

        &:checked {
          background-color: transparent;
          border-color: var(--black);
        }
        &:checked[type=checkbox] {
          --bs-form-check-bg-image: url("../img/form-check.svg");
        }
      }
      &-input[type=checkbox] {
        border-radius: 0;
      }
    }
  }

  &__accordion {
    @include ac-multi;
    &-second {
      padding: 0 0 0 10px;
    }

    &-list {
      padding-top: 20px;
    }
  }
}

@media screen and (max-width: 991px) {
  .qp {
    &__left {
      padding-right: 0;
    }

    &__descr {
      max-width: none;
    }

    &__roles {
      &-img {
        max-width: none;
      }
    }

    &__example {
      &-block {
        max-width: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .qp {
    margin-top: 48px;
    padding: 5px 0 70px;

    &__breadcrumb {
      margin-bottom: var(--gap-20);
    }

    &__title {
      margin-bottom: var(--gap-20);
    }

    &__example {
      &-pagination {
        display: flex;
      }
    }

    &__swiper {
      &-btn {
        display: none;
      }
    }

    &__modal {
      &-dialog {
        max-width: var(--bs-modal-width);

      }
      &-header {
        padding: 12px 12px 2px;
      }
      &-body {
        padding: 2px 16px 16px;
      }
      &-form {
        gap: var(--gap-16);
      }
    }

    &__form {
      &-inputs {
        grid-template-columns: 1fr;
        margin-bottom: 14px;
        row-gap: var(--gap-16);
      }

      &-send {
        gap: var(--gap-16);
      }

      &-btn {
        max-width: none;
        width: 100%;
      }

      &-check {
        align-items: flex-start;
        &-input {
          margin-top: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .qp {
    &__modal {
      &-dialog {
        margin: var(--gap-20);
      }
    }
  }
}