<div class="protection__left-block">
  <h1 class="text-h2 text-h2-1 protection__title text-uppercase">
    защита информации
  </h1>
  <p class="protection__descr descr1">
    Программные средства защиты информации (ПСЗИ) семейства QP являются одним из основных направлений деятельности НТП «Криптософт» уже почти 25 лет
  </p>
  <p class="protection__descr descr1">
    ПСЗИ семейства QP соответствуют требованиям ФСБ России к программному обеспечению, используемому в информационных и телекоммуникационных системах специального назначения и могут использоваться для защиты информационных систем, обрабатывающих информацию, содержащую сведения, составляющие государственную тайну  </p>
  <p class="protection__descr descr1">
    ПСЗИ семейства QP обеспечивают защиту от несанкционированного доступа и криптографическую защиту информации в автоматизированных информационных системах, построенных с использованием технологий Microsoft и Oracle
  </p>
  <div class="protection__img">
    <img src="./img/protection.png">
  </div>
  <div class="protection__adaptive">
    <h2 class="protection__title-second text-uppercase text-h8 text-h8-2">
      Аппаратные средства защиты информации обеспечивают
    </h2>
    <ul class="list-reset protection__list d-flex flex-column">
      <li class="qp__item descr1">
        Защиту информации от НСД и криптографическую защиту информации, хранящейся и обрабатываемой на серверах, СУБД, автоматизированных рабочих местах, а также передаваемой по коммуникационным каналам, входящим в состав АИС специального назначения
      </li>
      <li class="qp__item descr1">
        Аппаратное шифрование информации на встроенных и сменных носителях информации ПЭВМ путем ее автоматического преобразования при выполнении операций обмена с носителем
      </li>
      <li class="qp__item descr1">
        Разграничение доступа к файловым ресурсам ПЭВМ при сетевом взаимодействии на основе применения технологии доставки файловых ресурсов в заданном направлении с блокировкой обратной передачи и "виртуального каталога"
      </li>
      <li class="qp__item descr1">
        Межсетевое экранирование с возможностью дистанционного администрирования МЭ
      </li>
      <li class="qp__item descr1">
        Идентификация и аутентификацию пользователей и защиту информации от НСД на основе применения аппаратно-программных модулей доверенной загрузки собственной разработки
      </li>
      <li class="qp__item descr1">
        Блокирование несанкционированного доступа к ОЗУ ПЭВМ со стороны аппаратуры сетевого контроллера на основе применения сетевого адаптера собственной разработки (Ethernet 100/1000 Мбит/сек)
      </li>
      <li class="qp__item descr1">
        Организацию защищенного автоматизированного рабочего места на основе применения комплексного решения, обеспечивающего криптографическую защиту информации при ее обработке на АРМ и передаче по ЛВС
      </li>
      <li class="qp__item descr1">
        Защиту информации от НСД при обмене почтовыми сообщениями между специализированными локальными вычислительными сетями      </li>
    </ul>
  </div>
</div>