<div class="protection__right-block">
  <ul class="protection__right-list list-reset d-flex flex-column">
    <li class="protection__right-item text-button">
      Программные средства защиты информации линейки QP (ПСЗИ)
    </li>
    <li class="protection__right-item text-button">
      <a class="protection__right-link">
        ПСЗИ для Windows
      </a>
    </li>
    <li class="protection__right-item text-button">
      <a class="protection__right-link">
        ПСЗИ для Microsoft Office
      </a>
    </li>
    <li class="protection__right-item text-button">
      <a class="protection__right-link">
        ПСЗИ для СУДБ
      </a>
    </li>
    <li class="protection__right-item text-button">
      <a class="protection__right-link">
        ПСЗИ для почтового сервера Microsoft Exchange
      </a>
    </li>
    <li class="protection__right-item text-button">
      <a class="protection__right-link">
        ПСЗИ средств интеграции Microsoft BizTalk Server
      </a>
    </li>
    <li class="protection__right-item text-button">
      <a class="protection__right-link">
        ПСЗИ системы создания и поддержки интранет-порталов Microsoft SharePoint Server
      </a>
    </li>
    <li class="protection__right-item text-button">
      <a class="protection__right-link">
        ПСЗИ корпоративных носителей информации
      </a>
    </li>
    <li class="protection__right-item text-button">
      <a class="protection__right-link">
        ПСЗИ конфиденциальных данных
      </a>
    </li>
  </ul>
</div>