<div class="protection__right-block">
  <ul class="protection__right-list list-reset d-flex flex-column">
    <li class="protection__right-item text-button">
      Операционная система QP ОС
    </li>
    <li class="protection__right-item text-button">
      <a class="protection__right-link">
        СУБД QP DB
      </a>
    </li>
    <li class="protection__right-item text-button">
      <a class="protection__right-link">
        Гипервизор QP VMM
      </a>
    </li>
    <li class="protection__right-item text-button">
      <a class="protection__right-link">
        Офисный пакет QP Грамота
      </a>
    </li>
    <li class="protection__right-item text-button">
      <a class="protection__right-link">
        Сервер электронной почты QP Mail Server
      </a>
    </li>
    <li class="protection__right-item text-button">
      <a class="protection__right-link">
        Операционная система QP ОС
      </a>
    </li>
  </ul>
</div>