<section class="map">
  <div class="container-fluid custom-container">
    <div class="map__content">
      <div class="map__top d-flex flex-column">
        <nav class="breadcrumb-custom map__breadcrumb">
          <ul class="breadcrumb-custom-list list-reset">
            <li class="breadcrumb-custom-item">
              <a href="/" class="breadcrumb-custom-link">Главная</a>
            </li>
            <li class="breadcrumb-custom-item">
              <a href="/" class="breadcrumb-custom-link">Главная</a>
            </li>
            <li class="breadcrumb-custom-item">
              О компании
            </li>
          </ul>
        </nav>
        <h1 class="text-h2 text-h2-1 map__title text-uppercase">
          Общая структура сайта
        </h1>
      </div>
      <div class="map__body d-flex">
        <div class="map__body-left">
          <h2 class="map__title-second text-h6">
            Главная
          </h2>
          <ul class="list-reset map__list d-flex flex-column">
            <li class="map__item">
              <div class="map__item-title descr5 descr5-1">
                <a>
                  О компании
                </a>
              </div>
              <ul class="list-reset d-flex flex-column map__item-list">
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    <a>
                  </a>
                    Обращение генерального директора
                  </a>
                </li>
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    Лицензии и документы
                  </a>
                </li>
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    История компании
                  </a>
                </li>
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    Мероприятия
                  </a>
                </li>
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    Контакты
                  </a>
                </li>
              </ul>
            </li>
            <li class="map__item">
              <div class="map__item-title descr5 descr5-1">
                <a>
                  Операционная система QP ОС
                </a>
              </div>
            </li>
            <li class="map__item">
              <div class="map__item-title descr5 descr5-1">
                <a>
                  Инфраструктурные решения QP ОС
                </a>
              </div>
              <ul class="list-reset d-flex flex-column map__item-list">
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    СУБД QP DB
                  </a>
                </li>
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    Гипервизор QP VMM
                  </a>
                </li>
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    QP Кластер ВМ
                  </a>
                </li>
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    Офисный пакет QP Грамота
                  </a>
                </li>
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    Тонкий клиент QP RDP и сервер терминалов
                  </a>
                </li>
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    Сервер электронной почты QP Mail
                  </a>
                </li>
              </ul>
            </li>
            <li class="map__item">
              <div class="map__item-title descr5 descr5-1">
                <a>
                  Защита информации
                </a>
              </div>
              <ul class="list-reset d-flex flex-column map__item-list">
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    ПСЗИ
                  </a>
                </li>
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    Прикладное ПО
                  </a>
                </li>
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    АСЗИ
                  </a>
                </li>
              </ul>
            </li>
            <li class="map__item">
              <div class="map__item-title descr5 descr5-1">
                <a>
                  Квантово криптографические системы
                </a>
              </div>
              <ul class="list-reset d-flex flex-column map__item-list">
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    Квантовые системы выработки и распределения ключей
                  </a>
                </li>
              </ul>
            </li>
            <li class="map__item">
              <div class="map__item-title descr5 descr5-1">
                <a>
                  Работа в Криптософт
                </a>
              </div>
              <ul class="list-reset d-flex flex-column map__item-list">
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    Вакансии
                  </a>
                </li>
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    Хочу на стажировку
                  </a>
                </li>
                <li class="map__item-item descr5 descr5-1">
                  <a>
                    Жизнь в компании
                  </a>
                </li>
              </ul>
            </li>
            <li class="map__item">
              <div class="map__item-title descr5 descr5-1">
                <a>
                  Новости и публикации
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="map__body-right d-none d-lg-flex align-items-center justify-content-end">
          <div class="map__body-svg">
            <img src="./img/map.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>