<section class="news">
  <div class="custom-container container-fluid">
    <div class="work__content">
      <nav class="breadcrumb-custom news__breadcrumb">
        <ul class="breadcrumb-custom-list list-reset">
          <li class="breadcrumb-custom-item">
            <a href="/" class="breadcrumb-custom-link">Главная</a>
          </li>
          <li class="breadcrumb-custom-item">
            Новости
          </li>
        </ul>
      </nav>
      <h1 class="text-h2 text-h2-1 news__title text-uppercase">
        Новости
      </h1>
      <div class="news__block">
        <div class="news__list">
          <div class="card h-100 main-news__item">
            <div class="h-100 main-news__item-wrap d-flex">
              <div class="main-news__item-img">
                <img src="./img/KSF 2.png">
              </div>
              <div class="main-news__item-right d-flex flex-column justify-content-between">
                <div class="main-news__item-top d-flex flex-column">
              <span class="main-news__item-date">
                25.11.2020
              </span>
                  <h3 class="text-h9 main-news__item-title">
                    Второй Всероссийский форум «Доверенные квантовые технологии и коммуникации. КВАНТ 2024»
                  </h3>
                  <p class="main-news__item-text">
                    Научно-техническое предприятие «Криптософт» приняло участие
                    во втором Всероссийском форуме...
                  </p>
                </div>
                <div class="main-news__item-more-wrap">
                  <a href="detail-news.html" class="main-news__item-more">
                    <span>подробнее</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card h-100 main-news__item">
            <div class="h-100 main-news__item-wrap d-flex">
              <div class="main-news__item-img">
                <img src="./img/news2.png">
              </div>
              <div class="main-news__item-right d-flex flex-column justify-content-between">
                <div class="main-news__item-top d-flex flex-column">
              <span class="main-news__item-date">
                25.11.2020
              </span>
                  <h3 class="main-news__item-title text-h9">
                    10-я конференция «OS DAY. Экосистема российских ОС» jkdashfjksdhf askjdfh ajksdf aadsjkfhasdjkfh adsfasdkjfh ajksdfhajks dfasd f kjsdhfjksdf asdjkfhasdjkfh aasdfasdfasdfjkasdhfkjasdf asdjkfahsdjkfhas dkjfhasdkf asdasdfsdf sdfadsfasdf asdfasdf asdfasdf asdf asdf asdf asdfsadfsadf asdfas dfd
                  </h3>
                  <p class="main-news__item-text">
                    Научно-техническое предприятие «Криптософт» приняло участие
                    во втором Всероссийском форуме...adksfhkjasdfhkjas ajksdfhaksjdfh asdfasdf asdjkfas adsf asd
                  </p>
                </div>
                <div class="main-news__item-more-wrap">
                  <a href="detail-news.html" class="main-news__item-more">
                    <span>подробнее</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card h-100 main-news__item">
            <div class="h-100 main-news__item-wrap d-flex">
              <div class="main-news__item-img">
                <img src="./img/KSF 2.png">
              </div>
              <div class="main-news__item-right d-flex flex-column justify-content-between">
                <div class="main-news__item-top d-flex flex-column">
              <span class="main-news__item-date">
                25.11.2020
              </span>
                  <h3 class="text-h9 main-news__item-title">
                    Второй Всероссийский форум «Доверенные квантовые технологии и коммуникации. КВАНТ 2024»
                  </h3>
                  <p class="main-news__item-text">
                    Научно-техническое предприятие «Криптософт» приняло участие
                    во втором Всероссийском форуме...
                  </p>
                </div>
                <div class="main-news__item-more-wrap">
                  <a href="detail-news.html" class="main-news__item-more">
                    <span>подробнее</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card h-100 main-news__item">
            <div class="h-100 main-news__item-wrap d-flex">
              <div class="main-news__item-img">
                <img src="./img/news2.png">
              </div>
              <div class="main-news__item-right d-flex flex-column justify-content-between">
                <div class="main-news__item-top d-flex flex-column">
              <span class="main-news__item-date">
                25.11.2020
              </span>
                  <h3 class="main-news__item-title text-h9">
                    10-я конференция «OS DAY. Экосистема российских ОС» jkdashfjksdhf askjdfh ajksdf aadsjkfhasdjkfh adsfasdkjfh ajksdfhajks dfasd f kjsdhfjksdf asdjkfhasdjkfh aasdfasdfasdfjkasdhfkjasdf asdjkfahsdjkfhas dkjfhasdkf asdasdfsdf sdfadsfasdf asdfasdf asdfasdf asdf asdf asdf asdfsadfsadf asdfas dfd
                  </h3>
                  <p class="main-news__item-text">
                    Научно-техническое предприятие «Криптософт» приняло участие
                    во втором Всероссийском форуме...adksfhkjasdfhkjas ajksdfhaksjdfh asdfasdf asdjkfas adsf asd
                  </p>
                </div>
                <div class="main-news__item-more-wrap">
                  <a href="detail-news.html" class="main-news__item-more">
                    <span>подробнее</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card h-100 main-news__item">
            <div class="h-100 main-news__item-wrap d-flex">
              <div class="main-news__item-img">
                <img src="./img/KSF 2.png">
              </div>
              <div class="main-news__item-right d-flex flex-column justify-content-between">
                <div class="main-news__item-top d-flex flex-column">
              <span class="main-news__item-date">
                25.11.2020
              </span>
                  <h3 class="text-h9 main-news__item-title">
                    Второй Всероссийский форум «Доверенные квантовые технологии и коммуникации. КВАНТ 2024»
                  </h3>
                  <p class="main-news__item-text">
                    Научно-техническое предприятие «Криптософт» приняло участие
                    во втором Всероссийском форуме...
                  </p>
                </div>
                <div class="main-news__item-more-wrap">
                  <a href="detail-news.html" class="main-news__item-more">
                    <span>подробнее</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card h-100 main-news__item">
            <div class="h-100 main-news__item-wrap d-flex">
              <div class="main-news__item-img">
                <img src="./img/news2.png">
              </div>
              <div class="main-news__item-right d-flex flex-column justify-content-between">
                <div class="main-news__item-top d-flex flex-column">
              <span class="main-news__item-date">
                25.11.2020
              </span>
                  <h3 class="main-news__item-title text-h9">
                    10-я конференция «OS DAY. Экосистема российских ОС» jkdashfjksdhf askjdfh ajksdf aadsjkfhasdjkfh adsfasdkjfh ajksdfhajks dfasd f kjsdhfjksdf asdjkfhasdjkfh aasdfasdfasdfjkasdhfkjasdf asdjkfahsdjkfhas dkjfhasdkf asdasdfsdf sdfadsfasdf asdfasdf asdfasdf asdf asdf asdf asdfsadfsadf asdfas dfd
                  </h3>
                  <p class="main-news__item-text">
                    Научно-техническое предприятие «Криптософт» приняло участие
                    во втором Всероссийском форуме...adksfhkjasdfhkjas ajksdfhaksjdfh asdfasdf asdjkfas adsf asd
                  </p>
                </div>
                <div class="main-news__item-more-wrap">
                  <a href="detail-news.html" class="main-news__item-more">
                    <span>подробнее</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card h-100 main-news__item">
            <div class="h-100 main-news__item-wrap d-flex">
              <div class="main-news__item-img">
                <img src="./img/KSF 2.png">
              </div>
              <div class="main-news__item-right d-flex flex-column justify-content-between">
                <div class="main-news__item-top d-flex flex-column">
              <span class="main-news__item-date">
                25.11.2020
              </span>
                  <h3 class="text-h9 main-news__item-title">
                    Второй Всероссийский форум «Доверенные квантовые технологии и коммуникации. КВАНТ 2024»
                  </h3>
                  <p class="main-news__item-text">
                    Научно-техническое предприятие «Криптософт» приняло участие
                    во втором Всероссийском форуме...
                  </p>
                </div>
                <div class="main-news__item-more-wrap">
                  <a href="detail-news.html" class="main-news__item-more">
                    <span>подробнее</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card h-100 main-news__item">
            <div class="h-100 main-news__item-wrap d-flex">
              <div class="main-news__item-img">
                <img src="./img/news2.png">
              </div>
              <div class="main-news__item-right d-flex flex-column justify-content-between">
                <div class="main-news__item-top d-flex flex-column">
              <span class="main-news__item-date">
                25.11.2020
              </span>
                  <h3 class="main-news__item-title text-h9">
                    10-я конференция «OS DAY. Экосистема российских ОС» jkdashfjksdhf askjdfh ajksdf aadsjkfhasdjkfh adsfasdkjfh ajksdfhajks dfasd f kjsdhfjksdf asdjkfhasdjkfh aasdfasdfasdfjkasdhfkjasdf asdjkfahsdjkfhas dkjfhasdkf asdasdfsdf sdfadsfasdf asdfasdf asdfasdf asdf asdf asdf asdfsadfsadf asdfas dfd
                  </h3>
                  <p class="main-news__item-text">
                    Научно-техническое предприятие «Криптософт» приняло участие
                    во втором Всероссийском форуме...adksfhkjasdfhkjas ajksdfhaksjdfh asdfasdf asdjkfas adsf asd
                  </p>
                </div>
                <div class="main-news__item-more-wrap">
                  <a href="detail-news.html" class="main-news__item-more">
                    <span>подробнее</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="news__pagination d-flex align-items-center justify-content-between">
          <button disabled class="btn-reset news__pagination-btn">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.5 12L4.5 12M4.5 12L11.25 18.75M4.5 12L11.25 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <ul class="news__pagination-list list-reset d-flex align-items-center">
            <li class="news__pagination-item text-button">
              <a class="active  news__pagination-link">
                01
              </a>
            </li>
            <li class="news__pagination-item text-button">
              <a class="news__pagination-link">
                02
              </a>
            </li>
            <li class="news__pagination-item text-button">
              <a class="news__pagination-link">
                03
              </a>
            </li>
            <li class="news__pagination-item text-button">
              ...
            </li>
            <li class="news__pagination-item text-button">
              <a class="news__pagination-link">
                10
              </a>
            </li>
          </ul>
          <button class="btn-reset news__pagination-btn">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.5 12.5664L19.5 12.5664M19.5 12.5664L12.75 19.3164M19.5 12.5664L12.75 5.81641" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
    </div>
</section>