@mixin accordion {
  border-top: 1px solid var(--gray-secondary);
  &-item {
    border-bottom: 1px solid var(--gray-secondary);
    &-head {
      padding: 30px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &-text {
        margin-right: 20px;
      }
    }



    &-body {
      max-height: 0;
      overflow: hidden;
      transition: max-height .3s ease-in-out;

      &-wrap {
        margin-bottom: 30px;
      }
    }

  }

  &-svg {
    transition: transform .3s ease-in-out;
  }

  &-item.is-show &-svg {
    transform: rotate(180deg);
  }
}

@mixin ac-multi {
  border-top: 1px solid var(--gray-secondary);
  &-svg {
    position: absolute;
    right: 0;
    top: calc(50% - 15px);
    transition: transform .6s ease-in-out;
  }
  &-item {
    margin-top: 0;
    border: none;
    border-bottom: 1px solid var(--gray-secondary);

    &-second {
      border: none;
    }
  }

  &-item &-item-trigger {
    padding: 30px 30px 30px 0;
    &:after {
      content: none;
      display: none;
    }
  }

  &-item &-item-trigger-second {
    padding: 5px 30px 5px 0;
  }

  &-item.is-active > .ac-header &-svg {
    transform: rotate(180deg);
  }

  &-block {
    margin-bottom: 20px;
    &-second {
      padding-top: 20px;
    }
  }

  &-descr:not(:last-child) {
    margin-bottom: 20px;
  }

  &-descr-2:not(:last-child) {
    margin-bottom: 10px;
  }
  &-descr-item:not(:last-child) {
    margin-bottom: 6px;
  }

  &-descr-list:not(:last-child) {
    margin-bottom: 20px;
  }

  &-img {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}