@mixin pagination($width, $color) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $width;
  .swiper-pagination-bullet {
    border-radius: 50%;
    border: 1px solid $color;
    width: 8px;
    height: 8px;
    opacity: 1;
    background-color: transparent;
  }

  .swiper-pagination-bullet-active {
    background-color: $color;
  }
}

@mixin btnArray($color, $svgColorHover) {
  width: 26px;
  height: 26px;
  border: 1px solid $color;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: $color;
    svg path {
      fill: $svgColorHover
    }
  }

  svg path {
    fill: $color;
    transition: fill .3s ease-in-out;
  }
}