<section class="history">
  <div class="custom-container container-fluid">
    <div class="history__content">
      <div class="pages-header">
        <div class="pages-links">
          <nav class="breadcrumb-custom history__breadcrumb">
            <ul class="breadcrumb-custom-list list-reset">
              <li class="breadcrumb-custom-item">
                <a href="/" class="breadcrumb-custom-link">Главная</a>
              </li>
              <li class="breadcrumb-custom-item">
                История
              </li>
            </ul>
          </nav>
          <nav class="pages-links-nav">
            <ul class="pages-links-list d-flex flex-wrap align-items-center list-reset">
              <li class="pages-links-item">
                <a href="activity.html" class="pages-links-link">
                  направления деятельности
                </a>
              </li>
              <li class="pages-links-item">
                <a href="history.html" class="pages-links-link active">
                  история
                </a>
              </li>
              <li class="pages-links-item">
                <a href="licenses.html" class="pages-links-link">
                  Лицензии
                </a>
              </li>
              <li class="pages-links-item">
                <a href="events.html" class="pages-links-link">
                  мероприятия
                </a>
              </li>
              <li class="pages-links-item">
                <a href="contacts.html" class="pages-links-link">
                  Контакты
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <h1 class="pages-title text-uppercase">
          значимые события нтп «криптософт»
        </h1>
      </div>
      <div class="history__block">
        <div class="history__strip"></div>
        <article class="history__timeline">
          <div class="history__timeline-left">
            <img src="" class="history__timeline-img">
          </div>
          <span class="history__timeline-marker"></span>
          <div class="history__timeline-right">
            <h2 class="history__timeline-title">
              1993
            </h2>
            <p class="history__timeline-text descr1">
              9 сентября Общество с ограниченной ответственностью научно-техническое предприятие «Криптософт» зарегистрировано Решением №106/6 Малого Совета Ленинского районного Совета народных депутатов г. Пензы. Основным видом деятельности предприятия является выполнение НИР, ОКР и серийное производство шифровальной техники.
            </p>
          </div>
        </article>
        <article class="history__timeline">
          <div class="history__timeline-left">
            <img src="" class="history__timeline-img">
          </div>
          <span class="history__timeline-marker"></span>
          <div class="history__timeline-right">
            <h2 class="history__timeline-title">
              1993
            </h2>
            <p class="history__timeline-text descr1">
              9 сентября Общество с ограниченной ответственностью научно-техническое предприятие «Криптософт» зарегистрировано Решением №106/6 Малого Совета Ленинского районного Совета народных депутатов г. Пензы. Основным видом деятельности предприятия является выполнение НИР, ОКР и серийное производство шифровальной техники.
            </p>
          </div>
        </article>
        <article class="history__timeline">
          <div class="history__timeline-left">
            <img src="" class="history__timeline-img">
          </div>
          <span class="history__timeline-marker"></span>
          <div class="history__timeline-right">
            <h2 class="history__timeline-title">
              1993
            </h2>
            <p class="history__timeline-text descr1">
              9 сентября Общество с ограниченной ответственностью научно-техническое предприятие «Криптософт» зарегистрировано Решением №106/6 Малого Совета Ленинского районного Совета народных депутатов г. Пензы. Основным видом деятельности предприятия является выполнение НИР, ОКР и серийное производство шифровальной техники.
            </p>
          </div>
        </article>
        <article class="history__timeline">
          <div class="history__timeline-left">
            <img src="" class="history__timeline-img">
          </div>
          <span class="history__timeline-marker"></span>
          <div class="history__timeline-right">
            <h2 class="history__timeline-title">
              1993
            </h2>
            <p class="history__timeline-text descr1">
              9 сентября Общество с ограниченной ответственностью научно-техническое предприятие «Криптософт» зарегистрировано Решением №106/6 Малого Совета Ленинского районного Совета народных депутатов г. Пензы. Основным видом деятельности предприятия является выполнение НИР, ОКР и серийное производство шифровальной техники.
            </p>
          </div>
        </article>
        <article class="history__timeline">
          <div class="history__timeline-left">
            <img src="" class="history__timeline-img">
          </div>
          <span class="history__timeline-marker"></span>
          <div class="history__timeline-right">
            <h2 class="history__timeline-title">
              1993
            </h2>
            <p class="history__timeline-text descr1">
              9 сентября Общество с ограниченной ответственностью научно-техническое предприятие «Криптософт» зарегистрировано Решением №106/6 Малого Совета Ленинского районного Совета народных депутатов г. Пензы. Основным видом деятельности предприятия является выполнение НИР, ОКР и серийное производство шифровальной техники.
            </p>
          </div>
        </article>
        <article class="history__timeline">
          <div class="history__timeline-left">
            <img src="" class="history__timeline-img">
          </div>
          <span class="history__timeline-marker"></span>
          <div class="history__timeline-right">
            <h2 class="history__timeline-title">
              1993
            </h2>
            <p class="history__timeline-text descr1">
              9 сентября Общество с ограниченной ответственностью научно-техническое предприятие «Криптософт» зарегистрировано Решением №106/6 Малого Совета Ленинского районного Совета народных депутатов г. Пензы. Основным видом деятельности предприятия является выполнение НИР, ОКР и серийное производство шифровальной техники.
            </p>
          </div>
        </article>
        <article class="history__timeline">
          <div class="history__timeline-left">
            <img src="" class="history__timeline-img">
          </div>
          <span class="history__timeline-marker"></span>
          <div class="history__timeline-right">
            <h2 class="history__timeline-title">
              1993
            </h2>
            <p class="history__timeline-text descr1">
              9 сентября Общество с ограниченной ответственностью научно-техническое предприятие «Криптософт» зарегистрировано Решением №106/6 Малого Совета Ленинского районного Совета народных депутатов г. Пензы. Основным видом деятельности предприятия является выполнение НИР, ОКР и серийное производство шифровальной техники.
            </p>
          </div>
        </article>
        <article class="history__timeline">
          <div class="history__timeline-left">
            <img src="" class="history__timeline-img">
          </div>
          <span class="history__timeline-marker"></span>
          <div class="history__timeline-right">
            <h2 class="history__timeline-title">
              1993
            </h2>
            <p class="history__timeline-text descr1">
              9 сентября Общество с ограниченной ответственностью научно-техническое предприятие «Криптософт» зарегистрировано Решением №106/6 Малого Совета Ленинского районного Совета народных депутатов г. Пензы. Основным видом деятельности предприятия является выполнение НИР, ОКР и серийное производство шифровальной техники.
            </p>
          </div>
        </article>
      </div>
      <div class="history__more">
        <button class="history__more-btn btn-reset">
          посмотреть всю историю
        </button>
      </div>
    </div>
  </div>
</section>