.work {
  margin-top: 83px;
  padding: 10px 0 140px;

  &__top {
    gap: var(--gap-30);
    margin-bottom: 60px;
  }

  &__tab {
    &-head {
      @include tabHead;
    }

    &-item {
      opacity: 0;
      visibility: hidden;
      transform: scale(.5);
      transition: visibility .3s ease-in-out, opacity .3s ease-in-out, transform .3s ease-in-out, display .3s ease-in-out;
    }

    &-item.active {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}

@media screen and (max-width: 768px) {
  .work {
    margin-top: 48px;
    padding: 5px 0 70px;

    &__top {
      gap: var(--gap-12);
      margin-bottom: var(--gap-30);
    }

    &__tab {
      &-head {
        &-btn {
          font-size: var(--text-size-14);
          line-height: var(--text-height-135);
        }
      }
    }
  }
}