<div class="qp__left-block">
  <h1 class="text-h2 text-h2-1 qp__title text-uppercase">
    Средства разработки
  </h1>
  <div class="qp__descr">
    <p class="qp__accordion-descr descr1">
      Учитывая, что развитие QP ОС вышло на уровень, когда формируется пул прикладного ПО, приложений, была реализована задача разработки собственных средств разработки ПО для QP ОС:
    </p>
    <ul class="qp__roles-list list-reset d-flex flex-column">
      <li class="qp__item descr1">
        Рабочая станция
      </li>
      <li class="qp__item descr1">
        Распределенная обработка информации
      </li>
      <li class="qp__item descr1">
        Управление сетевым взаимодействием
      </li>
      <li class="qp__item descr1">
        Средства разработки
      </li>
      <li class="qp__item descr1">
        Хранение и обработка данных
      </li>
    </ul>
  </div>
  <div class="qp__descr">
    <h2 class="qp__title-second text-h8 text-h8-2 text-uppercase">
      Поддерживаемые языки:
    </h2>
    <ul class="qp__roles-list list-reset d-flex flex-column">
      <li class="qp__item descr1">
        С
      </li>
      <li class="qp__item descr1">
        C++
      </li>
      <li class="qp__item descr1">
        C#
      </li>
      <li class="qp__item descr1">
        Python
      </li>
      <li class="qp__item descr1">
        JavaScript
      </li>
      <li class="qp__item descr1">
        ASP.NET + Nugets
      </li>
      <li class="qp__item descr1">
        PHP
      </li>
    </ul>
  </div>

  <div class="qp__descr">
    <h2 class="qp__title-second text-h8 text-h8-2 text-uppercase">
      Поддерживаемые библиотеки:
    </h2>
    <div class="qp__accordion-descr">
      <ul class="qp__roles-list list-reset d-flex flex-column">
        <li class="qp__item descr1">
          Qt
        </li>
        <li class="qp__item descr1">
          Avalonia
        </li>
        <li class="qp__item descr1">
          Другие библиотеки Open Source
        </li>
      </ul>
    </div>
    <p class="descr1">
      Ведется портирование и разработка LLVM + clang, а также среды разработки.
    </p>
  </div>

  <div class="qp__accordion">
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Среда разработки
          </h3>
          <span class="qp__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            Среда разработки позволяет создавать приложения на языках «C» и «C#».
          </p>
          <div class="qp__accordion-img">
            <img src="./img/31. Среда разработки.png">
          </div>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Комплект отладчиков
          </h3>
          <span class="qp__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            Отладчик управляемого кода предназначен для отладки управляемых .NET приложений и служб под управлением исполняющей машины Mono версии 3.1.x и выше. Отладка производится, как локально, так и удаленно (через сокеты).
          </p>
          <div class="qp__accordion-img">
            <img src="./img/32. Отладчик управляемого кода.png">
          </div>
          <p class="qp__accordion-descr descr1">
            Системный отладчик Используется для поиска ошибок в программных компонентах. Отладчик позволяет пошагово отслеживать работу программы, выявлять изменения системных переменных, состояния процессора во время работы программы.
          </p>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Интерпретатор Python
          </h3>
          <span class="qp__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            Операционная система QP OС поддерживает интерпретатор языка Python версии 3.6.9. Python поддерживает такие модули, как socket, io, ssl. Также интерпретатор языка Python открывает новые возможности в разработке кроссплатформенного программного обеспечения.
          </p>
          <p class="qp__accordion-descr-2 descr1">
            Данный интерпретатор языка позволяет проводить:
          </p>
          <div class="qp__accordion-descr">
            <ul class="qp__roles-list list-reset d-flex flex-column">
              <li class="qp__item descr1">
                Тестирование различных компонентов операционной системы
              </li>
              <li class="qp__item descr1">
                Тестирование сетевого взаимодействия
              </li>
              <li class="qp__item descr1">
                Реализацию различных модулей
              </li>
              <li class="qp__item descr1">
                Написание системных утилит, скриптов
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>