<div class="internship">
  <div class="internship__top d-flex flex-column flex-md-row">
    <div class="internship__top-left">
      <h2 class="internship__top-title text-h8 text-h8-2 text-uppercase">
        стажировки для студентов
        и молодых специалистов
      </h2>
      <p class="internship__top-descr descr1">
        Лучший способ «примерить» и протестировать желаемую профессию, а также проверить свои навыки и знания в условиях реальных задач
      </p>
      <p class="internship__top-descr descr1">
        Это Ваша возможность получить реальный опыт работы в одной из крупнейших компаний в мире, а также использовать полученные знания в написании курсовых и дипломных работ
      </p>
    </div>
    <div class="internship__top-right">
      <img src="./img/intership.png" />
    </div>
  </div>
  <div class="internship__bottom d-flex flex-column flex-lg-row align-items-lg-center">
    <div class="internship__bottom-left">
      <h2 class="internship__bottom-title text-h8 text-h8-5 text-uppercase">
        Вы познакомитесь с полным циклом ЗАДАЧ и получите обширный кросс-функциональный опыт в различных направления работы КРИПТОСОФТ
      </h2>
      <p class="internship__bottom-descr descr1">
        Это позволит получить необходимые знания и компетенции, чтобы стать настоящим специалистом в будущем
      </p>
    </div>
    <div class="internship__bottom-right">
      <div class="internship__bottom-right-wrap-mobile">
        <svg width="258" height="226" viewBox="0 0 258 226" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 198.973L68.7909 155.625L0 111.806V198.973Z" fill="#009A6D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M68.7909 155.625L0 198.973V200.506L175 310.779V223.279L68.7909 155.625Z" fill="#00B883"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 111.806L68.7909 155.625L175 88.6993V1.52588e-05L0 111.473V111.806Z" fill="#009A6D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M175 111.806V198.973L243.791 155.625L175 111.806Z" fill="#009A6D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M175 111.806L243.791 155.625L350 88.6993V1.52588e-05L175 111.473V111.806Z" fill="#00B883"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M243.791 155.625L175 198.973V200.505L281.185 267.416L350 223.582V223.279L243.791 155.625Z" fill="#009A6D"/>
        </svg>
      </div>
      <div class="internship__bottom-right-wrap">
        <svg width="270" height="380" viewBox="0 0 270 380" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_508_38064" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="175" y="-26" width="175" height="200">
            <path d="M175.5 172.217L349.5 62.5236V-25.0279L175.5 85.8576V172.217Z" fill="white" stroke="white"/>
          </mask>
          <g mask="url(#mask0_508_38064)">
            <mask id="mask1_508_38064" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-1476" y="-1926" width="4246" height="2999">
              <path d="M-1474.77 1071.97H2769.3V-1925.11H-1474.77V1071.97Z" fill="white" stroke="white"/>
            </mask>
            <g mask="url(#mask1_508_38064)">
              <path d="M308.009 -108.282L82.2377 22.0671L216.991 255.466L442.763 125.117L308.009 -108.282Z" fill="#00B883" stroke="black"/>
            </g>
          </g>
          <mask id="mask2_508_38064" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="-26" width="175" height="200">
            <path d="M0 85.5833L175 -25.9394V62.7995L0 173.123V85.5833Z" fill="white"/>
          </mask>
          <g mask="url(#mask2_508_38064)">
            <mask id="mask3_508_38064" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-1476" y="-1926" width="4246" height="2999">
              <path d="M-1475.27 1072.47H2769.8V-1925.61H-1475.27V1072.47Z" fill="white"/>
            </mask>
            <g mask="url(#mask3_508_38064)">
              <path d="M-93.4434 21.8838L133.194 -108.966L268.447 125.299L41.8097 256.149L-93.4434 21.8838Z" fill="#009A6D"/>
            </g>
          </g>
          <mask id="mask4_508_38064" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="86" width="175" height="200">
            <path d="M175 198.306L0 86.7831V175.522L175 285.846V198.306Z" fill="white"/>
          </mask>
          <g mask="url(#mask4_508_38064)">
            <mask id="mask5_508_38064" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-1476" y="-1926" width="4246" height="2999">
              <path d="M-1475.27 1072.47H2769.8V-1925.61H-1475.27V1072.47Z" fill="white"/>
            </mask>
            <g mask="url(#mask5_508_38064)">
              <path d="M268.447 134.605L41.8097 3.7562L-93.4434 238.021L133.194 368.87L268.447 134.605Z" fill="#00B883"/>
            </g>
          </g>
          <mask id="mask6_508_38064" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="175" y="86" width="175" height="200">
            <path d="M350 198.306L175 86.7831V175.522L350 285.846V198.306Z" fill="white"/>
          </mask>
          <g mask="url(#mask6_508_38064)">
            <mask id="mask7_508_38064" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-1476" y="-1926" width="4246" height="2999">
              <path d="M-1475.27 1072.47H2769.8V-1925.61H-1475.27V1072.47Z" fill="white"/>
            </mask>
            <g mask="url(#mask7_508_38064)">
              <path d="M443.446 134.605L216.808 3.75644L81.5547 238.021L308.193 368.87L443.446 134.605Z" fill="#009A6D"/>
            </g>
          </g>
          <mask id="mask8_508_38064" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="175" y="199" width="175" height="200">
            <path d="M175 311.027L350 199.504V288.243L175 398.567V311.027Z" fill="white"/>
          </mask>
          <g mask="url(#mask8_508_38064)">
            <mask id="mask9_508_38064" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-1476" y="-1926" width="4246" height="2999">
              <path d="M-1475.27 1072.47H2769.8V-1925.61H-1475.27V1072.47Z" fill="white"/>
            </mask>
            <g mask="url(#mask9_508_38064)">
              <path d="M81.5547 247.328L308.193 116.479L443.446 350.744L216.808 481.593L81.5547 247.328Z" fill="#00B883"/>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="internship__form d-flex flex-column flex-lg-row align-items-start justify-content-between">
    <div class="internship__form-left">
      <h2 class="internship__form-title text-uppercase text-h8 text-h8-2">
        Оформить заявку на стажировку
      </h2>
      <p class="internship__form-descr descr1">
        Заполните короткую форму, приложите короткое резюме и мотивационное письмо. Мы обязательно свяжемся с вами и пригласим на собеседование. Вместе мы сможем раскрыть ваш потенциал и превратить опыт и умения в будущую профессию
      </p>
    </div>
    <div class="internship__form-right">
      <form class="internship__form-js">
        <div class="internship__form-inputs">
          <div class="internship__form-wrap-input input-form__wrap">
            <label class="input-form__label">ФИО</label>
            <input placeholder="ФИО" class="input-form">
          </div>
          <div class="internship__form-wrap-input input-form__wrap">
            <label class="input-form__label">Телефон</label>
            <input placeholder="Телефон" class="input-form">
          </div>
          <div class="internship__form-wrap-input input-form__wrap">
            <label class="input-form__label">E-mail</label>
            <input placeholder="E-mail" class="input-form">
          </div>
          <div class="internship__form-wrap-input input-form__wrap">
            <label class="input-form__label">Специальность</label>
            <input placeholder="Специальность" class="input-form">
          </div>
        </div>
        <div class="internship__form-wrap-input input-form__wrap">
          <label class="input-form__label">Расскажите о себе</label>
          <textarea placeholder="Расскажите о себе" class="input-form input-form__textarea"></textarea>
        </div>
        <a class="internship__form-add d-flex align-items-center">
          <span class="internship__form-add-svg">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M23 10.7823L11.9674 21.2198C9.45845 23.5934 5.39065 23.5934 2.88171 21.2198C0.372764 18.8462 0.372765 14.9978 2.88171 12.6243L13.9143 2.1868C15.5869 0.604401 18.2988 0.604401 19.9714 2.1868C21.6441 3.7692 21.6441 6.33477 19.9714 7.91716L9.37148 17.9453C8.53517 18.7365 7.17923 18.7365 6.34292 17.9453C5.5066 17.1541 5.5066 15.8713 6.34292 15.0801L15.6449 6.27992" stroke="#009A6D" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>
          </span>
          <span class="internship__form-add-text descr4">
            Прикрепить файл (в формате doc, pdf или txt)
          </span>
        </a>
        <div class="internship__form-send d-flex flex-column flex-md-row align-items-md-center">
          <button class="internship__form-btn btn-reset">
            Отправить
          </button>
          <div class="form-check internship__form-check">
            <input type="checkbox" class="form-check-input internship__form-check-input" required>
            <label class="descr4 form-check-label internship__form-check-label">
              нажимая кнопку “Отправить”, я соглашаюсь с условиями
              <br/>
              <a class="internship__form-check-link">Политики обработки персональных данных</a>
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>