<div class="vacancies">
  <div class="vacancies__top">
    <h2 class="vacancies__top-title text-button-all text-uppercase">
      Предприятие гарантирует своим сотрудникам следующие условия труда:
    </h2>
    <ul class="list-reset vacancies__top-list">
      <li class="vacancies__top-item descr1">
        Гибкий график работы (возможен прием студентов старших курсов)
      </li>
      <li class="vacancies__top-item descr1">
        Достойную и своевременную оплату труда
      </li>
      <li class="vacancies__top-item descr1">
        Полный соцпакет
      </li>
    </ul>
    <p class="vacancies__top-descr descr1">
      Решение принимается по итогам собеседования. Желающим приобрести стабильную и перспективную работу направлять резюме по электронной почте: mails@cryptosoft.ru
    </p>
  </div>
  <div class="vacancies__bottom">
    <h2 class="vacancies__bottom-title text-h8 text-uppercase">
      открытые вакансии
    </h2>
    <div class="vacancies__accordion">
      <div class="vacancies__accordion-item">
        <div class="vacancies__accordion-item-head">
          <h3 class="text-h4">
            Инженер по тестированию
          </h3>
          <span class="vacancies__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
        </div>
        <div class="vacancies__accordion-item-body">
          <div class="vacancies__accordion-item-body-wrap">
            <div class="vacancies__accordion-block">
              <h4 class="vacancies__accordion-block-title descr5">
                Требования к соискателям:
              </h4>
              <ul class="vacancies__accordion-block-list list-reset d-flex flex-column">
                <li class="vacancies__accordion-block-item descr1">
                  C/С#
                </li>
                <li class="vacancies__accordion-block-item descr1">
                  навыки программирования под Windows
                </li>
              </ul>
            </div>
            <div class="vacancies__accordion-block">
              <h4 class="vacancies__accordion-block-title descr5">
                Приветствуются:
              </h4>
              <ul class="vacancies__accordion-list list-reset d-flex flex-column">
                <li class="vacancies__accordion-block-item descr1">
                  Знание ASSEMBLER и архитектуры операционных систем
                </li>
                <li class="vacancies__accordion-block-item descr1">
                  Опыт использования современных технологий (уверенное знание таких технологий, как СОМ, .Net Framework и др.
                </li>
                <li class="vacancies__accordion-block-item descr1">
                  Аналитический склад ума и способность к быстрому обучению
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="vacancies__accordion-item">
        <div class="vacancies__accordion-item-head">
          <h3 class="text-h4">
            Инженер-программист
          </h3>
          <span class="vacancies__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
        </div>
        <div class="vacancies__accordion-item-body">
          <div class="vacancies__accordion-item-body-wrap">
            <div class="vacancies__accordion-block">
              <h4 class="vacancies__accordion-block-title descr5">
                Требования к соискателям:
              </h4>
              <ul class="vacancies__accordion-block-list list-reset d-flex flex-column">
                <li class="vacancies__accordion-block-item descr1">
                  C/С#
                </li>
                <li class="vacancies__accordion-block-item descr1">
                  навыки программирования под Windows
                </li>
              </ul>
            </div>
            <div class="vacancies__accordion-block">
              <h4 class="vacancies__accordion-block-title descr5">
                Приветствуются:
              </h4>
              <ul class="vacancies__accordion-list list-reset d-flex flex-column">
                <li class="vacancies__accordion-block-item descr1">
                  Знание ASSEMBLER и архитектуры операционных систем
                </li>
                <li class="vacancies__accordion-block-item descr1">
                  Опыт использования современных технологий (уверенное знание таких технологий, как СОМ, .Net Framework и др.
                </li>
                <li class="vacancies__accordion-block-item descr1">
                  Аналитический склад ума и способность к быстрому обучению
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="vacancies__accordion-item">
        <div class="vacancies__accordion-item-head">
          <h3 class="text-h4">
            Инженер-программист
          </h3>
          <span class="vacancies__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
        </div>
        <div class="vacancies__accordion-item-body">
          <div class="vacancies__accordion-item-body-wrap">
            <div class="vacancies__accordion-block">
              <h4 class="vacancies__accordion-block-title descr5">
                Требования к соискателям:
              </h4>
              <ul class="vacancies__accordion-block-list list-reset d-flex flex-column">
                <li class="vacancies__accordion-block-item descr1">
                  C/С#
                </li>
                <li class="vacancies__accordion-block-item descr1">
                  навыки программирования под Windows
                </li>
              </ul>
            </div>
            <div class="vacancies__accordion-block">
              <h4 class="vacancies__accordion-block-title descr5">
                Приветствуются:
              </h4>
              <ul class="vacancies__accordion-list list-reset d-flex flex-column">
                <li class="vacancies__accordion-block-item descr1">
                  Знание ASSEMBLER и архитектуры операционных систем
                </li>
                <li class="vacancies__accordion-block-item descr1">
                  Опыт использования современных технологий (уверенное знание таких технологий, как СОМ, .Net Framework и др.
                </li>
                <li class="vacancies__accordion-block-item descr1">
                  Аналитический склад ума и способность к быстрому обучению
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="vacancies__accordion-item">
        <div class="vacancies__accordion-item-head">
          <h3 class="text-h4">
            Инженер-программист
          </h3>
          <span class="vacancies__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
        </div>
        <div class="vacancies__accordion-item-body">
          <div class="vacancies__accordion-item-body-wrap">
            <div class="vacancies__accordion-block">
              <h4 class="vacancies__accordion-block-title descr5">
                Требования к соискателям:
              </h4>
              <ul class="vacancies__accordion-block-list list-reset d-flex flex-column">
                <li class="vacancies__accordion-block-item descr1">
                  C/С#
                </li>
                <li class="vacancies__accordion-block-item descr1">
                  навыки программирования под Windows
                </li>
              </ul>
            </div>
            <div class="vacancies__accordion-block">
              <h4 class="vacancies__accordion-block-title descr5">
                Приветствуются:
              </h4>
              <ul class="vacancies__accordion-list list-reset d-flex flex-column">
                <li class="vacancies__accordion-block-item descr1">
                  Знание ASSEMBLER и архитектуры операционных систем
                </li>
                <li class="vacancies__accordion-block-item descr1">
                  Опыт использования современных технологий (уверенное знание таких технологий, как СОМ, .Net Framework и др.
                </li>
                <li class="vacancies__accordion-block-item descr1">
                  Аналитический склад ума и способность к быстрому обучению
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>