<section class="about">
  <div class="custom-container container-fluid">
    <div class="about__content">
      <div class="about__top d-flex flex-column">
        <nav class="breadcrumb-custom about__breadcrumb">
          <ul class="breadcrumb-custom-list list-reset">
            <li class="breadcrumb-custom-item">
              <a href="/" class="breadcrumb-custom-link">Главная</a>
            </li>
            <li class="breadcrumb-custom-item">
              О компании
            </li>
          </ul>
        </nav>
        <h1 class="text-h2 text-h2-1 about__title text-uppercase">
          о компании
        </h1>
        <div class="about__tab-head">
          <ul class="about__tab-head-list">
            <li class="about__tab-head-item">
              <button class="about__tab-head-btn">
                лицензии И ДОКУМЕНТЫ
              </button>
            </li>
            <li class="about__tab-head-item">
              <button class="about__tab-head-btn">
                История
              </button>

            </li>
            <li class="about__tab-head-item">
              <button class="about__tab-head-btn">
                МЕРОПРИЯТИЯ
              </button>
            </li>
            <li class="about__tab-head-item">
              <button class="about__tab-head-btn">
                КОНТАКТЫ
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="about__bottom">
        <div class="about__tab-body">
          <div class="about__tab-item">
            @include('licenses.html')
          </div>
          <div class="about__tab-item">
            @include('history.html')
          </div>
          <div class="about__tab-item">
            @include('events.html')
          </div>
          <div class="about__tab-item">
            @include('contacts.html')
          </div>
        </div>
      </div>
    </div>
  </div>
</section>