<div class="contacts">
  <div class="contacts__item d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
    <div class="contacts__left">
      <h2 class="contacts__title text-h8 text-uppercase">
        пенза
      </h2>
      <p class="contacts__descr descr2 descr-2-1">
        440026 г. Пенза, ул. Лермонтова, д. 3
        <br/>
        Телефон/факс: +7 (8412) 99-10-91, 56-00-77
      </p>
      <p class="contacts__descr descr2 descr-2-1">
        ООО НТП "Криптософт"
      </p>
    </div>
    <div class="contacts__right">
      <div id="contacts__map-penza" class="contacts__map"></div>
    </div>
  </div>

  <div class="contacts__item d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
    <div class="contacts__left">
      <h2 class="contacts__title text-h8 text-uppercase">
        москва
      </h2>
      <p class="contacts__descr descr2 descr-2-1">
        107113 г. Москва, ул. Шумкина, д. 26А, стр. 2
        <br/>
        Телефон/факс: +7 (499) 500-42-36
      </p>
      <p class="contacts__descr descr2 descr-2-1">
        ООО НТП "Криптософт"
      </p>
    </div>
    <div class="contacts__right">
      <div id="contacts__map-moscow" class="contacts__map"></div>
    </div>
  </div>
</div>