<div class="history">
  <div class="history__top d-flex align-items-start justify-content-between">
    <h2 class="text-h8 text-h8-2 text-uppercase history__title">
      Значимые события НТП «Криптософт»
    </h2>
    <div class="history__btns d-none d-md-flex align-items-center">
      <button class="history__swiper-btn btn-reset history__swiper-prev">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.5 12L4.5 12M4.5 12L11.25 18.75M4.5 12L11.25 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <button class="history__swiper-btn btn-reset history__swiper-next">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.5 12.5664L19.5 12.5664M19.5 12.5664L12.75 19.3164M19.5 12.5664L12.75 5.81641" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>
  <div class="history__block">
    <div class="history__swiper swiper">
      <div class="history__wrapper swiper-wrapper">
        <div class="history__slide swiper-slide">
          <h3 class="history__year text-number">
            1993
          </h3>
          <p class="history__descr descr1">
            9 сентября Общество с ограниченной ответственностью научно-техническое предприятие «Криптософт» зарегистрировано Решением №106/6 Малого Совета Ленинского районного Совета народных депутатов г. Пензы. Основным видом деятельности предприятия является выполнение НИР, ОКР и серийное производство шифровальной техники.
          </p>
        </div>
        <div class="history__slide swiper-slide">
          <h3 class="history__year text-number">
            1994
          </h3>
          <p class="history__descr descr1">
            Начало работ над встраиваемой операционной системой.
          </p>
        </div>
        <div class="history__slide swiper-slide">
          <h3 class="history__year text-number">
            1995
          </h3>
          <p class="history__descr descr1">
            Предприятие в инициативном порядке приступило к выполнению разработки программного средства защиты информации для ОС Microsoft Windows 95 и NT. В жизнь предприятия вошел термин QP – Quality Protected. В дальнейшем эти две буквы QP и их значение «качественно защищенный» стали визитной карточкой и основным принципом деятельности НТП «Криптософт».
          </p>
        </div>
        <div class="history__slide swiper-slide">
          <h3 class="history__year text-number">
            1996
          </h3>
          <p class="history__descr descr1">
            Предприятие в инициативном порядке приступило к выполнению разработки программного средства защиты информации для ОС Microsoft Windows 95 и NT. В жизнь предприятия вошел термин QP – Quality Protected. В дальнейшем эти две буквы QP и их значение «качественно защищенный» стали визитной карточкой и основным принципом деятельности НТП «Криптософт».
          </p>
        </div>
        <div class="history__slide swiper-slide">
          <h3 class="history__year text-number">
            1997
          </h3>
          <p class="history__descr descr1">
            Предприятие в инициативном порядке приступило к выполнению разработки программного средства защиты информации для ОС Microsoft Windows 95 и NT. В жизнь предприятия вошел термин QP – Quality Protected. В дальнейшем эти две буквы QP и их значение «качественно защищенный» стали визитной карточкой и основным принципом деятельности НТП «Криптософт».
          </p>
        </div>
        <div class="history__slide swiper-slide">
          <h3 class="history__year text-number">
            1998
          </h3>
          <p class="history__descr descr1">
            Предприятие в инициативном порядке приступило к выполнению разработки программного средства защиты информации для ОС Microsoft Windows 95 и NT. В жизнь предприятия вошел термин QP – Quality Protected. В дальнейшем эти две буквы QP и их значение «качественно защищенный» стали визитной карточкой и основным принципом деятельности НТП «Криптософт».
          </p>
        </div>
      </div>
      <div class="history__pagination"></div>
    </div>
  </div>
</div>