.quantum {
  margin-top: 83px;
  padding: 10px 0 140px;

  &__breadcrumb {
    margin-bottom: var(--gap-30);
  }

  &__title {
    margin-bottom: var(--gap-30);
    &-second {
      margin-bottom: var(--gap-20);
    }
  }

  &__descr {
    margin-bottom: 60px;

    &-bold {
      margin-bottom: var(--gap-20);
    }
  }

  &__left {
    padding-right: 10px;
    &-block {
      max-width: 711px;
      width: 100%;
    }
    &-send {
      margin-bottom: 70px;
    }
  }

  &__swiper {
    &-wrap {
      position: relative;
      margin-bottom: 60px;
    }
    &-btn {
      @include switching;
      position: absolute;
      top: calc(50% - 25px);
      z-index: 1;
    }

    &-prev {
      left: calc(0% - 34px);
    }
    &-next {
      right: calc(0% - 34px);
    }
  }

  &__slide {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 30px;
    height: auto;
    background-color: var(--gray-light);

    &-svg {
      margin-bottom: var(--gap-20);
    }
  }

  &__zoom {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #009a6d1a;
  }

  &__pagination {
    @include pagination;
    display: none;
  }

  &__characteristics {
    margin-bottom: var(--gap-40);
    &-swiper {
      margin-bottom: 60px;
    }

    &-text {
      &:not(:last-child) {
        margin-bottom: var(--gap-24);
      }
    }
  }

  &__accordion {
    @include accordion;
  }

  &__right {
    padding-left: 20px;
    &-block {
      position: sticky;
      top: 83px;
    }

    &-list {
      background-color: var(--gray-light);
      padding: var(--gap-30);
      gap: var(--gap-12);
      margin-bottom: var(--gap-40);
    }

    &-item {
      color: var(--green);
      text-transform: uppercase;
    }

    &-link {
      color: var(--black);
      text-transform: uppercase;
    }

    &-title {
      margin-bottom: var(--gap-30);
    }

  }
  &__button {
    width: 100%;
    @include btnBorder;
  }

  &__modal {
    &-dialog {
      max-width: 725px;
    }
    &-content {
      border-radius: 0;
      border: none;
    }
    &-header {
      padding: 20px 20px 10px;
      border-bottom: 0;
    }

    &-body {
      padding: 8px 60px 60px;
    }

    &-title {
      margin-bottom: var(--gap-20);
    }

    &-form {
      gap: var(--gap-20);
    }

    &-descr {
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  &__form {
    &-inputs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
      row-gap: 20px;
      margin-bottom: 20px;
    }

    &-send {
      gap: var(--gap-12);
    }

    &-btn {
      @include btn;
      min-width: 177px;
    }

    &-check {
      display: flex;
      align-items: center;

      &-input {
        background-color: transparent;
        border: 1px solid var(--black);
        width: 20px;
        height: 20px;
        margin: 0 12px 0 0;

        &:checked {
          background-color: transparent;
          border-color: var(--black);
        }
        &:checked[type=checkbox] {
          --bs-form-check-bg-image: url("../img/form-check.svg");
        }
      }
      &-input[type=checkbox] {
        border-radius: 0;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .quantum {
    &__left {
      padding-right: 0;
      &-block {
        max-width: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .quantum {
    margin-top: 48px;
    padding: 5px 0 70px;

    &__breadcrumb {
      margin-bottom: var(--gap-20);
    }

    &__title {
      margin-bottom: var(--gap-20);
      &-second {
        margin-bottom: var(--gap-20);
      }
    }

    &__descr {
      margin-bottom: var(--gap-40);
    }

    &__swiper {
      &-wrap {
        margin-bottom: 70px;
      }
      &-btn {
        display: none;
      }
    }

    &__pagination {
      display: flex;
    }

    &__characteristics {
      &-swiper {
        margin-bottom: 20px;
      }
    }

    &__modal {
      &-dialog {
        max-width: var(--bs-modal-width);

      }
      &-header {
        padding: 12px 12px 2px;
      }
      &-body {
        padding: 2px 16px 16px;
      }
      &-form {
        gap: var(--gap-16);
      }
    }

    &__form {
      &-inputs {
        grid-template-columns: 1fr;
        margin-bottom: 14px;
        row-gap: var(--gap-16);
      }

      &-send {
        gap: var(--gap-16);
      }

      &-btn {
        max-width: none;
        width: 100%;
      }

      &-check {
        align-items: flex-start;
        &-input {
          margin-top: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .quantum {
    &__modal {
      &-dialog {
        margin: var(--gap-20);
      }
    }
  }
}