<div class="qp__left-block">
  <h1 class="text-h2 text-h2-1 qp__title text-uppercase">
    Удостоверяющий центр
  </h1>
  <div class="qp__descr">
    <p class="descr1">
      Удостоверяющий Центр (УЦ) М-756 – программно-аппаратный комплекс, обеспечивающий условия признания юридической силы электронной подписи в системах электронного документооборота, обрабатывающих информацию, содержащую сведения, составляющие государственную тайну (изделие имеет заключение ФСБ России о соответствии требованиям к средствам УЦ 2 класса).    </p>
    <p class="descr1">
      УЦ М-756, разработанный НТП «Криптософт», может быть использован в качестве типового решения по построению удостоверяющего центра для государственных информационных систем и автоматизированных систем военного назначения. На базе апробированных в М-756 технологий и решений могут быть разработаны УЦ для информационных систем, обрабатывающих «совершенно секретные» сведения (УЦ 1 класса).
    </p>
  </div>
  <div class="qp__left-send d-block d-lg-none">
    <h2 class="text-uppercase text-h8 text-h8-2 qp__right-title">
      ОТправьте запрос на последнюю версию операционной системы
    </h2>
    <button class="qp__button btn-reset">
      отправить
    </button>
  </div>
  <div class="qp__advantages d-flex flex-column">
    <div class="qp__advantages-top">
      <h3 class="qp__title-three descr3-all">
        УЦ состоит из следующих компонентов:
      </h3>
      <ul class="list-reset qp__advantages-list d-flex flex-column">
        <li class="qp__item descr1">
          АРМ администратораа.
        </li>
        <li class="qp__item descr1">
          АРМ аудитора
        </li>
        <li class="qp__item descr1">
          Cерверная группа
        </li>
      </ul>
    </div>
    <p class="descr1">
      Все компоненты УЦ работают под управлением операционной системы QP ОС.
    </p>
    <p class="descr1">
      Каждый компонент УЦ снабжён ДВУ – доверенным вычислительным устройством, предназначенным для выполнения операций электронной подписи. ДВУ отображает и подписывает сертификаты и списки отзыва, проверяет и подписывает ответы служб TSP и OCSP.
    </p>

    <div class="qp__example-block">
      <div class="qp__example-swiper swiper">
        <div class="swiper-wrapper qp__example-wrapper">
          <div class="qp__example-slide swiper-slide">
            <img src="./img/33-1. Удостоверяющий центр.png">
          </div>
          <div class="qp__example-slide swiper-slide">
            <img src="./img/33-2. Удостоверяющий центр.png">
          </div>
        </div>
        <div class="qp__example-pagination"></div>
      </div>
      <button class="btn-reset qp__swiper-btn qp__swiper-prev">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.5 12L4.5 12M4.5 12L11.25 18.75M4.5 12L11.25 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <button class="btn-reset qp__swiper-btn qp__swiper-next">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.5 12.5664L19.5 12.5664M19.5 12.5664L12.75 19.3164M19.5 12.5664L12.75 5.81641" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    <p class="descr1">
      АРМ и серверы построены на стандартных аппаратных платформах на базе процессоров Intel. ДВУ построено на доверенной аппаратной платформе на базе отечественного процессора Комдив64. Это позволяет гарантировать отсутствие аппаратных «закладок» и различных уязвимостей.
    </p>
  </div>
</div>