<div class="qp__left-block">
  <h1 class="text-h2 text-h2-1 qp__title text-uppercase">
    Серверные технологии операционной системы QP ОС
  </h1>
  <div class="qp__descr">
    <p class="descr1">
      Полнофункциональный набор серверных компонентов в составе QP ОС позволяет использовать ее как базовую операционную систему для построения защищенных информационных комплексов и систем обеспечения функционирования различных объектов.
    </p>
  </div>
  <div class="qp__accordion">
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Контроллер домена
          </h3>
          <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr-2 descr1">
            Для обеспечения возможности формирования доменной сети рабочими станциями под управлением QP ОС в состав операционной системы входит подсистема управления системой каталогов, совместимая с Active Directory.
          </p>
          <p class="qp__accordion-descr descr1">
            Подсистема позволяет настроить компьютер как в качестве контроллера домена, так и в качестве клиента в составе этого домена.
          </p>
          <div class="qp__example-block">
            <div class="qp__example-swiper swiper">
              <div class="swiper-wrapper qp__example-wrapper">
                <div class="qp__example-slide swiper-slide">
                  <img src="./img/19. Контроллер домена.png">
                </div>
                <div class="qp__example-slide swiper-slide">
                  <img src="./img/19-1. Контроллер домена.png">
                </div>
              </div>
              <div class="qp__example-pagination"></div>
            </div>
            <button class="btn-reset qp__swiper-btn qp__swiper-prev">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.5 12L4.5 12M4.5 12L11.25 18.75M4.5 12L11.25 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <button class="btn-reset qp__swiper-btn qp__swiper-next">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.5 12.5664L19.5 12.5664M19.5 12.5664L12.75 19.3164M19.5 12.5664L12.75 5.81641" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Почтовый сервер
          </h3>
          <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            Почтовый сервер QP Mail, функционирующий под управлением QP ОС, разработан с учетом требований по обеспечению защиты информации от несанкционированного доступа при обмене электронными сообщениями в системах, обрабатывающих конфиденциальную информацию. QP Mail может функционировать в комплексе как со средствами защиты линейки QP, так и с различными программно-аппаратными решениями по защите информации производства ООО НТП «Криптософт». В QP Mail предусмотрено два режима работы.
          </p>
          <h4 class="qp__accordion-descr-2 text-h3-all">
            Режим сервера электронной почты
          </h4>
          <p class="qp__accordion-descr descr1">
            Сервер выступает в роли почтового сервера, обеспечивающего обмен электронными сообщениями между пользователями посредством протоколов электронной почты SMTP, POP3, IMAP4. Сервер позволяет обеспечить обмен электронными сообщениями между пользователями как в рамках одной обособленной ЛВС, так и с пользователями внешних систем электронной почты.
          </p>
          <h4 class="qp__accordion-descr-2 text-h3-all">
            Режим шлюза электронной почты.
          </h4>
          <p class="qp__accordion-descr descr1">
            Сервер выступает в роли шлюза электронной почты, обеспечивающего обмен электронными сообщениями (через протокол SMTP) между серверами электронной почты двух и более обособленных ЛВС. Основной задачей шлюза является обеспечение контроля параметров передаваемых электронных сообщений между почтовыми системами.          </p>
          <div class="qp__example-block">
            <div class="qp__example-swiper swiper">
              <div class="swiper-wrapper qp__example-wrapper">
                <div class="qp__example-slide swiper-slide">
                  <img src="./img/20-1. Почтовый сервер.png">
                </div>
                <div class="qp__example-slide swiper-slide">
                  <img src="./img/20. Режим сервера электронной почты.png">
                </div>
                <div class="qp__example-slide swiper-slide">
                  <img src="./img/21. Режим шлюза электронной почты.png">
                </div>
              </div>
              <div class="qp__example-pagination"></div>
            </div>
            <button class="btn-reset qp__swiper-btn qp__swiper-prev">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.5 12L4.5 12M4.5 12L11.25 18.75M4.5 12L11.25 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <button class="btn-reset qp__swiper-btn qp__swiper-next">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.5 12.5664L19.5 12.5664M19.5 12.5664L12.75 19.3164M19.5 12.5664L12.75 5.81641" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Web-серверы
          </h3>
          <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <div class="qp__accordion-second">
            <div class="ac qp__accordion-item qp__accordion-item-second">
              <div class="ac-header qp__accordion-item-head">
                <div class="ac-trigger qp__accordion-item-trigger qp__accordion-item-trigger-second">
                  <h3 class="text-h3-all">
                    Web-сервер Megatron
                  </h3>
                  <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
                </div>
              </div>
              <div class="ac-panel qp__accordion-item-body">
                <div class="qp__accordion-block qp__accordion-block-second">
                  <p class="qp__accordion-descr descr1">
                    В составе QP ОС реализован собственный веб-сервер, который представляет собой отдельную службу операционной системы и работает как сетевое приложение, производящее многопоточную обработку запросов по протоколам HTTP и HTTPS. Веб-сервер обеспечивает хостинг статического контента и поддерживает обработку запросов HEAD, POST, GET. При настройке сервера имеется возможность указать корневой каталог сервера, в котором непосредственно располагаются файлы статического контента сайта. Веб-сервер поддерживает интерфейс прикладного программирования CGI.
                  </p>
                  <div class="qp__example-block">
                    <div class="qp__example-swiper swiper">
                      <div class="swiper-wrapper qp__example-wrapper">
                        <div class="qp__example-slide swiper-slide">
                          <img src="./img/22-1. Мегатрон.png">
                        </div>
                        <div class="qp__example-slide swiper-slide">
                          <img src="./img/22-2. Мегатрон.png">
                        </div>
                      </div>
                      <div class="qp__example-pagination"></div>
                    </div>
                    <button class="btn-reset qp__swiper-btn qp__swiper-prev">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12L4.5 12M4.5 12L11.25 18.75M4.5 12L11.25 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                    <button class="btn-reset qp__swiper-btn qp__swiper-next">
                      <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.5 12.5664L19.5 12.5664M19.5 12.5664L12.75 19.3164M19.5 12.5664L12.75 5.81641" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="ac qp__accordion-item qp__accordion-item-second">
              <div class="ac-header qp__accordion-item-head">
                <div class="ac-trigger qp__accordion-item-trigger qp__accordion-item-trigger-second">
                  <h3 class="text-h3-all">
                    Web-сервер Nginx 1.14
                  </h3>
                  <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
                </div>
              </div>
              <div class="ac-panel qp__accordion-item-body">
                <div class="qp__accordion-block qp__accordion-block-second">
                  <p class="qp__accordion-descr-2 descr1">
                    В QP ОС портирован web-сервер nginx версии 1.14, позволяющий осуществлять взаимодействие с клиентами по протоколу HTTP 1.1 и совместимый с большинством современных браузеров.
                  </p>
                  <p class="qp__accordion-descr-2 descr1">
                    Web-сервер Nginx поддерживает аутентификацию по протоколам NTLM, Kerberos и имеет положительное заключение ФСБ России на его применение совместно с операционной системой QP ОС для обработки информации с максимальной степенью секретности «совершенно секретно» включительно.
                  </p>
                  <p class="qp__accordion-descr-2 descr1">
                    Web-сервер может быть использован в составе сложных систем обработки данных, реализованных на базе технологий CGI и FastCGI. Благодаря поддержке FastCGI и наличию в QP ОС платформ .NET и PHP, имеется возможность исполнения Web-приложений, разработанных для указанных платформ.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Интерпретатор PHP
          </h3>
          <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr-2 descr1">
            В состав операционной системы QP OC входит интерпретатор PHP 7.3.20 с встроенными дополнительными средствами защиты. При построении защищенных веб-порталов PHP выступает в роли FastCGI-сервера и взаимодействует с веб-сервером Nginx на платформе операционной системы QP OC и веб-сервером IIS на платформе ОС Windows.
          </p>
          <p class="qp__accordion-descr descr1">
            PHP 7.3.20 имеет положительное заключение ФСБ России на его применение совместно с операционной системой QP ОС для обработки информации с максимальной степенью секретности «совершенно секретно» включительно.
          </p>
          <p class="qp__accordion-descr-2 descr1">
            Функционально пакет PHP выполняет три задачи:
          </p>
          <div class="qp__accordion-descr">
            <ul class="qp__roles-list list-reset d-flex flex-column">
              <li class="qp__item descr1">
                Анализ входного кода, компиляция и выполнение;
              </li>
              <li class="qp__item descr1">
                Предоставление функциональной части языка;
              </li>
              <li class="qp__item descr1">
                Взаимодействие с веб-сервером.
              </li>
            </ul>
          </div>
          <p class="qp__accordion-descr-2 descr1">
            Механизмы безопасности PHP:
          </p>
          <div class="qp__accordion-descr">
            <ul class="qp__roles-list list-reset d-flex flex-column">
              <li class="qp__item descr1">
                Сквозная аутентификация клиентов;
              </li>
              <li class="qp__item descr1">
                Контроль над запуском сценариев PHP;
              </li>
              <li class="qp__item descr1">
                Регистрация событий безопасности в системный журнал;
              </li>
              <li class="qp__item descr1">
                Расширение API PHP в соответствии со спецификацией PHP с целью интеграции с базовыми СЗИ.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Файловый сервер
          </h3>
          <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            В составе операционной системы QP ОС реализованы сетевые протоколы SMB версий 1 и 2. Они позволяют осуществлять подключение к разделяемым каталогам в составе локальной вычислительной сети.
          </p>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            FTP-сервер
          </h3>
          <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            В операционной системе QP ОС реализованы сервер и клиент службы протокола FTP, предназначенного для передачи файлов по TCP/IP сетям. Наличие данного функционала позволяет организовать хранение файлов на сервере и передачу файлов между сервером и клиентами.
          </p>
          <div class="qp__accordion-img">
            <img src="./img/23. FTP-сервер.png">
          </div>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            DNS-сервер
          </h3>
          <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            В составе защищённой операционной системы QP ОС реализован собственный сервер системы доменных имён DNS. Приложение диспетчер DNS-сервера позволяет создать и настроить различные зоны (в том числе дочерние), серверы доменных имён (прямого и обратного просмотра, пересылки и др.). Созданные зоны поддерживают все основные типы ресурсных записей, включая записи адреса узла (A и AAAA), расположение службы (SRV), указателя (PTR), псевдонима (CNAME), авторитетного сервера имён (NS) и т.д.
          </p>
          <div class="qp__accordion-img">
            <img src="./img/24. DNS-сервер.png">
          </div>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Сервер видеоконференцсвязи
          </h3>
          <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            В составе операционной системы QP ОС разработаны все необходимые компоненты для управления видеоконференциями.
          </p>
          <p class="qp__accordion-descr-2 descr1">
            Функциональные возможности сервера:
          </p>
          <div class="qp__accordion-descr">
            <ul class="qp__roles-list list-reset d-flex flex-column">
              <li class="qp__item descr1">
                Организация видеоконференций;
              </li>
              <li class="qp__item descr1">
                Запись сессий видеоконференций;
              </li>
              <li class="qp__item descr1">
                Планирование видеоконференций;
              </li>
              <li class="qp__item descr1">
                Управление пользователями и профилями видеоконференцсвязи.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Реляционные базы данных
          </h3>
          <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr">
            Под управлением QP ОС функционируют две реляционные СУБД: разработанная НТП «Криптософт» СУБД QP DB и портированная СУБД с открытыми кодами PostgreSQL версии 9.6.2. Указанные СУБД частично совместимы между собой по формату запросов.
          </p>
          <div class="qp__accordion-second">
            <div class="ac qp__accordion-item qp__accordion-item-second">
              <div class="ac-header qp__accordion-item-head">
                <div class="ac-trigger qp__accordion-item-trigger qp__accordion-item-trigger-second">
                  <h3 class="text-h3-all">
                    Система управления базами данных QP DB
                  </h3>
                  <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
                </div>
              </div>
              <div class="ac-panel qp__accordion-item-body">
                <div class="qp__accordion-block qp__accordion-block-second">
                  <p class="qp__accordion-descr-2 descr1">
                    СУБД QP DB интегрирована в комплексный механизм информационной безопасности QP ОС для надежного и безопасного хранения данных. СУБД QP DB полностью совместима по клиент-серверному протоколу с СУБД PostgreSQL, а в последних версиях эмулирует структуру системных таблиц и типов данных СУБД PostgreSQL. Данный подход позволяет осуществить переход на её использование большинства существующих программных продуктов, работающих с PostgreSQL с минимальными изменениями в программном коде.
                  </p>
                  <p class="qp__accordion-descr descr1">
                    В состав QP DB входит приложение для визуальной работы с СУБД, поддерживающее взаимодействие как с СУБД QP DB, так и с PostgreSQL.
                  </p>
                  <div class="qp__example-block">
                    <div class="qp__example-swiper swiper">
                      <div class="swiper-wrapper qp__example-wrapper">
                        <div class="qp__example-slide swiper-slide">
                          <img src="./img/25-1. QP DB.png">
                        </div>
                        <div class="qp__example-slide swiper-slide">
                          <img src="./img/25-2. QP DB.png">
                        </div>
                      </div>
                      <div class="qp__example-pagination"></div>
                    </div>
                    <button class="btn-reset qp__swiper-btn qp__swiper-prev">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 12L4.5 12M4.5 12L11.25 18.75M4.5 12L11.25 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                    <button class="btn-reset qp__swiper-btn qp__swiper-next">
                      <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.5 12.5664L19.5 12.5664M19.5 12.5664L12.75 19.3164M19.5 12.5664L12.75 5.81641" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="ac qp__accordion-item qp__accordion-item-second">
              <div class="ac-header qp__accordion-item-head">
                <div class="ac-trigger qp__accordion-item-trigger qp__accordion-item-trigger-second">
                  <h3 class="text-h3-all">
                    Система управления базами данных PostgreSQL 9.6.2
                  </h3>
                  <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
                </div>
              </div>
              <div class="ac-panel qp__accordion-item-body">
                <div class="qp__accordion-block qp__accordion-block-second">
                  <p class="qp__accordion-descr-2 descr1">
                    PostgreSQL поддерживает большую часть стандарта SQL и предлагает множество современных функций:
                  </p>
                  <div class="qp__accordion-descr">
                    <ul class="qp__roles-list list-reset d-flex flex-column">
                      <li class="qp__item descr1">
                        Сложные запросы;
                      </li>
                      <li class="qp__item descr1">
                        Внешние ключи;
                      </li>
                      <li class="qp__item descr1">
                        Триггеры;
                      </li>
                      <li class="qp__item descr1">
                        Изменяемые представления;
                      </li>
                      <li class="qp__item descr1">
                        Транзакционная целостность;
                      </li>
                      <li class="qp__item descr1">
                        Многоверсионность.
                      </li>
                    </ul>
                  </div>
                  <p class="qp__accordion-descr-2 descr1">
                    Особенности:
                  </p>
                  <div class="qp__accordion-descr">
                    <ul class="qp__roles-list list-reset d-flex flex-column">
                      <li class="qp__item descr1">
                        Сквозная аутентификация субъектов доступа;
                      </li>
                      <li class="qp__item descr1">
                        Контроль целостности содержимого и дескрипторов безопасности объектов БД;
                      </li>
                      <li class="qp__item descr1">
                        Обеспечение замкнутой программной среды;
                      </li>
                      <li class="qp__item descr1">
                        Мандатный контроль доступа к строкам таблиц;
                      </li>
                      <li class="qp__item descr1">
                        Аудит безопасности;
                      </li>
                      <li class="qp__item descr1">
                        Блокировка субъектов доступа;
                      </li>
                      <li class="qp__item descr1">
                        Средства администрирования с графическим интерфейсом.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>