<div class="qp__left-block">
  <h1 class="text-h2 text-h2-1 qp__title text-uppercase">
    Рабочая станция QP ОС
  </h1>
  <div class="qp__descr">
    <p class="descr1">
      Инсталляционный пакет дистрибутива операционной системы содержит в&nbsp;себе базовую операционную систему QP&nbsp;ОС, а&nbsp;также дополнительные пакеты, при установке которых компьютер начинает играть ту&nbsp;или иную функциональную роль.
    </p>
  </div>
    <div class="qp__accordion">
      <div class="ac qp__accordion-item">
        <div class="ac-header qp__accordion-item-head">
          <div class="ac-trigger qp__accordion-item-trigger">
            <h3 class="text-h4">
              Офисный пакет QP Грамота
            </h3>
            <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
          </div>
        </div>
        <div class="ac-panel qp__accordion-item-body">
          <div class="qp__accordion-block">
            <p class="qp__accordion-descr descr1">
              Офисный пакет QP&nbsp;Грамота позволяет работать с&nbsp;документами, созданными в&nbsp;приложениях &laquo;Word&raquo;, &laquo;Excel&raquo; и&nbsp;&laquo;Powerpoint&raquo; соответственно. И&nbsp;наоборот: документы, созданные с&nbsp;помощью &laquo;QP&nbsp;Грамота&raquo; можно обрабатывать в&nbsp;офисных приложениях Microsoft Office.
            </p>
            <p class="qp__accordion-descr-2 descr1">
              Состав офисного пакета QP Грамота:
            </p>
            <ul class="qp__roles-list list-reset d-flex flex-column">
              <li class="qp__item descr1">
                Текстовый редактор «Глагол»;
              </li>
              <li class="qp__item descr1">
                Редактор электронных таблиц «Ведомость»;
              </li>
              <li class="qp__item descr1">
                Менеджер презентаций «Доклад»;
              </li>
              <li class="qp__item descr1">
                Почтовый клиент «Почтальон».
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ac qp__accordion-item">
        <div class="ac-header qp__accordion-item-head">
          <div class="ac-trigger qp__accordion-item-trigger">
            <h3 class="text-h4">
              Текстовый редактор Глагол
            </h3>
            <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
          </div>
        </div>
        <div class="ac-panel qp__accordion-item-body">
          <div class="qp__accordion-item-body-wrap">
            <div class="qp__accordion-block">
              <p class="qp__accordion-descr descr1">
                Редактор текстовых документов &laquo;Глагол&raquo; позволяет открывать и&nbsp;редактировать текстовые документы в&nbsp;общепринятых форматах *.doc и *.docx, *.txt, *.rtf, создавать и&nbsp;сохранять текстовые документы в&nbsp;формате *.docx, *.txt, *.rtf.
              </p>
              <div class="qp__accordion-img">
                <img src="./img/8. Глагол.png">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ac qp__accordion-item">
        <div class="ac-header qp__accordion-item-head">
          <div class="ac-trigger qp__accordion-item-trigger">
            <h3 class="text-h4">
              Редактор электронных таблиц Ведомость
            </h3>
            <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
          </div>
        </div>
        <div class="ac-panel qp__accordion-item-body">
          <div class="qp__accordion-item-body-wrap">
            <div class="qp__accordion-block">
              <p class="qp__accordion-descr descr1">
                Приложение для работы с&nbsp;электронными таблицами &laquo;Ведомость&raquo; позволяет открывать и&nbsp;редактировать электронные таблицы в&nbsp;популярных форматах *.xls, *.xslx и *.csv, создавать и&nbsp;сохранять таблицы в&nbsp;формате *.xslx и *.csv.
              </p>
              <div class="qp__accordion-img">
                <img src="./img/9. Ведомость.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ac qp__accordion-item">
        <div class="ac-header qp__accordion-item-head">
          <div class="ac-trigger qp__accordion-item-trigger">
            <h3 class="text-h4">
              Редактор презентаций Доклад
            </h3>
            <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
          </div>
        </div>
        <div class="ac-panel qp__accordion-item-body">
          <div class="qp__accordion-item-body-wrap">
            <div class="qp__accordion-block">
              <p class="qp__accordion-descr descr1">
                Приложение для работы с&nbsp;презентациями &laquo;Доклад&raquo; позволяет открывать и&nbsp;редактировать презентации в&nbsp;форматах *.ppt и *.pptx, создавать и&nbsp;сохранять презентации в&nbsp;формате *.pptx.            </p>
              <div class="qp__accordion-img">
                <img src="./img/10. Доклад.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ac qp__accordion-item">
        <div class="ac-header qp__accordion-item-head">
          <div class="ac-trigger qp__accordion-item-trigger">
            <h3 class="text-h4">
              Почтовый клиент Почтальон
            </h3>
            <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
          </div>
        </div>
        <div class="ac-panel qp__accordion-item-body">
          <div class="qp__accordion-item-body-wrap">
            <div class="qp__accordion-block">
              <p class="qp__accordion-descr descr1">
                Для операционной системы QP&nbsp;ОС&nbsp;разработан клиент электронной почты &laquo;Почтальон&raquo;, поддерживающий протоколы POP3/IMAP4 для получения электронных сообщений с&nbsp;почтового сервера и&nbsp;протокол SMTP для отправки сообщений с&nbsp;вложениями.
              </p>
              <p class="qp__accordion-descr-2 descr1">
                Почтальон поддерживает:
              </p>
              <div class="qp__accordion-descr">
                <ul class="qp__roles-list list-reset d-flex flex-column">
                  <li class="qp__item descr1">
                    Стандарт почтовых сообщений в&nbsp;формате MIME (RFC-2822);
                  </li>
                  <li class="qp__item descr1">
                    Аутентификацию с сервером по технологии NTLM;
                  </li>
                  <li class="qp__item descr1">
                    Мандатный контроль доступа к почтовым сообщениям;
                  </li>
                  <li class="qp__item descr1">
                    Адресную книгу, которая автоматически формируется путем анализа данных об отправителе и получателе почтовых сообщений, а также получением адресов пользователей из Active Directory домена;
                  </li>
                  <li class="qp__item descr1">
                    Возможность сортировки и поиска сообщений по заданному параметру;
                  </li>
                  <li class="qp__item descr1">
                    Группировку входящих сообщений по каталогам на основе заданных правил фильтрации;
                  </li>
                  <li class="qp__item descr1">
                    Создание шаблонов черновиков сообщений;
                  </li>
                  <li class="qp__item descr1">
                    Задание и отображение важности сообщения;
                  </li>
                  <li class="qp__item descr1">
                    Уведомление о доставке и прочтении сообщения.
                  </li>
                </ul>
              </div>
              <p class="qp__accordion-descr descr1">
                Почтовый клиент &laquo;Почтальон&raquo; выполняет протоколирование в&nbsp;журнал событий QP&nbsp;ОС&nbsp;следующих событий: начало и&nbsp;завершение работы приложения, успешные и&nbsp;неуспешные попытки аутентификации, факт отправки почтового сообщения, сбои при работе приложения.
              </p>
              <div class="qp__accordion-img">
                <img src="./img/11. Почтальон.png">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ac qp__accordion-item">
        <div class="ac-header qp__accordion-item-head">
          <div class="ac-trigger qp__accordion-item-trigger">
            <h3 class="text-h4">
              Печать и сканирование
            </h3>
            <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
          </div>
        </div>
        <div class="ac-panel qp__accordion-item-body">
          <div class="qp__accordion-item-body-wrap">
            <div class="qp__accordion-block">
              <p class="qp__accordion-descr-2 descr1">
                В состав QP ОС входит подсистема печати. Реализована поддержка принтеров и сканеров - перечень поддерживаемого оборудования регулярно расширяется.
                В целях обеспечения требований информационной безопасности при печати документов, в QP ОС реализована возможность автоматического маркирования документа.
              </p>
              <p class="qp__accordion-descr descr1">
                С&nbsp;помощью данной функции администратор безопасности имеет возможность добавить маркировку в&nbsp;виде текста, изображения, фигуры либо того или иного реквизита (время, дата, имя компьютера, имя пользователя, количество копий, название документа и&nbsp;т.д.). Созданный шаблон прикрепляется к&nbsp;конкретному принтеру и&nbsp;после этого печать любого документа на&nbsp;данном принтере дополняется автомаркировкой каждого листа в&nbsp;соответствии с&nbsp;шаблоном.
              </p>
              <div class="qp__example-block">
                <div class="qp__example-swiper swiper">
                  <div class="swiper-wrapper qp__example-wrapper">
                    <div class="qp__example-slide swiper-slide">
                      <img src="./img/12-1 Печать и сканирование.png">
                    </div>
                    <div class="qp__example-slide swiper-slide">
                      <img src="./img/12-2 Печать и сканирование.png">
                    </div>
                    <div class="qp__example-slide swiper-slide">
                      <img src="./img/12-3 Печать и сканирование.png">
                    </div>
                  </div>
                  <div class="qp__example-pagination"></div>
                </div>
                <button class="btn-reset qp__swiper-btn qp__swiper-prev">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5 12L4.5 12M4.5 12L11.25 18.75M4.5 12L11.25 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>
                <button class="btn-reset qp__swiper-btn qp__swiper-next">
                  <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.5 12.5664L19.5 12.5664M19.5 12.5664L12.75 19.3164M19.5 12.5664L12.75 5.81641" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ac qp__accordion-item">
        <div class="ac-header qp__accordion-item-head">
          <div class="ac-trigger qp__accordion-item-trigger">
            <h3 class="text-h4">
              Файловый менеджер
            </h3>
            <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
          </div>
        </div>
        <div class="ac-panel qp__accordion-item-body">
          <div class="qp__accordion-item-body-wrap">
            <div class="qp__accordion-block">
              <p class="qp__accordion-descr descr1">
                Файловый менеджер дает пользователю возможность навигации по&nbsp;файлам и&nbsp;каталогам компьютера, размещенным на&nbsp;съемных и&nbsp;несъемных носителях. Позволяет копировать/перемещать файлы и&nbsp;каталоги, просматривать файлы известных типов (текстовые, графические), узнавать свойства (размер, дата последней модификации) файлов и&nbsp;каталогов, запускать исполняемые файлы приложений.
              </p>
              <div class="qp__accordion-img">
                <img src="./img/13. Файловый менеджер.png">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ac qp__accordion-item">
        <div class="ac-header qp__accordion-item-head">
          <div class="ac-trigger qp__accordion-item-trigger">
            <h3 class="text-h4">
              Средства просмотра
            </h3>
            <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
          </div>
        </div>
        <div class="ac-panel qp__accordion-item-body">
          <div class="qp__accordion-item-body-wrap">
            <div class="qp__accordion-block">
              <p class="qp__accordion-descr descr1">
                Средство просмотра позволяет просматривать файлы с&nbsp;расширениями .pdf, .xps, .epub.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="ac qp__accordion-item">
        <div class="ac-header qp__accordion-item-head">
          <div class="ac-trigger qp__accordion-item-trigger">
            <h3 class="text-h4">
              Средства мультимедиа
            </h3>
            <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
          </div>
        </div>
        <div class="ac-panel qp__accordion-item-body">
          <div class="qp__accordion-item-body-wrap">
            <div class="qp__accordion-block">
              <div class="qp__accordion-second">
                <div class="ac qp__accordion-item qp__accordion-item-second">
                  <div class="ac-header qp__accordion-item-head">
                    <div class="ac-trigger qp__accordion-item-trigger qp__accordion-item-trigger-second">
                      <h3 class="text-h3-all">
                        Медиаплеер Карнавал
                      </h3>
                      <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
                    </div>
                  </div>
                  <div class="ac-panel qp__accordion-item-body">
                    <div class="qp__accordion-block qp__accordion-block-second">
                      <p class="qp__accordion-descr descr1">
                        Медиаплеер «Карнавал» предназначен для воспроизведения звуковых файлов форматов Mp3 и FLAC.
                      </p>
                      <div class="qp__accordion-img">
                        <img src="./img/14. Карнавал интерфейс.png">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ac qp__accordion-item qp__accordion-item-second">
                  <div class="ac-header qp__accordion-item-head">
                    <div class="ac-trigger qp__accordion-item-trigger qp__accordion-item-trigger-second">
                      <h3 class="text-h3-all">
                        Видеоплеер Фильм
                      </h3>
                      <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
                    </div>
                  </div>
                  <div class="ac-panel qp__accordion-item-body">
                    <div class="qp__accordion-block qp__accordion-block-second">
                      <p class="qp__accordion-descr descr1">
                        Видеоплеер &laquo;Фильм&raquo; позволяет воспроизводить видеофайлы форматов mpeg, avi, mp4, mkv, flv, аудиоформаты wav, ogg и&nbsp;поддерживает кодеки: mpeg2, h.264, avc, mp3, асс, ас3. Приложение поддерживает воспроизведение потокового вещания (rtp, rtsp).
                      </p>
                    </div>
                  </div>
                </div>
                <div class="ac qp__accordion-item qp__accordion-item-second">
                  <div class="ac-header qp__accordion-item-head">
                    <div class="ac-trigger qp__accordion-item-trigger qp__accordion-item-trigger-second">
                      <h3 class="text-h3-all">
                        Запись аудио
                      </h3>
                      <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
                    </div>
                  </div>
                  <div class="ac-panel qp__accordion-item-body">
                    <div class="qp__accordion-block qp__accordion-block-second">
                      <p class="qp__accordion-descr descr1">
                        Графический редактор «GuidoPaint» предназначен для работы с файлами изображений.
                      </p>
                      <p class="qp__accordion-descr-2 descr1">
                        Возможности графического редактора «GuidoPaint»:
                      </p>
                      <div class="qp__accordion-descr">
                        <ul class="qp__roles-list list-reset d-flex flex-column">
                          <li class="qp__item descr1">
                            Открытие, редактирование и сохранение файлов изображений;
                          </li>
                          <li class="qp__item descr1">
                            Поддержка растровой графики, в том числе, вставка, наложение, обрезка, настройка яркости и контрастности;
                          </li>
                          <li class="qp__item descr1">
                            Поддержка векторной графики:
                            <ul class="qp__roles-list qp__accordion-list list-reset d-flex flex-column">
                              <li class="qp__item descr1">
                                Работа с текстом, его стиль, цвет, размер и шрифт
                              </li>
                              <li class="qp__item descr1">
                                Векторные примитивы (прямоугольники, эллипсы, треугольники, прямые линии, а также любые фигуры с помощью связанных линий);                              </li>
                              <li class="qp__item descr1">
                                Выноски с текстом:

                                <ul class="qp__roles-list qp__accordion-list list-reset d-flex flex-column">
                                  <li class="qp__item descr1">
                                    Аффинные преобразования (вращения, отражения, масштабирование);
                                  </li>
                                  <li class="qp__item descr1">
                                    Хранение истории изменений;
                                  </li>
                                  <li class="qp__item descr1">
                                    Работа с буфером обмена;
                                  </li>
                                  <li class="qp__item descr1">
                                    Структурирование документа в виде слоёв;
                                  </li>
                                  <li class="qp__item descr1">
                                    Группировка элементов;
                                  </li>
                                  <li class="qp__item descr1">
                                    Печать изображений на принтере
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="qp__accordion-img">
                        <img src="./img/15. Графический редактор.png">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ac qp__accordion-item qp__accordion-item-second">
                  <div class="ac-header qp__accordion-item-head">
                    <div class="ac-trigger qp__accordion-item-trigger qp__accordion-item-trigger-second">
                      <h3 class="text-h3-all">
                        Аудиомикшер
                      </h3>
                      <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
                    </div>
                  </div>
                  <div class="ac-panel qp__accordion-item-body">
                    <div class="qp__accordion-block qp__accordion-block-second">
                      <p class="qp__accordion-descr descr1">
                        Системный аудиомикшер предназначен для управления аудиопотоками и аудиоустройствами внутри системы.
                      </p>
                      <p class="qp__accordion-descr-2 descr1">
                        Системный аудиомикшер позволяет:
                      </p>
                      <div class="qp__accordion-descr">
                        <ul class="qp__roles-list list-reset d-flex flex-column">
                          <li class="qp__item descr1">
                            Выбирать аудиоустройство по умолчанию для записи или воспроизведения звука (переключать воспроизведение звука с монитора на наушники или колонки);                          </li>
                          <li class="qp__item descr1">
                            Производить настройку общего уровня громкости, громкости по каждому каналу отдельно;
                          </li>
                          <li class="qp__item descr1">
                            Настраивать формат воспроизведения (частота дискретизации, количество каналов воспроизведения и глубина кодирования аудиоданных, исходя из возможностей аудиоустройства);
                          </li>
                          <li class="qp__item descr1">
                            Управлять громкостью пользовательских приложений (изменять уровень громкости или заглушать звук от приложения совсем).
                          </li>
                        </ul>
                      </div>
                      <div class="qp__accordion-img">
                        <img src="./img/16. Аудиомикшер интерфейс.png">
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
      <div class="ac qp__accordion-item">
        <div class="ac-header qp__accordion-item-head">
          <div class="ac-trigger qp__accordion-item-trigger">
            <h3 class="text-h4">
              Защищенный браузер Титан
            </h3>
            <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
          </div>
        </div>
        <div class="ac-panel qp__accordion-item-body">
          <div class="qp__accordion-block">
            <p class="qp__accordion-descr descr1">
              Веб-браузер &laquo;Титан&raquo; предназначен для просмотра документов в&nbsp;формате гипертекстовой разметки. Возможен просмотр как локальных копий документов, хранимых в&nbsp;файловой системе, так и&nbsp;размещенных удаленно на&nbsp;веб-серверах. Браузер разрабатывается с&nbsp;учетом современных тенденций при проектировании сайтов и&nbsp;поддерживает спецификацию HTML версии 5&nbsp;и&nbsp;CSS версии 2.1. Кроме того, для отображения интерактивного содержимого браузером поддерживается исполнение сценариев, написанных на&nbsp;языке JavaScript.
            </p>
            <p class="qp__accordion-descr-2 descr1">
              Возможности браузера «Титан»:
            </p>
            <div class="qp__accordion-descr">
              <ul class="qp__roles-list list-reset d-flex flex-column">
                <li class="qp__item descr1">
                  Отображение содержимого веб-сайтов, в том числе интерактивного;
                </li>
                <li class="qp__item descr1">
                  Просмотр содержания файлов текстовых форматов (TXT) и графических форматов (PNG, SVG, WEBP, JPEG, GIF);
                </li>
                <li class="qp__item descr1">
                  Скачивание файлов любого формата;
                </li>
                <li class="qp__item descr1">
                  Печать содержимого страницы;
                </li>
                <li class="qp__item descr1">
                  аутентификация пользователя, если требуется
                </li>
                <li class="qp__item descr1">
                  работа с&nbsp;защищенным каналом передачи данных GPipe, обеспечивающим взаимодействие с&nbsp;сегментами сети, подключенными к&nbsp;разным виртуальным машинам. Работа с&nbsp;защищенным каналом передачи данных GPipe возможна только под операционной системой QP&nbsp;ОС.
                </li>
              </ul>
            </div>
            <p class="qp__accordion-descr-2 descr1">
              Преимущества браузера с точки зрения безопасности:
            </p>
            <div class="qp__accordion-descr">
              <ul class="qp__roles-list list-reset d-flex flex-column">
                <li class="qp__item descr1">
                  Использование управляемой платформы .NET.
                </li>
                <li class="qp__item descr1">
                  Защита от внутреннего нарушителя.
                </li>
                <li class="qp__item descr1">
                  Безопасный интерпретатор сценариев JavaScript.
                </li>
                <li class="qp__item descr1">
                  Механизм замкнутой программной среды.
                </li>
                <li class="qp__item descr1">
                  Обеспечение конфиденциальности пользователя и передаваемых данных.
                </li>
              </ul>
            </div>

            <div class="qp__accordion-img">
              <img src="./img/17. Титан.png">
            </div>
          </div>
        </div>
      </div>
      <div class="ac qp__accordion-item">
        <div class="ac-header qp__accordion-item-head">
          <div class="ac-trigger qp__accordion-item-trigger">
            <h3 class="text-h4">
              Клиент видеоконференцсвязи
            </h3>
            <span class="qp__accordion-svg">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
                </svg>
              </span>
          </div>
        </div>
        <div class="ac-panel qp__accordion-item-body">
          <div class="qp__accordion-block">
            <p class="qp__accordion-descr descr1">
              Операционная система QP ОС адаптирована для проведения сеансов защищенной видеоконференцсвязи. Текущий функционал позволяет использовать QP ОС как в качестве клиентского устройства, так и в качестве сервера.
            </p>
            <p class="qp__accordion-descr-2 descr1">
              Функциональные возможности клиентского устройства:
            </p>
            <div class="qp__accordion-descr">
              <ul class="qp__roles-list list-reset d-flex flex-column">
                <li class="qp__item descr1">
                  Осуществление аудио- и видеовызовов;
                </li>
                <li class="qp__item descr1">
                  Демонстрация экрана собеседнику
                </li>
                <li class="qp__item descr1">
                  Отправка текстовых сообщений собеседнику;
                </li>
                <li class="qp__item descr1">
                  Формирование списка контактов.
                </li>
              </ul>
            </div>
            <p class="qp__accordion-descr-2 descr1">
              Функциональные возможности сервера:
            </p>
            <div class="qp__accordion-descr">
              <ul class="qp__roles-list list-reset d-flex flex-column">
                <li class="qp__item descr1">
                  Организация конференций видеконференцсвязи;
                </li>
                <li class="qp__item descr1">
                  Запись сессий конференций видеоконференцсвязи;
                </li>
                <li class="qp__item descr1">
                  Планирование конференций видеоконференцсвязи;
                </li>
                <li class="qp__item descr1">
                  Управление пользователями и профилями видеоконференцсвязи.
                </li>
              </ul>
            </div>

            <div class="qp__accordion-img">
              <img src="./img/18. Клиент ВКС.png">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>