<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Криптософт</title>

  <link rel="preload" href="/fonts/SofiaSans-Regular.woff2" as="font">
  <link rel="preload" href="/fonts/SofiaSans-Light.woff2" as="font">
  <link rel="preload" href="/fonts/SofiaSansCondensed-Bold.woff2" as="font">
  <link rel="preload" href="/fonts/SofiaSansCondensed-SemiBold.woff2" as="font">
  <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="./swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="./accordion/accordion.min.css">
  <link rel="stylesheet" href="./choices/choices.min.css">
  <link rel="stylesheet" href="./css/main.css">

  <script defer src="https://api-maps.yandex.ru/2.1/?apikey=a5649ea3-c317-4346-92f1-03f2b10922bf&lang=ru_RU" type="text/javascript"></script>
  <script defer src="./bootstrap/bootstrap.bundle.min.js"></script>
  <script defer src="./swiper/swiper-bundle.min.js"></script>
  <script defer src="./lazyload/lazyload.min.js"></script>
  <script defer src="./accordion/accordion.min.js"></script>
  <script defer src="./choices/choices.min.js"></script>
  <script defer src="./js/main.js"></script>
</head>
