<section class="events">
  <div class="custom-container container-fluid">
    <div class="events__content">
      <div class="pages-header">
        <div class="pages-links">
          <nav class="pages-links-nav">
            <ul class="pages-links-list d-flex flex-wrap align-items-center list-reset">
              <li class="pages-links-item">
                <a href="activity.html" class="pages-links-link">
                  направления деятельности
                </a>
              </li>
              <li class="pages-links-item">
                <a href="history.html" class="pages-links-link ">
                  история
                </a>
              </li>
              <li class="pages-links-item">
                <a href="licenses.html" class="pages-links-link">
                  Лицензии
                </a>
              </li>
              <li class="pages-links-item">
                <a href="events.html" class="pages-links-link active">
                  мероприятия
                </a>
              </li>
              <li class="pages-links-item">
                <a href="contacts.html" class="pages-links-link">
                  Контакты
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <h1 class="pages-title text-h2 text-uppercase">
          Мероприятия
        </h1>
      </div>
      <div class="events__block">
        <div class="events__top">
          <h2 class="events__top-title text-h8 text-uppercase">
            Результаты участия в мероприятиях
          </h2>
          <ul class="events__top-list list-reset d-flex flex-wrap align-items-start justify-content-between">
            <li class="events__top-item descr1">
              Улучшение коммуникации и сотрудничества: Мероприятия могут способствовать укреплению командной работы, повышению эффективности коммуникации между сотрудниками
            </li>
            <li class="events__top-item descr1">
              Развитие навыков и умений: Многие мероприятия направлены на развитие навыков и умений сотрудников, что может повысить их профессиональный уровень и способствовать карьерному росту      </li>
            <li class="events__top-item descr1">
              Повышение мотивации и доверия сотрудников: Мероприятия могут способствовать повышению уровня мотивации и доверия сотрудников, что приводит к повышению их производительности и удовлетворенности работой
            </li>
            <li class="events__top-item descr1">
              Улучшение организационной культуры: Мероприятия могут способствовать созданию положительной организационной культуры, которая в свою очередь повышает лояльность сотрудников и улучшает их работу
            </li>
          </ul>
        </div>
        <div class="events__bottom">
          <h2 class="events__bottom-title text-h8 text-uppercase">
            наши мероприятия
          </h2>
          <div class="events__accordion">
            <div class="events__accordion-item">
              <div class="events__accordion-item-head">
                <h3 class="text-h4">
                  Ключевые темы докладов и секций 13-ой МНПК
                </h3>
                <span class="events__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
              </div>
              <div class="events__accordion-item-body">
                <div class="events__accordion-item-body-wrap">
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      QP ОС и решения на её основе:
                    </h4>
                    <ul class="events__accordion-block-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        СЭДО
                      </li>
                      <li class="events__accordion-block-item descr1">
                        ВКС на платформе QP ОС
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Кластеры виртуальных машин
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Линейка СУБД
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Сетевые домены
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Средства защиты информации семейства QP:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Развитие ПСЗИ QP: QP 10 и QP Server 2019
                      </li>
                      <li class="events__accordion-block-item descr1">
                        QP и защита конфиденциальной информации
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Кванты:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Квантовые технологии для цифровой экономики
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Новые направления:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Нейросети
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Защищенный мессенджер
                      </li>
                      <li class="events__accordion-block-item descr1">
                        ПАК доступа в интернет
                      </li>
                      <li class="events__accordion-block-item descr1">
                        AR, VR – технологии
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="events__accordion-item">
              <div class="events__accordion-item-head">
                <h3 class="text-h4">
                  Ключевые темы докладов и секций 13-ой МНПК
                </h3>
                <span class="events__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
              </div>
              <div class="events__accordion-item-body">
                <div class="events__accordion-item-body-wrap">
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      QP ОС и решения на её основе:
                    </h4>
                    <ul class="events__accordion-block-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        СЭДО
                      </li>
                      <li class="events__accordion-block-item descr1">
                        ВКС на платформе QP ОС
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Кластеры виртуальных машин
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Линейка СУБД
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Сетевые домены
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Средства защиты информации семейства QP:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Развитие ПСЗИ QP: QP 10 и QP Server 2019
                      </li>
                      <li class="events__accordion-block-item descr1">
                        QP и защита конфиденциальной информации
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Кванты:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Квантовые технологии для цифровой экономики
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Новые направления:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Нейросети
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Защищенный мессенджер
                      </li>
                      <li class="events__accordion-block-item descr1">
                        ПАК доступа в интернет
                      </li>
                      <li class="events__accordion-block-item descr1">
                        AR, VR – технологии
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="events__accordion-item">
              <div class="events__accordion-item-head">
                <h3 class="text-h4">
                  Ключевые темы докладов и секций 13-ой МНПК
                </h3>
                <span class="events__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
              </div>
              <div class="events__accordion-item-body">
                <div class="events__accordion-item-body-wrap">
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      QP ОС и решения на её основе:
                    </h4>
                    <ul class="events__accordion-block-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        СЭДО
                      </li>
                      <li class="events__accordion-block-item descr1">
                        ВКС на платформе QP ОС
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Кластеры виртуальных машин
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Линейка СУБД
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Сетевые домены
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Средства защиты информации семейства QP:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Развитие ПСЗИ QP: QP 10 и QP Server 2019
                      </li>
                      <li class="events__accordion-block-item descr1">
                        QP и защита конфиденциальной информации
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Кванты:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Квантовые технологии для цифровой экономики
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Новые направления:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Нейросети
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Защищенный мессенджер
                      </li>
                      <li class="events__accordion-block-item descr1">
                        ПАК доступа в интернет
                      </li>
                      <li class="events__accordion-block-item descr1">
                        AR, VR – технологии
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="events__accordion-item">
              <div class="events__accordion-item-head">
                <h3 class="text-h4">
                  Ключевые темы докладов и секций 13-ой МНПК
                </h3>
                <span class="events__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
              </div>
              <div class="events__accordion-item-body">
                <div class="events__accordion-item-body-wrap">
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      QP ОС и решения на её основе:
                    </h4>
                    <ul class="events__accordion-block-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        СЭДО
                      </li>
                      <li class="events__accordion-block-item descr1">
                        ВКС на платформе QP ОС
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Кластеры виртуальных машин
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Линейка СУБД
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Сетевые домены
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Средства защиты информации семейства QP:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Развитие ПСЗИ QP: QP 10 и QP Server 2019
                      </li>
                      <li class="events__accordion-block-item descr1">
                        QP и защита конфиденциальной информации
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Кванты:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Квантовые технологии для цифровой экономики
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Новые направления:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Нейросети
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Защищенный мессенджер
                      </li>
                      <li class="events__accordion-block-item descr1">
                        ПАК доступа в интернет
                      </li>
                      <li class="events__accordion-block-item descr1">
                        AR, VR – технологии
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="events__accordion-item">
              <div class="events__accordion-item-head">
                <h3 class="text-h4">
                  Ключевые темы докладов и секций 13-ой МНПК
                </h3>
                <span class="events__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
              </div>
              <div class="events__accordion-item-body">
                <div class="events__accordion-item-body-wrap">
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      QP ОС и решения на её основе:
                    </h4>
                    <ul class="events__accordion-block-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        СЭДО
                      </li>
                      <li class="events__accordion-block-item descr1">
                        ВКС на платформе QP ОС
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Кластеры виртуальных машин
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Линейка СУБД
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Сетевые домены
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Средства защиты информации семейства QP:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Развитие ПСЗИ QP: QP 10 и QP Server 2019
                      </li>
                      <li class="events__accordion-block-item descr1">
                        QP и защита конфиденциальной информации
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Кванты:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Квантовые технологии для цифровой экономики
                      </li>
                    </ul>
                  </div>
                  <div class="events__accordion-block">
                    <h4 class="events__accordion-block-title descr5">
                      Новые направления:
                    </h4>
                    <ul class="events__accordion-list list-reset d-flex flex-column">
                      <li class="events__accordion-block-item descr1">
                        Нейросети
                      </li>
                      <li class="events__accordion-block-item descr1">
                        Защищенный мессенджер
                      </li>
                      <li class="events__accordion-block-item descr1">
                        ПАК доступа в интернет
                      </li>
                      <li class="events__accordion-block-item descr1">
                        AR, VR – технологии
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="events__download-wrap">
          <button class="events__download btn-reset">загрузить еще</button>
        </div>
      </div>
    </div>
  </div>
</section>