<div class="qp__left-block">
  <h1 class="text-h2 text-h2-1 qp__title text-uppercase">
    Доверенная операционная система QP&nbsp;ОС
  </h1>
  <div class="qp__descr">
    <p class="descr1">
      Отечественная защищенная операционная система QP&nbsp;ОС&nbsp;представляет собой полнофункциональную операционную систему общего назначения. Система не&nbsp;является переработкой других решений, имеет собственное ядрой, драйверы, компоненты и&nbsp;качественно защищена.
    </p>
    <p class="descr1">
      В&nbsp;QP&nbsp;ОС&nbsp;особое внимание уделено безопасности системы и&nbsp;контролю доступа к&nbsp;данным, поэтому полностью соответствует требованиям ФСТЭК, ФСБ России к&nbsp;программному обеспечению, используемому в&nbsp;информационных и&nbsp;телекоммуникационных системах специального назначения и&nbsp;может использоваться для обработки информации, содержащей сведения, составляющие государственную тайну.
    </p>
  </div>
  <div class="qp__left-send d-block d-lg-none">
    <h2 class="text-uppercase text-h8 text-h8-2 qp__right-title">
      ОТправьте запрос на последнюю версию операционной системы
    </h2>
    <button class="qp__button btn-reset">
      отправить
    </button>
  </div>
  <div class="qp__advantages d-flex flex-column">
    <div class="qp__advantages-top">
      <h2 class="qp__title-second text-h8 text-h8-2 text-uppercase">
        ключевые преимущества
      </h2>
      <ul class="list-reset qp__advantages-list d-flex flex-column">
        <li class="qp__item descr1">
          Уникальная российская разработка.
        </li>
        <li class="qp__item descr1">
          Безопасна для работы как с конфиденциальной, так и с секретной информацией.
        </li>
        <li class="qp__item descr1">
          Сертификаты ФСБ и ФСТЭК
        </li>
        <li class="qp__item descr1">
          Укомплектованная для работы базовая версия
        </li>
        <li class="qp__item descr1">
          Поддерживает множество драйверов
        </li>
        <li class="qp__item descr1">
          Поддерживает основные платформы
        </li>
        <li class="qp__item descr1">
          Привычный интерфейс
        </li>
      </ul>
    </div>
    <div class="qp__advantages-roles">
      <h3 class="qp__title-three descr3-all">
        Функциональные роли
      </h3>
      <div class="qp__roles-img">
        <img src="./img/SchemaQp.png">
      </div>
      <ul class="qp__roles-list list-reset d-flex flex-column">
        <li class="qp__item descr1">
          Рабочая станция
        </li>
        <li class="qp__item descr1">
          Распределенная обработка информации
        </li>
        <li class="qp__item descr1">
          Управление сетевым взаимодействием
        </li>
        <li class="qp__item descr1">
          Средства разработки
        </li>
        <li class="qp__item descr1">
          Хранение и обработка данных
        </li>
      </ul>
    </div>
    <div class="qp__advantages-roles">
      <h3 class="qp__title-three descr3-all">
        Варианты использования
      </h3>
      <ul class="qp__roles-list list-reset d-flex flex-column">
        <li class="qp__item descr1">
          Доменный сервер
        </li>
        <li class="qp__item descr1">
          Сервер приложений, баз данных, файловый сервер
        </li>
        <li class="qp__item descr1">
          Интернет-сервер
        </li>
        <li class="qp__item descr1">
          Сервер/узел кластера виртуальных машин
        </li>
        <li class="qp__item descr1">
          Тонкий клиент и сервер терминалов
        </li>
        <li class="qp__item descr1">
          Система хранения данных
        </li>
      </ul>
    </div>
  </div>
  <div class="qp__examples">
    <h2 class="qp__title-second text-h8 text-h8-2 text-uppercase">
      ПРИМЕРЫ ИНТЕРФЕЙСА
    </h2>
    <div class="qp__example-block">
      <div class="qp__example-swiper swiper">
        <div class="swiper-wrapper qp__example-wrapper">
          <div class="qp__example-slide swiper-slide">
            <img src="./img/ExpendInterface.png">
          </div>
        </div>
        <div class="qp__example-pagination"></div>
      </div>
      <button class="btn-reset qp__swiper-btn qp__swiper-prev">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.5 12L4.5 12M4.5 12L11.25 18.75M4.5 12L11.25 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <button class="btn-reset qp__swiper-btn qp__swiper-next">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.5 12.5664L19.5 12.5664M19.5 12.5664L12.75 19.3164M19.5 12.5664L12.75 5.81641" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>

    <a href="docx.docx" class="qp__example-link">
      <span class="text-button-all text-uppercase qp__example-link-text">
        ЗАПРОСИТЬ ПОЛНОЕ ТЕХНИЧЕСКОЕ ОПИСАНИЕ
      </span>
      <span class="qp__example-link-svg">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.875 13.0625V10.6562C17.875 8.94762 16.4899 7.5625 14.7812 7.5625H13.4062C12.8367 7.5625 12.375 7.10079 12.375 6.53125V5.15625C12.375 3.44762 10.9899 2.0625 9.28125 2.0625H7.5625M8.25 13.0625L11 15.8125M11 15.8125L13.75 13.0625M11 15.8125L11 10.3125M9.625 2.0625H5.15625C4.58671 2.0625 4.125 2.52421 4.125 3.09375V18.9062C4.125 19.4758 4.58671 19.9375 5.15625 19.9375H16.8438C17.4133 19.9375 17.875 19.4758 17.875 18.9062V10.3125C17.875 5.75615 14.1813 2.0625 9.625 2.0625Z" stroke="#009A6D" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    </a>
  </div>
</div>