<div class="qp__right-block">
  <ul class="qp__right-list list-reset d-flex flex-column">
    <li class="qp__right-item text-button">
      Операционная система QP ОС
    </li>
    <li class="qp__right-item text-button">
      <a class="qp__right-link">
        СУБД QP DB
      </a>
    </li>
    <li class="qp__right-item text-button">
      <a class="qp__right-link">
        Гипервизор QP VMM
      </a>
    </li>
    <li class="qp__right-item text-button">
      <a class="qp__right-link">
        Офисный пакет QP Грамота
      </a>
    </li>
    <li class="qp__right-item text-button">
      <a class="qp__right-link">
        Сервер электронной почты QP Mail Server
      </a>
    </li>
    <li class="qp__right-item text-button">
      <a class="qp__right-link">
        Операционная система QP ОС
      </a>
    </li>
  </ul>
  <h2 class="text-uppercase text-h8 qp__right-title">
    ОТправьте запрос на последнюю версию операционной системы
  </h2>
  <button class="qp__button btn-reset" >
    отправить
  </button>
</div>