<div class="qp__right-block">
  <ul class="qp__right-list list-reset d-flex flex-column">
    <li class="qp__right-item text-button">
      QP OS
    </li>
    <li class="qp__right-item text-button">
      <a href="qp.html" class="qp__right-link">
        Операционная система QP OS
      </a>
    </li>
<!--    <li class="qp__right-item text-button">-->
<!--      <a class="qp__right-link">-->
<!--        Защищенный мессенджер QP Криптофон-->
<!--      </a>-->
<!--    </li>-->
    <li class="qp__right-item text-button">
      <a href="cloudqp.html" class="qp__right-link">
        Облачные технологии операционной системы QP ОС
      </a>
    </li>
<!--    <li class="qp__right-item text-button">-->
<!--      <a class="qp__right-link">-->
<!--        Гипервизор QP VMM-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="qp__right-item text-button">-->
<!--      <a class="qp__right-link">-->
<!--        Кластер виртуальных машин-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="qp__right-item text-button">-->
<!--      <a class="qp__right-link">-->
<!--        Распределенная файловая система-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="qp__right-item text-button">-->
<!--      <a class="qp__right-link">-->
<!--        Тонкий клиент и сервер терминалов-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="qp__right-item text-button">-->
<!--      <a class="qp__right-link">-->
<!--        Система хранения данных-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="qp__right-item text-button">-->
<!--      <a class="qp__right-link">-->
<!--        Система электронного документооборота QP Docs M-->
<!--      </a>-->
<!--    </li>-->
    <li class="qp__right-item text-button">
      <a href="workstation.html" class="qp__right-link">
        Рабочая станция QP ОС
      </a>
    </li>
    <li class="qp__right-item text-button">
      <a  href="serverqp.html" class="qp__right-link">
        Серверные технологии операционной системы QP ОС
      </a>
    </li>
    <li class="qp__right-item text-button">
      <a href="mechanisms.html" class="qp__right-link">
        Основные механизмы безопасности
      </a>
    </li>
    <li class="qp__right-item text-button">
      <a href="developmenttools.html" class="qp__right-link">
        Средства разработки
      </a>
    </li>
    <li class="qp__right-item text-button">
      <a href="verification.html" class="qp__right-link">
        Удостоверяющий центр
      </a>
    </li>
    <li class="qp__right-item text-button">
      <a href="informationsecurity.html" class="qp__right-link">
        Средство защиты информации на основе технологии виртуализации
      </a>
    </li>
  </ul>
  <h2 class="text-uppercase text-h8 qp__right-title">
    ОТправьте запрос на последнюю версию операционной системы
  </h2>
  <button class="qp__button btn-reset" >
    отправить
  </button>
</div>