<section class="customers">
  <div class="custom-container container-fluid">
    <div class="customers__content">
      <h2 class="customers__title text-h2 text-uppercase">
        наши заказчики
      </h2>
      <div class="customers__block">
        <div class="customers__swiper swiper">
          <div class="customers__wrapper swiper-wrapper">
            <div class="customers__slide swiper-slide">
              <div class="customers__slide-img">
                <img src="./img/customer1.png" />
              </div>
              <p class="text-h3 customers__slide-text">
                Администрация Президента России
              </p>
            </div>
            <div class="customers__slide swiper-slide">
              <div class="customers__slide-img">
                <img src="./img/customer2.png" />
              </div>
                <p class="text-h3 customers__slide-text">
                  Федеральная Служба Безопасности
                </p>
            </div>
            <div class="customers__slide swiper-slide">
              <div class="customers__slide-img">
                <img src="./img/customer3.png" />
              </div>
                <p class="text-h3 customers__slide-text">
                  Федеральная служба охраны
                </p>
            </div>
            <div class="customers__slide swiper-slide">
              <div class="customers__slide-img">
                <img src="./img/customer4.png" />
              </div>
                <p class="text-h3 customers__slide-text">
                  Министерство обороны
                </p>
            </div>
            <div class="customers__slide swiper-slide">
              <div class="customers__slide-img">
                <img src="./img/customer1.png" />
              </div>
                <p class="text-h3 customers__slide-text">
                  Администрация Президента России
                </p>
            </div>
            <div class="customers__slide swiper-slide">
              <div class="customers__slide-img">
                <img src="./img/customer2.png" />
              </div>
                <p class="text-h3 customers__slide-text">
                  Федеральная Служба Безопасности
                </p>
            </div>
            <div class="customers__slide swiper-slide">
              <div class="customers__slide-img">
                <img src="./img/customer3.png" />
              </div>
                <p class="text-h3 customers__slide-text">
                  Федеральная служба охраны
                </p>
            </div>
            <div class="customers__slide swiper-slide">
              <div class="customers__slide-img">
                <img src="./img/customer4.png" />
              </div>
                <p class="text-h3 customers__slide-text">
                  Министерство обороны
                </p>
            </div>
          </div>
          <div class="customers__pagination"></div>
        </div>
        <button class="customers__swiper-btn btn-reset customers__swiper-prev">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.5 12L4.5 12M4.5 12L11.25 18.75M4.5 12L11.25 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <button class="customers__swiper-btn btn-reset customers__swiper-next">
          <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.5 12.5664L19.5 12.5664M19.5 12.5664L12.75 19.3164M19.5 12.5664L12.75 5.81641" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>