<section class="facts">
  <div class="custom-container container-fluid">
    <div class="facts__content d-flex align-items-lg-center justify-content-lg-between flex-column flex-lg-row">
      <div class="facts__left">
        <h2 class="text-h2 facts__title text-uppercase">
          факты о&nbsp;компании
        </h2>
        <p class="facts__text text-h6-h9 text-uppercase text-h5">
          Разработчик единственной отечественной полнофункциональной операционной системы
        </p>
      </div>
      <div class="facts__right d-flex flex-wrap justify-content-between align-items-start">
        <div class="facts__item">
          <h3 class="text-h6 facts__item-title">
            30 лет
          </h3>
          <p class="descr1 facts__item-text descr-1-2">
            Накопления и применения экспертизы в области информационной безопасности
          </p>
        </div>
        <div class="facts__item">
          <h3 class="text-h6 facts__item-title">
            18 лет
          </h3>
          <p class="descr1 facts__item-text descr-1-2">
            Разработки отечественной инфраструктурной экосистемы
          </p>
        </div>
        <div class="facts__item">
          <h3 class="text-h6 facts__item-title">
            15 лет
          </h3>
          <p class="descr1 facts__item-text descr-1-2">
            Научных разработок в области квантовой криптографии
          </p>
        </div>
        <div class="facts__item">
          <h3 class="text-h6 facts__item-title">
            500
          </h3>
          <p class="descr1 facts__item-text descr-1-2">
            Успешно выполненных НИОКР
          </p>
        </div>
      </div>
    </div>
  </div>
</section>