<section class="hero">
  <div class="hero__img">
    <div class="hero__img-dark"></div>
    <picture>
      <source media="(max-width: 450px)" srcset="./img/hero375.png" >
      <source media="(max-width: 991px)" srcset="./img/hero768.png" >
      <img src="./img/hero.png"/>
    </picture>
  </div>
  <div class="hero__description">
    <div class="container-fluid custom-container">
      <div class="hero__content">
        <div class="hero__text-wrap">
          <p class="descr1 descr-1-2 hero__text-first">
            Сайт работает под управлением операционной системы&nbsp;QP&nbsp;ОС
          </p>
        </div>
        <h1 class="text-h1 hero__title">
          НТП «КРИПТОСОФТ»
        </h1>
        <p class="descr2 descr-2-1 hero__descr">
          НТП "Криптософт" — ведущее предприятие России в сфере информационной безопасности, разработчик аппаратных
          и программных средств защиты информации
        </p>
        <a class="btn-reset hero__more">
          подробнее
        </a>
      </div>
    </div>
  </div>
</section>