<section class="main-news">
  <div class="custom-container container-fluid">
    <div class="main-news__content position-relative">
      <div class="main-news__top d-flex align-items-center">
        <h2 class="text-h2 text-uppercase">
          новости
        </h2>
        <a href="news.html" class="main-news__link">
          перейти в раздел
        </a>
      </div>
      <div class="main-news__bottom">
        <div class="card h-100 main-news__item">
          <div class="h-100 main-news__item-wrap d-flex">
            <div class="main-news__item-img">
              <img src="./img/KSF 2.png">
            </div>
            <div class="main-news__item-right d-flex flex-column justify-content-between">
              <div class="main-news__item-top d-flex flex-column">
              <span class="main-news__item-date">
                25.11.2020
              </span>
                <h3 class="text-h9 main-news__item-title">
                  Второй Всероссийский форум «Доверенные квантовые технологии и коммуникации. КВАНТ 2024»
                </h3>
                <p class="main-news__item-text">
                  Научно-техническое предприятие «Криптософт» приняло участие
                  во втором Всероссийском форуме...
                </p>
              </div>
              <div class="main-news__item-more-wrap">
                <a href="detail-news.html" class="main-news__item-more">
                  <span>подробнее</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card h-100 main-news__item">
          <div class="h-100 main-news__item-wrap d-flex">
            <div class="main-news__item-img">
              <img src="./img/news2.png">
            </div>
            <div class="main-news__item-right d-flex flex-column justify-content-between">
              <div class="main-news__item-top d-flex flex-column">
              <span class="main-news__item-date">
                25.11.2020
              </span>
                <h3 class="main-news__item-title text-h9">
                  10-я конференция «OS DAY. Экосистема российских ОС» jkdashfjksdhf askjdfh ajksdf aadsjkfhasdjkfh adsfasdkjfh ajksdfhajks dfasd f kjsdhfjksdf asdjkfhasdjkfh aasdfasdfasdfjkasdhfkjasdf asdjkfahsdjkfhas dkjfhasdkf asdasdfsdf sdfadsfasdf asdfasdf asdfasdf asdf asdf asdf asdfsadfsadf asdfas dfd
                </h3>
                <p class="main-news__item-text">
                  Научно-техническое предприятие «Криптософт» приняло участие
                  во втором Всероссийском форуме...adksfhkjasdfhkjas ajksdfhaksjdfh asdfasdf asdjkfas adsf asd
                </p>
              </div>
              <div class="main-news__item-more-wrap">
                <a href="detail-news.html" class="main-news__item-more">
                  <span>подробнее</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>