<div class="detail-news__left-block">
  <h1 class="text-h8 text-h2-1 detail-news__title text-uppercase">
    Второй Всероссийский форум «Доверенные квантовые технологии и коммуникации. КВАНТ 2024»
  </h1>
  <div class="detail-news__left-pic">
    <img src="./img/detail-news.png">
  </div>
  <p class="detail-news__left-descr descr1">
    Научно-техническое предприятие «Криптософт» приняло участие во втором Всероссийском форуме «Доверенные квантовые технологии и коммуникации. КВАНТ 2024». Отраслевое мероприятие прошло при участии Минцифры России, Российской академии наук, НИЦ АКРФ, НИТУ МИСИС. На одной площадке собрались более 350 человек: эксперты подвели итоги 2023 года и определили дальнейшую траекторию развития отечественных доверенных квантовых технологий. В ходе мероприятия обсуждались темы цифрового суверенитета и внедрения квантовых технологий, развития квантовых сетей и средств защиты данных, а также вопросы подготовки кадров.
  </p>
  <p class="detail-news__left-descr descr1 detail-news__left-descr-border">
    НТП «Криптософт» представило собственные разработки: двухпроходные и однопроходные квантовые криптографические системы выработки и распределения ключей с фазовым кодированием и интегрированным решением по контролю параметров квантового канала, включая измерение длины оптического волокна. Изделия обеспечивают выработку и распределение ключей между сопряженным квантовым сервером ключей и абонентскими квантовыми модулями сопряжения на расстоянии до 30 км. Модульный принцип построения обеспечивает возможность реализации произвольной сетевой топологии («точка-точка», «звезда», «созвездие» и др.).
  </p>
  <p class="detail-news__left-descr descr1">
    Обсуждение в ходе форума актуальных вопросов развития квантовых коммуникаций и технологий, а также безопасности и укрепления цифрового суверенитета государства подтвердило высокую важность мероприятия
  </p>
  <div class="detail-news__gallery d-flex flex-wrap">
    <div class="detail-news__gallery-pic">
      <img src="./img/detail-news1.png">
    </div>
    <div class="detail-news__gallery-pic">
      <img src="./img/detail-news.png">
    </div>
    <div class="detail-news__gallery-pic">
      <img src="./img/detail-news2.png">
    </div>
  </div>
</div>