<div class="detail-news__right-block">
  <div class="detail-news__right-box d-flex flex-column">
    <h2 class="detail-news__right-title text-h10 text-uppercase">
      последние новости
    </h2>
    <ul class="list-reset d-flex flex-column detail-news__right-list">
      <li class="detail-news__right-item d-flex flex-column">
        <span class="text-button detail-news__right-item-date">
          25.11.2020
        </span>
        <a class="detail-news__right-item-text text-button text-uppercase">
          В Совете Федерации обсудили перспективы развития квантовых технологий
        </a>
      </li>
      <li class="detail-news__right-item d-flex flex-column">
        <span class="text-button detail-news__right-item-date">
          25.11.2020
        </span>
        <a class="detail-news__right-item-text text-button text-uppercase">
          Второй Всероссийский форум «Доверенные квантовые технологии и коммуникации. КВАНТ 2024»
        </a>
      </li>
      <li class="detail-news__right-item d-flex flex-column">
        <span class="text-button detail-news__right-item-date">
          25.11.2020
        </span>
        <a class="detail-news__right-item-text text-button text-uppercase">
          В Совете Федерации обсудили перспективы развития квантовых технологий
        </a>
      </li>
      <li class="detail-news__right-item d-flex flex-column">
        <span class="text-button detail-news__right-item-date">
          25.11.2020
        </span>
        <a class="detail-news__right-item-text text-button text-uppercase">
          Второй Всероссийский форум «Доверенные квантовые технологии и коммуникации. КВАНТ 2024»
        </a>
      </li>
      <li class="detail-news__right-item d-flex flex-column">
        <span class="text-button detail-news__right-item-date">
          25.11.2020
        </span>
        <a class="detail-news__right-item-text text-button text-uppercase">
          В Совете Федерации обсудили перспективы развития квантовых технологий
        </a>
      </li>
    </ul>
  </div>
</div>