<div class="quantum__left-block">
  <h1 class="quantum__title text-h2 text-h2-1 text-uppercase">
    Cryptosoft-Q. Квантовая система выработки и распределения ключей
  </h1>
  <p class="quantum__descr descr1">
    Квантовый распределитель ключей Cryptosoft-Q (КРК Cryptosoft-Q) — это устройство, обеспечивающее высокий уровень защиты конфиденциальной информации и противостоит современным и будущим киберугрозам, используя принципы квантовой физики которые невозможно нарушить. Это делает его важным инструментом для обеспечения безопасности и конфиденциальности информации в различных областях.
  </p>


  <p class="quantum__descr-bold descr3-all">
    Какова безопасность и надежность cryptosoft-Q?
  </p>
  <div class="quantum__descr">
    <ul class="qp__roles-list list-reset d-flex flex-column">
      <li class="qp__item descr1">
        Продукт разработан компанией, которая реализует проекты с технологией КРК с 2004 года.
      </li>
      <li class="qp__item descr1">
        Предложены как двухпроходные, так и однопроходные системы, что обеспечивает гибкость выбора в зависимости от потребностей клиента.
      </li>
      <li class="qp__item descr1">
        Защита от PNS-атаки с использованием decoy-state (когда отправитель генерирует не только полезные квантовые состояния, но и ложные состояния), что повышает уровень защиты информации.
      </li>
      <li class="qp__item descr1">
        Повышенная надежность за счет реализации защиты от различных атак на техническую реализацию, включая ослепление однофотонных детекторов и PNS-атаки, что еще повышает уровень защиты информации.
      </li>
      <li class="qp__item descr1">
        Интегрированное решение контроля параметров квантового канала, обеспечивающее многофункциональную защиту от различных атак, включая защиту от активного оптического зондирования и возможность реконфигурирования сети.
      </li>
      <li class="qp__item descr1">
        Легкая интеграция и масштабируемость, благодаря модульному принципу построения.
      </li>
      <li class="qp__item descr1">
        Выработка ключевой информации в режиме «реального времени», что дает ____________
      </li>
      <li class="qp__item descr1">
        Запатентованный способ передачи ключевой информации через промежуточные узлы без шифрования, что даёт ________________________
      </li>
      <li class="qp__item descr1">
        Оригинальные решения, обеспечивающее балансировку интерферометров Маха-Цандера в однопроходной ККС ВРК с фазовым кодированием в режиме реального времени и распределение ключей на расстояние до 80 км, что даёт _____________
      </li>
    </ul>
  </div>


  <p class="quantum__descr-bold descr3-all">
    Технические характеристики:
  </p>
  <div class="quantum__descr">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="col-3">Параметр</th>
          <th class="col-3">Пояснение</th>
          <th class="col-3">Однопроходного ККС ВРК</th>
          <th class="col-3">Двупроходные ККС ВРК</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            Расстояние между
            сопряженными КСК и КМС
          </td>
          <td>На этом расстоянии точки могут обмениваться ключами</td>
          <td>До 80 км</td>
          <td>До 30 км</td>

        </tr>
        <tr>
          <td>
            Тактовая частота передачи
            квантовых сигналов
          </td>
          <td>Пояснение</td>
          <td>⩾200 кГц</td>
          <td>⩾100 кГц</td>
        </tr>
        <tr>
          <td>
            Скорость выработки
            ключевой информации
          </td>
          <td>Пояснение</td>
          <td>от 10 до 1000 бит/c</td>
          <td>от 10 до 500 бит/c</td>
        </tr>
        <tr>
          <td>
            Поддерживаемые квантовые криптографические протоколы
          </td>
          <td>Пояснение</td>
          <td>BB84, SARG04, отечественный протокол на симметричных когерентных состояниях</td>
          <td>BB84, B92, SARG04, отечественный протокол на симметричных когерентных состояниях</td>
        </tr>
        <tr>
          <td>
            Защита от атак
            на техническую реализацию
          </td>
          <td>Пояснение</td>
          <td>да</td>
          <td>да</td>
        </tr>
        <tr>
          <td>
            Защита от PNS-атаки
          </td>
          <td>Пояснение</td>
          <td>Да (decoy-state)</td>
          <td>Да (decoy-state)</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>


  <div class="quantum__accordion">
    <div class="quantum__accordion-item">
      <div class="quantum__accordion-item-head">
        <h3 class="text-h4">
          Квантовый сервер ключей cryptosoft-Q
        </h3>
        <span class="quantum__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
      </div>
      <div class="quantum__accordion-item-body">
        <div class="quantum__accordion-item-body-wrap">
          <div class="quantum__accordion-block">
            <p class="quantum__accordion-descr descr1">
              Изображение КСК
              <br>
              Фотографии лицензий и сертификатов
              <br>
              Описание роли и функции
              <br>
              Особенности (особо выделить то, что отстраивает от конкурентов)
              <br>
              Примененные технологии или патентованные разработки.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="quantum__accordion-item">
      <div class="quantum__accordion-item-head">
        <h3 class="text-h4">
          Квантовый модуль сопряжения cryptosoft-Q
        </h3>
        <span class="quantum__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
      </div>
      <div class="quantum__accordion-item-body">
        <div class="quantum__accordion-item-body-wrap">
          <p class="quantum__accordion-descr descr1">
            Изображение КСК
            <br>
            Фотографии лицензий и сертификатов
            <br>
            Описание роли и функции
            <br>
            Особенности (особо выделить то, что отстраивает от конкурентов)
            <br>
            Примененные технологии или патентованные разработки.
          </p>
        </div>
      </div>
    </div>
    <div class="quantum__accordion-item">
      <div class="quantum__accordion-item-head">
        <h3 class="text-h4">
          Система криптографической защиты информации cryptosoft-Q
        </h3>
        <span class="quantum__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
      </div>
      <div class="quantum__accordion-item-body">
        <div class="quantum__accordion-item-body-wrap">
          <p class="quantum__accordion-descr descr1">
            Изображение КСК
            <br>
            Фотографии лицензий и сертификатов
            <br>
            Описание роли и функции
            <br>
            Особенности (особо выделить то, что отстраивает от конкурентов)
            <br>
            Примененные технологии или патентованные разработки.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>