html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
  font-family: var(--font-family);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus-visible {
  outline: 0;
}

body {
  height: 100%;
  font-family: var(--font-family);
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-weight: 400;
  background-color: var(--white);
  color: var(--black);
}

body.lock {
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}


img {
  height: 100%;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-size: 1.6rem;
  line-height: 155%;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  color: var(--black);
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.custom-container {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--container-offset);
}

@media screen and (max-width: 1280px) {
  .custom-container {
    padding: 0 var(--container-offset-laptop);
  }
}

@media screen and (max-width: 767px) {
  .custom-container {
    padding: 0 var(--container-offset-mobile);
  }
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

[class*="ground-pane"] {
  filter: grayscale(100%);
}

.ymaps-2-1-79-map ymaps {
  border-radius: 0;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-copyright, .ymaps-2-1-79-copyright_logo_no,
.ymaps-2-1-79-copyright__fog, .ymaps-2-1-79-copyright__wrap, .ymaps-2-1-79-copyright__layout,
.ymaps-2-1-79-copyright__content-cell, .ymaps-2-1-79-copyright__content, .ymaps-2-1-79-copyright__text,
.ymaps-2-1-79-copyright__agreement, .ymaps-2-1-79-copyright__link {
  display: none;
}

.placemark-custom {
  border: 1px solid var(--green);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.background-green {
  background: linear-gradient(180deg, #00B883 0%, #00523A 109.35%);

}

.tooltip {
  font-size: 1.6rem;
}

.burger-btn {
  @include burgerBtn;
}

.burger-btn.active {
  @include activeBurger;
}

.breadcrumb-custom {
  @include breadcrumb;
}

.button-up {
  width: 50px;
  height: 50px;
  border: 1px solid var(--green);
  background-color: #00B8831A;
  position: fixed;
  right: 50px;
  bottom: 100px;
  z-index: 2;
}

@media screen and (max-width: 1280px) {
  .button-up {
    right: 25px;
  }
}

@media screen and (max-width: 767px) {

  .breadcrumb-custom{
    @include breadcrumbMobile;
  }

  .button-up {
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 100px;
  }
}

.pages-header {
  margin-bottom: var(--gap-40);
}

.pages-links {
  margin-bottom: 50px;

  &-list {
    gap: 20px;
    column-gap: 24px;
    row-gap: 20px;
  }

  &-link {
    font-size: var(--text-size-14);
    line-height: var(--text-height-120);
    text-transform: uppercase;
    opacity: 70%;
    @include hoverUnderling(var(--green))
  }

  &-link.active {
    border-color: var(--green);
  }
}

@media screen and (max-width: 767px) {
  .pages-header {
    margin-bottom: 32px;
  }

  .pages-links {
    margin-bottom: 16px;
    &-list {
      column-gap: 20px;
      row-gap: 17px;
    }
  }
}