.text-h1 {
  font-family: var(--text-din);
  font-size: var(--text-size-120);
  line-height: var(--text-height-100);
}

.text-h2 {
  font-size: var(--text-size-60);
  line-height: var(--text-height-100);
  font-family: var(--text-din);
}

.text-h3 {
  font-size: var(--text-size-16);
  line-height: var(--text-height-125);
  font-family: var(--text-din);
}

.text-h4 {
  font-size: var(--text-size-20);
  line-height: var(--text-height-145);
  font-family: var(--text-neo-mid);
}

.text-h5 {
  font-size: var(--text-size-30);
  line-height: var(--text-height-125);
  font-family: var(--text-din);
}

.text-h6 {
  font-size: var(--text-size-40);
  line-height: var(--text-height-100);
  font-family: var(--text-din);
}

.text-h7 {
  font-size: var(--text-size-20);
  line-height: var(--text-height-135);
  font-family: var(--text-din);
}

.text-h8 {
  font-size: var(--text-size-40);
  line-height: var(--text-height-120);
  font-family: var(--text-din);
}

.text-h9 {
  font-size: var(--text-size-18);
  line-height: var(--text-height-135);
  font-family: var(--text-din);
}

.text-h9-all {
  font-size: var(--text-size-18);
  line-height: var(--text-height-135);
  font-family: var(--text-din);
}

.text-h10 {
  font-size: var(--text-size-24);
  line-height: var(--text-height-120);
  font-family: var(--text-din);
}

.descr1 {
  font-size: var(--text-size-16);
  line-height: var(--text-height-145);
}

.descr2 {
  font-size: var(--text-size-20);
  line-height: var(--text-height-145);
}

.descr3 {
  font-size: var(--text-size-22);
  line-height: var(--text-height-130);
  font-family: var(--text-din);
}

.descr3-all {
  font-size: var(--text-size-22);
  line-height: var(--text-height-130);
  font-family: var(--text-din);
}

.descr4 {
  font-size: var(--text-size-14);
  line-height: var(--text-height-135);
}

.descr5 {
  font-size: var(--text-size-18);
  line-height: var(--text-height-145);
}

.text-button {
  font-size: var(--text-size-16);
  line-height: var(--text-height-135);
  font-family: var(--text-din);
}

.text-number {
  font-size: var(--text-size-90);
  line-height: var(--text-height-100);
  font-family: var(--text-din);
}

.text-button-all {
  font-size: var(--text-size-16);
  line-height: var(--text-height-135);
  font-family: var(--text-din);
}

@media screen and (max-width: 991px) {
  .text-h1 {
    font-size: var(--text-size-90);
  }
}

@media screen and (max-width: 767px) {
  .text-h1 {
    font-size: var(--text-size-35);
  }

  .text-h2 {
    font-size: var(--text-size-30);
    line-height: var(--text-height-110);
  }

  .text-h2-1 {
    font-size: var(--text-size-35);
    line-height: var(--text-height-100);
  }

  .text-h3 {
    font-size: var(--text-size-12);
  }

  .text-h5 {
    font-size: var(--text-size-30);
    line-height: var(--text-height-125);
  }

  .text-h6 {
    font-size: var(--text-size-24);
  }

  .text-h6-h9 {
    font-size: var(--text-size-18);
    line-height: var(--text-height-135);
  }

  .text-h8 {
    font-size: var(--text-size-24);
  }

  .text-h8-2 {
    font-size: var(--text-size-30);
    line-height: var(--text-height-110);
  }

  .text-h8-5 {
    font-size: var(--text-size-18);
    line-height: var(--text-height-135);
  }
  .text-h9 {
    font-size: var(--text-size-14);
    line-height: var(--text-height-135);
  }

  .descr-1-2 {
    font-size: var(--text-size-12);
    line-height: var(--text-height-140);
  }


  .descr2 {
    font-size: var(--text-size-12);
    line-height: var(--text-height-140);
  }

  .descr-2-1 {
    font-size: var(--text-size-16);
    line-height: var(--text-height-145);
  }

  .descr3 {
    font-size: var(--text-size-14);
  }

  .descr5-1 {
    font-size: var(--text-size-16);
  }

  .text-button {
    font-size: var(--text-size-14);
  }


}