<div class="quantum__left-block">
  <h1 class="quantum__title text-h2 text-h2-1 text-uppercase">
    Квантовые технологии
  </h1>
  <p class="quantum__descr descr1">
    Квантовый распределитель ключей (КРК) — это устройство, которое гарантирует двум сторонам безопасный обмен информацией. КРК использует принципы квантовой физики для создания криптографических ключей, которые невозможно подслушать или скопировать.
  </p>

  <p class="quantum__descr-bold descr3-all">
    КРК решает следующие проблемы:
  </p>
  <div class="quantum__swiper-wrap">
    <div class="quantum__swiper swiper">
      <div class="quantum__wrapper swiper-wrapper">
        <div class="swiper-slide quantum__slide">
          <p class="quantum__slide-text descr1">
            Безопасность передачи данных. Возможность без участия человека создавать криптографические ключи, которые невозможно подслушать или скопировать. Квантовый канал связи обеспечивает наивысший уровень безопасности при обмене конфиденциальной информацией
          </p>
        </div>
        <div class="swiper-slide quantum__slide">
          <p class="quantum__slide-text descr1">
            Защита от киберугроз. Квантовые компьютеры могут взломать некоторые современные алгоритмы шифрования, но квантовый распределитель ключей использует принципы квантовой физики, которые делают его устойчивым к таким атакам.
          </p>
        </div>
        <div class="swiper-slide quantum__slide">
          <p class="quantum__slide-text descr1">
            Развитие квантовых технологий. Помогает развивать и внедрять квантовые технологии в различные области, такие как криптография, телекоммуникации, информационные технологии, финансовые системы, государственные системы, научные исследования. Квантовый распределитель ключей является важным компонентом квантовых технологий.
          </p>
        </div>
      </div>
      <div class="quantum__pagination"></div>
    </div>
    <button class="btn-reset quantum__swiper-btn quantum__swiper-prev">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.5 12L4.5 12M4.5 12L11.25 18.75M4.5 12L11.25 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    <button class="btn-reset quantum__swiper-btn quantum__swiper-next">
      <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.5 12.5664L19.5 12.5664M19.5 12.5664L12.75 19.3164M19.5 12.5664L12.75 5.81641" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>

  <p class="quantum__descr-bold descr3-all">
    Каковы основные преимущества использования квантового распределителя ключей перед классическими методами шифрования?
  </p>
  <ul class="qp__roles-list list-reset d-flex flex-column">
    <li class="qp__item descr1">
      Более высокий уровень безопасности, гарантированный законами физики. Его невозможно подслушать или скопировать
    </li>
    <li class="qp__item descr1">
      Устойчивость к киберугрозам. cryptosoft-Q может защитить информацию от современных и будущих киберугроз. Например, атаки с использованием квантовых компьютеров, которым под силу взломать некоторые современные алгоритмы шифрования.
    </li>
    <li class="qp__item descr1">
      Необратимость. Квантовое распределение ключей использует необратимые процессы, что делает его устойчивым к атакам с использованием квантовых компьютеров.
    </li>
    <li class="qp__item descr1">
      Возможность создания криптографических ключей большого размера и их накопления, что обеспечивает более высокий уровень безопасности.
    </li>
    <li class="qp__item descr1">
      Скорость работы. Квантовый метод шифрования работает быстрее, чем классические методы.
    </li>
    <li class="qp__item descr1">
      Масштабируемость. Квантовый метод позволяет легко масштабировать систему, добавляя новые узлы без потери производительности и без дополнительного человеческого ресурса.
    </li>
    <li class="qp__item descr1">
      Возможность использования в различных областях. Cryptosoft-Q может быть использован в таких областях как криптография, телекоммуникации, информационные технологии, финансовые системы, государственные системы, научные исследования.
    </li>
    <li class="qp__item descr1">
      Развитие квантовых технологий. Квантовый распределитель ключей является важным компонентом квантовых технологий.
    </li>
    <li class="qp__item descr1">
      Отсутствие зависимости от инфраструктуры. Квантовые ключи могут быть распределены между любыми узлами, независимо от их географического расположения и доступности каналов связи.
    </li>
    <li class="qp__item descr1">
      Перспективы развития. Квантовое распределение ключей является перспективным направлением исследований, которое может привести к созданию более безопасных и надёжных систем передачи данных.    </li>
    <li class="qp__item descr1">
      Персонализация. Квантовое распределение ключей позволяет создавать уникальные криптографические ключи для каждого отдельного сеанса связи, что обеспечивает более высокий уровень безопасности.
    </li>
    <li class="qp__item descr1">
      Гибкость. Квантовый метод позволяет адаптировать систему под конкретные требования безопасности и производительности.
    </li>
    <li class="qp__item descr1">
      Интеграция с существующими системами. Квантовое распределение ключей может быть интегрировано с существующими системами безопасности, что упрощает переход на новые технологии.
    </li>
    <li class="qp__item descr1">
      Экологичность. Квантовые технологии могут способствовать снижению энергопотребления в системах безопасности, что важно для устойчивого развития.
    </li>
    <li class="qp__item descr1">
      Развитие новых методов. Квантовое распределение ключей стимулирует разработку новых методов криптографии и защиты информации, что способствует прогрессу в этой области.
    </li>
  </ul>

<!--  <div class="quantum__characteristics">-->
<!--    <h2 class="quantum__title-second text-h8 text-h8-2 text-uppercase">-->
<!--      Технические <br/> характеристики систем-->
<!--    </h2>-->
<!--    <div class="quantum__characteristics-swiper swiper">-->
<!--      <div class="swiper-wrapper">-->
<!--        <div class="swiper-slide">-->
<!--          <div class="swiper-zoom-container">-->
<!--            <img src="./img/quantum.png">-->
<!--          </div>-->
<!--          <div class="quantum__zoom">-->
<!--            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--              <path d="M17.5 17.5L13.1694 13.1694M13.1694 13.1694C14.3004 12.0384 15 10.4759 15 8.75C15 5.29822 12.2018 2.5 8.75 2.5C5.29822 2.5 2.5 5.29822 2.5 8.75C2.5 12.2018 5.29822 15 8.75 15C10.4759 15 12.0384 14.3004 13.1694 13.1694Z" stroke="#009A6D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--            </svg>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <p class="quantum__characteristics-text descr1">-->
<!--      КСК - квантовый сервер ключей, КМС - квантовый модуль сопряжения-->
<!--    </p>-->
<!--    <p class="quantum__characteristics-text descr1">-->
<!--      Определяется конфигурацией защищенной сети связи и расстоянием между сопряженными КСК и КМС    </p>-->
<!--  </div>-->
</div>