<div class="quantum__right-block">
  <ul class="quantum__right-list list-reset d-flex flex-column">
    <li class="quantum__right-item text-button">
      Квантово криптографические системы
    </li>
    <li class="quantum__right-item text-button">
      <a class="quantum__right-link">
        Квантовые системы выработки
        и распределения ключей
      </a>
    </li>
  </ul>
  <h2 class="text-uppercase text-h8 quantum__right-title">
    ОТправьте запрос на последнюю версию операционной системы
  </h2>
  <button class="quantum__button btn-reset" >
    отправить
  </button>
</div>