<div class="quantum__right-block">
  <ul class="quantum__right-list list-reset d-flex flex-column">
    <li class="quantum__right-item text-button">
      <a href="quantum.html" class="quantum__right-link quantum__right-link-green">
        Квантовые технологии
      </a>
    </li>
    <li class="quantum__right-item text-button">
      <a href="cryptosoftq.html" class="quantum__right-link">
        Cryptosoft-Q. Квантовая система выработки и распределения ключей
      </a>
    </li>
    <li class="quantum__right-item text-button">
      <a href="laboratory.html" class="quantum__right-link">
        Лаборатория квантовой оптики
      </a>
    </li>
  </ul>
</div>