.licenses {
  background-color: var(--gray-f5);
  padding: 82px 0 120px;

  &__content {
    padding-top: 60px;
  }

  &__top {
    padding-top: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  &__pages-title {
    padding-top: 0;

  }

  &__download-all {
    @include btn();
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--green);
    border-radius: 4px;
    padding: 9px 20px;
    &-svg {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span:first-child {
      svg path {
        transition: fill .3s ease-in-out;
      }
    }

    &:hover {
      span:first-child {
        svg path {
          fill: var(--white)
        }
      }
    }
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    &-checkbox {
      display: inline-block;
      cursor: pointer;
    }

    &-checkbox input[type="checkbox"] {
      display: none; /* Скрываем стандартный чекбокс */
    }

    &-checkbox span {
      display: inline-block;
      padding: 9.5px 30px;
      font-size: 1.4rem;
      line-height: 120%;
      font-weight: 300;
      border: 1px solid var(--green);
      color: var(--black);
      border-radius: 4px;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    &-checkbox input[type="checkbox"]:checked + span {
      background-color: var(--green);
      color: var(--white);/* Цвет кнопки, когда чекбокс выбран */
    }


    &-btns {
      margin-left: auto;
    }

    &-btn {
      @include btn();
      display: inline-block;
      padding: 6px 25px;
      color: var(--green);
      &:disabled {
        color: var(--gray-secondary);
        border-color: var(--gray-b3);
      }

      &-all {
        margin-right: 12px;
      }
    }
  }

  &__list {
    gap: 40px;
  }

  &__item {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    border-radius: 8px;
    background-color: var(--white);
    padding: 30px;

    &-left {
      width: 200px;
      flex-shrink: 0;
    }

    &-img {
      position: relative;
    }

    &-increase {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity .3s ease-in-out;

      &-svg {
        background-color: var(--green);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        opacity: 1;
      }
    }

    &-right {
      width: 100%;
      flex-shrink: 1;
      gap: 30px;
    }

    &-descr {
      gap: 20px;
    }

    &-name {
      font-family: "Sofia Sans Condensed";
      font-weight: 500;
      font-size: 3rem;
      line-height: 120%;
      text-transform: uppercase;
      margin-right: 10px;
    }

    &-filter {
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 120%;
      border: 1px solid var(--green);
      border-radius: 20px;
      flex-shrink: 0;
      padding: 7px 30px;
    }

    &-text {
      font-size: 1.6rem;
      line-height: 120%;
      font-weight: 300;
      max-width: 623px;
      width: 100%;

      &-wrap {
        width: 100%;
      }
    }

    &-download {
      @include btn();
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid var(--green);
      border-radius: 4px;
      padding: 7px 50px;

      span:first-child {
        svg path {
          transition: fill .3s ease-in-out;
        }
      }

      &:hover {
        span:first-child {
          svg path {
            fill: var(--white)
          }
        }
      }
    }

    &-bottom {
      gap: 10px;
      &-descr {
        gap: 8px;
      }

      &-text {
        font-size: 18px;
        font-family: "Sofia Sans Semi Condensed";
        line-height: 135%;
        text-transform: uppercase;
        span:first-child {
          margin-right: 6px;
        }
      }
    }
  }

  &__more {
    text-align: center;
    margin-top: 30px;

    &-btn {
      text-transform: uppercase;
      font-family: var(--text-sofia-condensed);
      font-size: var(--text-size-14);
      line-height: var(--text-height-100);
      padding-bottom: 2px;
      border-bottom: 1px solid var(--gray-secondary);
    }
  }

  &__modal {

    &-content {
      background-color: transparent;
      border: 0;
    }

    &-body {
      background-color: transparent;
      max-height: 90vh;


      img {
        max-height: 90vh;
        object-fit: contain;
      }
    }

    &-close {
      position: absolute;
      top: 20px;
      right: 40px;

      &-btn {
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .licenses {
    &__top {
      flex-direction: column;
      align-items: start;
      gap: 20px;
    }

  }
}

@media screen and (max-width: 767px) {
  .licenses {
    padding: 80px 0 60px;

    &__pages-header {
      margin-bottom: 18px;
    }

    &__filter {
      margin-bottom: 30px;

      &-list {
        gap: 14px;
      }

      &-checkbox span {
        padding: 10.5px 25px;
      }
    }

    &__content {
      padding-top: 40px;
    }

    &__list {
      gap: 20px;
    }

    &__item {
      padding: 20px;
      &-top {
        gap: 20px;
      }

      &-name {
        font-size: 2.4rem;
        margin-right: 0;
      }

      &-right {
        gap: 16px;
      }

      &-bottom {
        gap: 16px;

        &-text {
          font-size: 1.6rem;
        }
      }

      &-download {
        width: 100%;
      }
    }

    &__open {
      margin-top: 4px;
    }

    &__modal {
      &-close {
        width: 16px;
        height: 16px;
        top: 10px;
        right: 10px;
        svg {
          width: 16px;
          height: 16px;
        }
      }

      &-body {
        max-height: 80vh;
        img {
          max-height: 80vh;
        }
      }
    }
  }
}
