<div class="qp__left-block">
  <h1 class="text-h2 text-h2-1 qp__title text-uppercase">
    Облачные технологии операционной системы QP ОС
  </h1>
  <div class="qp__accordion">
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Гипервизор QP VMM
          </h3>
          <span class="qp__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            Гипервизор QP&nbsp;VMM представляет собой программный комплекс, предназначенный для создания, запуска и&nbsp;управления работой виртуальных машин (ВМ) в&nbsp;режиме полной виртуализации для платформ x86 и&nbsp;x64. ВМ&nbsp;в&nbsp;составе QP&nbsp;VMM повторяют аппаратную архитектуру компьютера и&nbsp;полностью изолированы друг от&nbsp;друга.
          </p>
          <p class="qp__accordion-descr-2 descr1">
            Продукт реализован в&nbsp;качестве модуля ядра операционной системы QP&nbsp;ОС, что дает следующие дополнительные преимущества в&nbsp;области производительности и&nbsp;безопасности:
          </p>
          <ul class="qp__roles-list list-reset d-flex flex-column">
            <li class="qp__item descr1">
              Для каждого абонента выделяется требуемое количество операивной памяти под задачи.
            </li>
            <li class="qp__item descr1">
              QP&nbsp;VMM&nbsp;на базе QP&nbsp;ОС&nbsp;позволяет пользователям работать в&nbsp;нескольких изолированных гостевых&nbsp;ОС с&nbsp;доступом к&nbsp;различным сегментам ЛВС, а&nbsp;обмен информацией между&nbsp;ВМ происходит через специализированный канал передачи данных вместо сетевого взаимодействия.
            </li>
            <li class="qp__item descr1">
              QP&nbsp;VMM поддерживает технологию VTD, позволяющую извлечь выбранное аппаратное устройство изсостава хостового компьютера и&nbsp;включить в&nbsp;ВМ, в&nbsp;результате управление полностью перекладывается на&nbsp;гостевую ОС.
            </li>
            <li class="qp__item descr1">
              Решение имеет заключение ФСБ России для разработки на&nbsp;его основе систем, обрабатывающих информацию до&nbsp;уровня &laquo;совершенно секретно&raquo; включительно
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Кластер виртуальных машин
          </h3>
          <span class="qp__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr-2 descr1">
            Кластер виртуальных машин QP&nbsp;Кластер ВМ&nbsp;и&nbsp;распределенная файловая система представляют собой масштабируемую модульную среду хранения данных и&nbsp;интеграции информационных систем, состоящую из&nbsp;кластера виртуальных машин.
          </p>
          <p class="qp__accordion-descr descr1">
            Кластер виртуальных машин QP&nbsp;Кластер ВМ&nbsp;представляет собой среду виртуализации, функционирующую на&nbsp;аппаратных ресурсах серверов с&nbsp;процессорами от&nbsp;компании Intel, объединённых в&nbsp;общую сеть. QP&nbsp;Кластер ВМ&nbsp;объединяет аппаратные ресурсы серверов, интерпретируя их&nbsp;как узлы вычислительной системы, позволяющие управлять виртуальными машинами.
          </p>
          <p class="qp__accordion-descr-2 descr1">
            QP&nbsp;Кластер ВМ&nbsp;разработан на&nbsp;основе операционной системы QP&nbsp;ОС, виртуальные машины работают под управлением гипервизора QP&nbsp;VMM.
          </p>
          <p class="qp__accordion-descr descr1">
            Кластер виртуальных машин представляет собой серверную надстройку над гипервизором QP VMM с набором служб и прикладных программ для обеспечения выполнения функционала кластера виртуальных машин.
          </p>
          <p class="qp__accordion-descr-2 descr1">
            Какие задачи решаются?
          </p>
          <ul class="qp__roles-list list-reset d-flex flex-column">
            <li class="qp__item descr1">
              Обеспечение среды исполнения&nbsp;ВМ без привязки к&nbsp;конкретному компьютеру на&nbsp;базе серверов с&nbsp;процессорами от&nbsp;компании Intel, объединенных в&nbsp;локальную вычислительную сеть;
            </li>
            <li class="qp__item descr1">
              Предоставление базовых образов предустановленных&nbsp;ОС в&nbsp;качестве исходных при создании&nbsp;ВМ;
            </li>
            <li class="qp__item descr1">
              Предоставление механизмов резервного копирования и&nbsp;восстановления&nbsp;ВМ из&nbsp;резервной копии;
            </li>
            <li class="qp__item descr1">
              Предоставление интегральной среды управления компонентами кластера: серверами, системами хранения данных (СХД) и&nbsp;ВМ.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Распределенная файловая система
          </h3>
          <span class="qp__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr-2 descr1">
            Кластер хранения данных функционирует на&nbsp;основе кластерной файловой системы CSFS из&nbsp;состава операционной системы QP&nbsp;ОС&nbsp;и&nbsp;поддерживает несколько конфигураций. К&nbsp;параметрам, от&nbsp;которых зависит конфигурация кластера хранения данных, относятся:
          </p>
          <div class="qp__accordion-descr">
            <ul class="qp__roles-list list-reset d-flex flex-column">
              <li class="qp__item descr1">
                Фактор репликации;
              </li>
              <li class="qp__item descr1">
                Минимальный фактор репликации;
              </li>
              <li class="qp__item descr1">
                Количество узлов хранения;
              </li>
              <li class="qp__item descr1">
                Количество и объем логических томов на хранилище.
              </li>
            </ul>
          </div>
          <p class="qp__accordion-descr-2 descr1">
            Кластерная файловая система поддерживает основные операции традиционных файловых систем:
          </p>
          <ul class="qp__roles-list list-reset d-flex flex-column">
            <li class="qp__item descr1">
              Создание файлов;
            </li>
            <li class="qp__item descr1">
              Создание каталогов;
            </li>
            <li class="qp__item descr1">
              Перечисление каталога;
            </li>
            <li class="qp__item descr1">
              Чтение файла;
            </li>
            <li class="qp__item descr1">
              Запись в файл;
            </li>
            <li class="qp__item descr1">
              Переименование файла;
            </li>
            <li class="qp__item descr1">
              Удаление файла;
            </li>
            <li class="qp__item descr1">
              Получение размера файла;
            </li>
            <li class="qp__item descr1">
              Изменение размера файла;
            </li>
            <li class="qp__item descr1">
              Получение базовой информации о&nbsp;файле или каталоге (время создания, последнего доступа и&nbsp;последней модификации, атрибуты;
            </li>
            <li class="qp__item descr1">
              Получение стандартной информации о&nbsp;файле или каталоге (размер на&nbsp;диске, фактический размер, количество ссылок на&nbsp;объект, пометка на&nbsp;удаление, является&nbsp;ли директорией);
            </li>
            <li class="qp__item descr1">
              Изменение базовой информации о файле или каталоге;
            </li>
            <li class="qp__item descr1">
              Изменение стандартной информации о файле или каталоге.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Тонкий клиент и сервер терминалов
          </h3>
          <span class="qp__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr descr1">
            В&nbsp;операционной системе QP&nbsp;ОС&nbsp;возможно подключение к&nbsp;рабочему столу дистанционно, посредством тонких клиентов. В&nbsp;результате компьютер под управлением QP&nbsp;ОС&nbsp;может функционировать в&nbsp;качестве терминального сервера.
          </p>
          <div class="qp__accordion-img">
            <img src="./img/JionExample.png">
          </div>

          <p class="qp__accordion-descr-2 descr1">
            Для оптимизации взаимодействия клиента с&nbsp;сервером удаленных рабочих столов применяются следующие средства:
          </p>
          <div class="qp__accordion-descr">
            <ul class="qp__roles-list list-reset d-flex flex-column">
              <li class="qp__item descr1">
                Программные кодеки сжатия изображений (NsCodec, RemoteFx);
              </li>
              <li class="qp__item descr1">
                Сообщения формата fast-path;
              </li>
              <li class="qp__item descr1">
                Сжатие сообщений алгоритмами MPPC, RDP 6.0 Bitmap Compression, также RDP 6.1 Bitmap Compression;
              </li>
              <li class="qp__item descr1">
                Поддержка отрисовки на основе графических примитивов.
              </li>
            </ul>
          </div>

          <p class="qp__accordion-descr-2 descr1">
            Функциональные возможности QP&nbsp;RDP:
          </p>
          <div class="qp__accordion-descr">
            <ul class="qp__roles-list list-reset d-flex flex-column">
              <li class="qp__item descr1">
                Низкоуровневое перенаправление USB устройств (сканеры, принтеры и&nbsp;т.д.);
              </li>
              <li class="qp__item descr1">
                Перенаправление аудио-потока;
              </li>
              <li class="qp__item descr1">
                Разрешение экрана до&nbsp;8192&times;4096;
              </li>
              <li class="qp__item descr1">
                Глубина цвета до&nbsp;32&nbsp;бит/пиксель;
              </li>
              <li class="qp__item descr1">
                Перенаправление логических дисков, а&nbsp;также COM-портов.
              </li>
            </ul>
          </div>
          <p class="qp__accordion-descr-2 descr1">
            Системные требования QP&nbsp;RDP:
          </p>
          <div class="qp__accordion-descr">
            <ul class="qp__roles-list list-reset d-flex flex-column">
              <li class="qp__item descr1">
                Процессор: минимально требуется 2-ядерный процессор с&nbsp;частотой от&nbsp;1.6&nbsp;ГГц, рекомендуется 4-ядерный процессор с&nbsp;частотой от&nbsp;3&nbsp;ГГц;
              </li>
              <li class="qp__item descr1">
                Оперативная память: минимально от&nbsp;1024&nbsp;МБ, рекомендуется от&nbsp;4096&nbsp;МБ;
              </li>
              <li class="qp__item descr1">
                Сеть:
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th class="col-2">Сценарий</th>
                      <th class="col-2">Скорость</th>
                      <th class="col-4">Описание</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Режим простоя</td>
                      <td>От 1 Мб/c</td>
                      <td>Пользователь приостановил свою работу и не взаимодействует с дистанционным рабочим столом</td>
                    </tr>
                    <tr>
                      <td>Работа с офисным пакетом</td>
                      <td>От 10 Мб/с</td>
                      <td>Пользователь активно работает с офисным пакетом: набирает текст, вставляет изображения, и переключается между документами.</td>
                    </tr>
                    <tr>
                      <td>Взаимодействие с веб-браузером или медиа-галереей </td>
                      <td>От 100 Мб/c</td>
                      <td>Пользователь активно взаимодействует с графическим интерфейсом, включающим множество статических и анимированных изображений. Пользователь активно пользуется вертикальной и горизонтальной прокруткой страниц.</td>
                    </tr>
                    <tr>
                      <td>Просмотр видео</td>
                      <td>От 1000 Мб/c</td>
                      <td>Пользователь работает с мультимедиа.</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </li>
            </ul>
          </div>

          <p class="qp__accordion-descr-2 descr1">
            Связь с&nbsp;другими протоколами.
          </p>
          <p class="qp__accordion-descr-2 descr1">
            Протокол RDP основан на&nbsp;серии протоколов ITU &laquo;T.120&raquo;. Стандарт &laquo;T.120&raquo; состоит из&nbsp;набора коммуникационных и&nbsp;прикладных протоколов. &laquo;QP-RDP&raquo; реализует следующие из&nbsp;них:
          </p>
          <div class="qp__accordion-descr">
            <ul class="qp__roles-list list-reset d-flex flex-column">
              <li class="qp__item descr1">
                Протокол для предоставления транспортного сервиса в режиме соединения (X224);
              </li>
              <li class="qp__item descr1">
                Определение сервиса многоточечной связи (T122);
              </li>
              <li class="qp__item descr1">
                Стеки сетевых протоколов передачи данных для мультимедийных конференций (T123)
              </li>
              <li class="qp__item descr1">
                Общее управление конференцией (T124);
              </li>
              <li class="qp__item descr1">
                Определение протокола сервиса многоточечной связи (T125);
              </li>
              <li class="qp__item descr1">
                Многоточечный общий доступ к приложениям (T128).
              </li>
            </ul>
          </div>
          <p class="qp__accordion-descr-2 descr1">
            QP&nbsp;RDP реализует следующие расширения посредством виртуальных каналов:
          </p>
          <div class="qp__accordion-descr">
            <ul class="qp__roles-list list-reset d-flex flex-column">
              <li class="qp__item descr1">
                Расширение виртуального канала аудиовыхода (MS-RDPEA);
              </li>
              <li class="qp__item descr1">
                Расширение виртуального канала аудиовхода (MS-RDPEAI);
              </li>
              <li class="qp__item descr1">
                Расширение виртуального канала хоста динамических каналов (MS RDPEDYC);
              </li>
              <li class="qp__item descr1">
                Расширение виртуального канала файловой системы (MS-RDPEFS);
              </li>
              <li class="qp__item descr1">
                Расширение виртуального канала низкоуровнего перенаправления USB устройств (QP-USB).
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Система хранения данных
          </h3>
          <span class="qp__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr-2 descr1">
            Технологии iSCSI и Fiber Channel являются основой для организации сети хранения данных.
          </p>
          <div class="qp__accordion-descr">
            <ul class="qp__roles-list list-reset d-flex flex-column">
              <li class="qp__item descr1">
                iSCSI
                <p class="descr1">
                  Протокол iSCSI осуществляет подключение сетевого хранилища посредствам одноименного протокола на&nbsp;основе протокола TCP. Данная технология обеспечивает высокую скорость доступа к&nbsp;хранилищу, низкую стоимость оборудования и&nbsp;высокую надёжность подключения.
                  Реализованы как серверная часть (таргет&nbsp;/ целевое устройство), так и&nbsp;клиентская часть (инициатор) протокола iSCSI.
                </p>
              </li>
              <li class="qp__item descr1">
                Fiber Channel
                <p class="descr1">
                  Посредством технологии Fiber Channel реализуется высокоскоростное подключение сетевых хранилищ посредствам соответствующего протокола и&nbsp;совместимого сетевого оборудования. В&nbsp;настоящий момент в&nbsp;QP&nbsp;ОС&nbsp;поддерживается Fiber Channel адаптер QLogic QLA2560 для поддержки как серверной, так и&nbsp;клиентской части данной технологии. Управление данными компонентами в&nbsp;настоящий момент осуществляется посредством консольных приложений.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="ac qp__accordion-item">
      <div class="ac-header qp__accordion-item-head">
        <div class="ac-trigger qp__accordion-item-trigger">
          <h3 class="text-h4">
            Система электронного документооборота QP Docs M
          </h3>
          <span class="qp__accordion-svg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1547 10.8141C21.7069 10.3834 20.9947 10.3974 20.5641 10.8453L15 16.7519L9.43594 10.8453C9.00529 10.3974 8.29312 10.3834 7.84525 10.8141C7.39738 11.2447 7.38342 11.9569 7.81406 12.4047L14.1891 19.1547C14.4012 19.3753 14.694 19.5 15 19.5C15.306 19.5 15.5988 19.3753 15.8109 19.1547L22.1859 12.4047C22.6166 11.9569 22.6026 11.2447 22.1547 10.8141Z" fill="#009A6D"/>
            </svg>
          </span>
        </div>
      </div>
      <div class="ac-panel qp__accordion-item-body">
        <div class="qp__accordion-block">
          <p class="qp__accordion-descr-2 descr1">
            Система электронного документооборота (СЭДО) QP&nbsp;Docs предназначена для автоматизированной обработки входящей и&nbsp;исходящей корреспонденции.
          </p>
          <p class="qp__accordion-descr-2 descr1">
            QP&nbsp;Docs строится на&nbsp;основе функциональных возможностей, предоставляемых SharePoint Foundation и&nbsp;SharePoint Server 2013. В&nbsp;качестве хранилища данных сервисы SharePoint используют базы данных СУБД SQL Server.
          </p>
          <p class="qp__accordion-descr descr1">
            Удобный пользовательский интерфейс позволяет быстро получить доступ к&nbsp;необходимой информации.
          </p>
          <p class="qp__accordion-descr-2 descr1">
            Основные функциональные возможности:
          </p>
          <div class="qp__accordion-descr">
            <ul class="qp__roles-list list-reset d-flex flex-column">
              <li class="qp__item descr1">
                Хранилище документов;
              </li>
              <li class="qp__item descr1">
                Средства полнотекстового и атрибутивного поиска;
              </li>
              <li class="qp__item descr1">
                Средства разграничения доступа;
              </li>
              <li class="qp__item descr1">
                Инфраструктура рабочих процессов (ознакомление, согласование/утверждение, архивирование и&nbsp;т.д.);
              </li>
              <li class="qp__item descr1">
                Персонализация отображения;
              </li>
              <li class="qp__item descr1">
                Интеграция с приложениями Microsoft Office;
              </li>
              <li class="qp__item descr1">
                Интеграция с электронной почтой;
              </li>
              <li class="qp__item descr1">
                Электронная подпись
              </li>
            </ul>
          </div>
          <p class="qp__accordion-descr descr1">
            Важным преимуществом использования технологий SharePoint является простота доработки сайта.
          </p>
          <div class="qp__example-block">
            <div class="qp__example-swiper swiper">
              <div class="swiper-wrapper qp__example-wrapper">
                <div class="qp__example-slide swiper-slide">
                  <img src="./img/7. QPDocsM.png">
                </div>
                <div class="qp__example-slide swiper-slide">
                  <img src="./img/7. QPDocsM.png">
                </div>
              </div>
              <div class="qp__example-pagination"></div>
            </div>
            <button class="btn-reset qp__swiper-btn qp__swiper-prev">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.5 12L4.5 12M4.5 12L11.25 18.75M4.5 12L11.25 5.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <button class="btn-reset qp__swiper-btn qp__swiper-next">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.5 12.5664L19.5 12.5664M19.5 12.5664L12.75 19.3164M19.5 12.5664L12.75 5.81641" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>